/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face
{
font-family: headingfonts;
src: url('../htmlfonts/HelveticaNeue-ThinExt.OTF'),
url('../htmlfonts/HelveticaNeue-ThinExt.TTF'),
url('../htmlfonts/HelveticaNeue-ThinExt.EOT');
}

@font-face
{
font-family: headingfonts1;
src: url('../htmlfonts/Helvetica67CondensedMedium.OTF'),
url('../htmlfonts/Helvetica67CondensedMedium.TTF'),
url('../htmlfonts/Helvetica67CondensedMedium.EOT');
}

/*clearfix*/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

html, body, h1, h2, h3, h4, h5, h6, ol, ul, li, a, div, img, p, form {
	padding:0;
	margin:0;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.clearxy {
	clear:both;height:0px;
} 
.height10 {
	height:10px;clear:both; margin:0px; padding:0px; line-height:10px;
}

body{
	width:100%; 
	margin:0 auto;
	background-color:#f0f0f0; background-repeat:repeat;
	height:auto;
}

.wrapper{
	width:100%; 
	margin:0 auto; 
}

.header_blue{
	width:100%; margin:0 auto;
	background-color:#01406d;
	height:3px;
}

.headermain{
	width:1000px; 
	margin:0 auto;
	background:url(../images/logo.png) top left no-repeat; 
	height:auto;
}
.header{
}

.header_left{
	background-image:url(../images/left_logo_bg.png); background-repeat:repeat-x;
	height:250px; width:250px;
	float:left; z-index:-1;
}

.logo{
	float:left;
	width:250px;
	text-align:center;
}


.header_right {
    float: right;
    /*height: 236px;*/
	min-height:236px;
    width: 700px;
	position: relative;
}
.language {
    width:180px; float:right; margin:6px 0 0 0;
}
.language_selection {
	float: right;
	margin: 8px 15px 0 0; 
}
#Mainnav12{
	list-style:none; 
	float:right;/*width:130px;*/ padding-right:20px;
}
#Mainnav12 li{
	float:left; position:relative;margin:0; padding:0; 
}

#Mainnav12 li a{
	display:block;color:#01406d;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;border:0px;
	font-size:11px; padding:5px 4px 0 4px;
	line-height:25px; 
}
.formin1{
	color:#01406d; float:left; width:50px; padding:5px 0 5px 17px;
	background-color:#01406d;
    border:solid 1px #000000;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomleft:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}

#Mainnav12 span{
	font-family:Arial, Helvetica, sans-serif;
	display:block;color:#01406d;
	text-decoration:none;border:0px;
	font-size:11px; padding:12px 5px 0 5px;
}

.Content{
	width:900px;
	margin:0 auto;
	background-color:#ffffff;
    /*margin-top: -106px;*/
}
.com_width{
	width:530px;
	margin:0 auto; text-align:center;
	margin-top:5px; margin-bottom:10px; 
}

.types{ 
	margin:0 auto; text-align:center;
	margin-bottom:7px; margin-top:7px;
}
.banner {
    float: left;
    margin-top: -39px;
    width: 900px;
}
.shadow{
	width:900px;
	float:left;	
	margin-top:-3px;
}
.connetentin {
    float: left;
 /*   margin-top: -106px; */
    width: 900px; background-color:#ffffff;
}

.black_light{
	background-image:url(../images/black_light.png); background-repeat:no-repeat;
	height:63px; float:left; width:900px;
	margin-top:-65px;
	font-family:headingfonts;
	font-size:30px;
	color:#ffffff;
	padding:18px 0 0 30px;
}

.black_light a{
	font-family:headingfonts;
	font-size:18px;
	color:#1591e9;
	padding:0 0 0 10px;
	text-decoration:none;
}

.box{
	width:895px;
	float:left;
	margin:50px 0 30px 5px;
}

.box1{
	width:266px;
	float:left;
	background-image:url(../images/box.png); background-repeat:no-repeat;
	height:100px;
	font-family:headingfonts;
	font-size:16px;
	color:#000000;
	text-align:center;
	line-height:30px;
	padding:25px 0 0 0;
}

.box1 a{
	font-family:headingfonts;
	font-size:14px; 
	color:#000000;
	text-align:center;
	text-decoration:none;
}

.box1 span{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#555252;
}

.box1a{
	width:266px;
	float:left;
	margin-top:-26px;
}

.box_main{
	width:270px;
	float:left;
	margin-left:20px;
}

.footer{
	width:1000px;
	margin:0 auto;
}

.footer_left{
	width:700px;
	float:left;
	padding:15px 0 0 50px;
}

.fleft{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#555252;
}

.fleft a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#555252;
	text-decoration:none;
	text-align:left;
}

.fleft a:hover{
	text-decoration:underline;
}

.fleft1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#555252;
	text-align:left;
}
.footer_right {
    background-color: #000000;
    bottom: 170px;
    float: right;
    height: 250px;
    margin-bottom: -164px;
    position: relative;
    right: 5px;
    width: 250px;
    z-index: -99999 !important;
}
.social_logo {
    float: left;
    margin: 199px 0 0 30px;
    width: 150px;
}
.face {
	width:30px;
	float:left;
}
.face a{
	opacity:0.6;
}

.face a:hover{
	opacity:1;
}

.tweet{
	width:60px;
	float:left;
}

.tweet a{
	opacity:0.6;
}

.tweet a:hover{
	opacity:1;
}

.in{
	width:50px;
	float:left;
}

.in a{
	opacity:0.6;
}

.in a:hover{
	opacity:1;
}

.active_bright{
	opacity:1 !important;
}
.contact-us-div{
	float: left;
	width: 314px;
	font: normal 11px arial;
	position: relative;
	top: -14px;
	left: -21px;
}
.contact-us-div b{
	font-weight: 600;
}
.contact-us-div a {
	font: normal 12px arial;
	color: blue;
	text-decoration: none;
}
.DivSearch{
	float:right;
	background-image:url(../images/search_box.png);
	background-repeat:no-repeat;
	height:27px; width:287px;
	margin:10px 50px 28px 0;
}

.searchbg_Val{ 
	 width:250px; height:23px; background-color:#f5f6f6; color:#000000;
	 border:none; outline:none; margin:2px 0 0 2px; float:left; padding:0 0 0 3px; line-height:28px;
	 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}

.searchbg_btn{ 
	 width:25px; float:left; cursor:pointer;
	 background-image: url(../images/search.png); border:none; outline:none;
	 background-repeat:no-repeat; height:25px; float:right; margin:1px 0 0 0px; 
}

/* ====================== new Menu ===================== */

.menu_main{
	width:662px; float:right;
}

.main_menu {
	width: 100%;
	height: 30px;
}
.main_menu li {
	float: left;
	position: relative;
}

.main_menu li a {
	display: inline-block;
	padding: 8px 25px;
	margin: 0 4px;
	text-decoration: none;
	color: #000;
	font: bold 12px arial;
	border-radius: 9px;
	-o-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.main_menu li a.active {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.main_menu li ul.level2 { 
	z-index: 1000;
	display:none; 
	position: absolute; 
	top: 31px;
	left: -190px;
	width:512px;
	padding: 5px;
	border-radius: 9px;
	-o-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.main_menu li ul.level2 a { 
	padding: 8px 24px;
	font: bold 12px arial;
}
.main_menu li ul.level2 a:hover { 
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.main_menu li:hover > a { color: #fff;	}
.main_menu li:hover > ul { display: block;	}
.main_menu li:hover{
	border-radius: 9px;
	-o-border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.main_menu li ul.level2 li { 
	background: none;
	width: 160px;
	display: inline-block;
}

.headerText {
	position: absolute;
	left: 40px;
	bottom: 30px;
	width: 585px;
	text-align: justify;
	font-style: italic;
	font-weight: bold;
}

.common_titlesm{
 	float: left; /*background:#efefef;*/
    width: 900px; margin:40px 0 0 0; 
}

 .common_titles{
 	float: left; background:url(../images/title_linebg.png) repeat-x;
    width: 900px; height:10px; /*background-color:#efefef;*/ margin:1px 0 1px 0;
}

 .title_lft{
 	float: left; background: url(../images/title_lftbg.png) no-repeat;
	height:46px; width:32px; margin:-20px 0 1px 0;
}
 .title_mid{/* url(../images/title_mbg.png) repeat-x*/
 	float: left; background: #01406d;
	height:46px; width:auto; margin:-20px 0 1px 0; padding:0px 15px 0 15px;
	min-width:210px; line-height:45px; font-size:13px; color:#FFFFFF; text-align:center;
	font-weight: bold;
}
 .title_rgt{
 	float: left; background: url(../images/title_rbg.png) repeat-x;
	height:46px; width:5px; margin:-20px 0 1px 0;
}
 .text_con{
 	float:left;
	padding:30px 0px 0 26px;
	line-height:26px; font-size:14px; color:#7a7b7b; text-align:left;
	font-weight:bold;
}
 .text_connw{
 	float:left;
	padding:30px 0px 0 0px;
	line-height:26px; font-size:14px; color:#7a7b7b; text-align:left;
	font-weight:bold;
}
 .text_connw1{
 	float:left;
	padding:12px 0px 0 0px;
	line-height:20px; font-size:12px; color:#323333; text-align:left;
	font-weight:bold;
}
.text_con span a{
	line-height:26px; font-size:14px; color:#0382cd; text-decoration:underline; text-align:left;
	font-weight:bold;padding:0px 0px 0 5px;
}
.text_con span a:hover{color:#7a7b7b; text-decoration:none;}

/****************************************Form_Style***********************************/
/*dropdown - 06-04-13*/

.menu_dropdown{
	width:650px;
	float:left;
}

.menu_dropdown1{
	width:200px;
	float:left; 
}


.form_com{
	width:850px;
	margin:0 auto;
}

.form, .contact-success {
	padding:1% 5% 5% 5%; margin:6px 0 0 0;
	/*background-color: #ffffff;*/
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	overflow: hidden;*/
}
.contact-success {
	color: #fff;
	font-size:11px;
}
.form ul {
	margin:10px 0 0 0;
	padding: 0;
	list-style-type: none;
}
.form  li {
	position: relative;
}
.form input{
	width:260px;
	position: relative;margin:7px 0 7px 0;
	padding:1px 5px 5px 5px;/* height:13px;*/
}
.form textarea {
	width: 260px;
	height: 130px;
}
.form input.submit {
	width:120px !important;
}

.form  li p, .form input.submit {
	float:left; width:150px;font-family:Arial, Helvetica, sans-serif; font-size:13px !important; color:#666666;
	margin-right:10px; padding:15px 0 0 0;
}
.form em {
	color:#d21010;
	display: inline;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.form em a{
	color:#d21010;
	display: inline;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration:underline;
}

.form .contact-error {
    color: #EC5B43;
    font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
    position: absolute;
    top: 0;
    right: 60px;
}
.contact-info {
	list-style-type: none;
	 color: #333333 !important;
}
.contact-info li{margin:3px 0 0 15px;
font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:14px; line-height:19px; font-weight:normal;
	}
.contact-info li a{
	font-family:Arial, Helvetica, sans-serif; text-decoration:underline; color:#18686d; font-size:12px; line-height:19px; font-weight: bold;
	}
	.contact-info li a:hover{
	 text-decoration: none; color:#26cbd6; 
	}
input, textarea, select {
	outline: medium none;
	font-family:  Helvetica, Arial, sans-serif;
	font-size:12px; 
	color: #bbb; height:20px;
	border: 1px solid #ddd;
	-webkit-transition: all 0.2s ease-out 0s;   
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s; 
	background-color: #fcfcfc;
}
input:focus, textarea:focus, select:focus {
	border: 1px solid #30629e;
	background-color: #fff;
	color: #676767;
	/*box-shadow:0 0 4px rgba(82,168,236,.5);
	-moz-box-shadow:0 0 4px rgba(82,168,236,.5);
	-webkit-box-shadow:0 0 4px rgba(82,168,236,.5);*/
	/*-webkit-box-shadow: inset 1px 1px 4px #e6e7ec, 0 0 5px #e6e7ec;
	-moz-box-shadow:inset 1px 1px 4px #e6e7ec, 0 0 5px #e6e7ec; 
	box-shadow: inset 1px 1px 4px #e6e7ec, 0 0 5px #e6e7ec; */
}
input.submit, input.submit:focus, input.submit:active {
	cursor:pointer;
	text-align:center;
	font-size:11px !important;
	font-weight: bold;
	line-height: 12px;
    color: #fff !important;
	text-decoration:none !important;	
	padding:5px;
	border: none; float:right;
	box-shadow:0 0 0;background-color: #000000;
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
}
.check1{
	width:120px; float:left; text-align:left; 
	border:1px solid #009900;
}
.check{ 
	text-align:left !important; float:left !important; 
	margin:10px 0 0 0 !important;width:20px !important; 
	background: none !important; border:none !important;
}
.check_text{
	width:120px; float:left;font-size:13px; 
	color:#333333; line-height:40px; font-weight:bold;
}
.check_text1{
	width:100px; float:left;font-size:11px; 
	color:#333333; line-height:40px;
}
.Seltop{
	width:272px; height:30px; padding:4px; 
	line-height:29px; border:1px solid #dddddd; 
	background-color:#fcfcfc; margin:6px 0 6px 0;  
}
.txt_con{
	width:268px; height:22px; padding:4px; 
	line-height:29px; border:1px solid #dddddd; 
	background-color:#fcfcfc; margin:12px 0 0 0;  
}
.txt_con1{
	width:160px; height:22px; padding:4px; 
	line-height:29px; border:1px solid #dddddd; 
	background-color:#fcfcfc; margin:12px 0 0 0;  
}
.location{
	width:200px; float:left; margin:3px 0 0 20px;
}
.location_tot{
	width:620px; float:left; margin:3px 0 0 20px; background-color:#eff7fb; border:1px solid #CCCCCC;
}
.main_in1_CC { 
	margin:0 auto; width:200px !important; 
	margin-bottom:20px; 
}
.mainbtns { 
	margin:0 auto; width:330px !important; 
	margin-bottom:20px; 
}
.DivReg{
	width:100%; text-align:left;color:#3e3e40;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:2px; float:left;
}

.DivReg1{
	width:30% !important;float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;  text-align:left !important;
	font-size:13px; 
	line-height:20px; 
	color:#544d44;
}

.DivReg2{
	width:3%;text-align:center; float:left;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	color:#000000;
}
.DivReg3{
	width:64%; float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left !important;
	font-size:13px; 
	position:relative;
	z-index:inherit; padding:0 0 0 5px;
	line-height:20px;word-wrap:break-word;
	color:#686664;
}
.DivReg3 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	color:#30629e;
	text-decoration:none;
}

.DivReg3 a:hover{
	text-decoration:underline;
}
.area_txt{
	width:260px !important; background-color:#fcfcfc; margin:10px 0 0 0 !important; 
	border:1px solid #dddddd; height:90px !important; float:left; 
}
.head_in{
	float:left;font-family:Arial, Helvetica, sans-serif;
	font-weight:bold; text-transform:uppercase;
	font-size:16px; padding:12px 0 10px 0;
	line-height:20px; 
	color:#01406d; margin:2px 0 0 0;
	width:100%;
}
.contct_sep{width:410px; float:left;}
.btn1box{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; font-weight:bold !important;
	 text-align:center; padding:3px 0 7px 5px;
	width:155px !important;color:#FFFFFF !important;border:none;cursor:pointer;
	background-color:#008bcb !important;
	-moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px; line-height:22px !important;
    border-radius:13px; 
	border:1px solid #255c9c; height:28px;
 }
 .ma_cform{width:850px; float:left;}
 /* .login_cform{width:850px; float:left;}*/
 
 

.forgot_create1{
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#01406d; margin:0 0 15px 0;
}

.forgot_create1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#01406d; 
	text-decoration:underline;
}
.product{
    float: left; background: #f0f0f0 url(../images/prolist_topbg.png) no-repeat top; min-height:30px;
    width:895px; margin:0 0 15px 0;
}
.productbtm{
    float: left; background: #f0f0f0 url(../images/prolist_btmbg.png) no-repeat bottom; min-height:30px;
    width:895px; 
}
/*.product {
    float: left;
    width:900px; border:1px solid #999999;
}*/
.productmain{
    width:896px; margin:0 auto;
	margin-top:25px; /*overflow:auto;
	height:500px;*/
}
.pro_inf{
    float:left;
    width:250px; border:1px solid #003300;
}
.NProList{
	padding-top:15px;
	width:260px; min-height:300px;
	/*height:300;border:1px solid #006600;*/ 
	padding-left:0px;
	margin-left:10px;
	background-image: url(../images/nre-pro-bg.png);
	background-position:top left;
	background-repeat:no-repeat;
}
.NProList h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:30px;text-align:center;
}
.NProList h2 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px; color:#333333;  
	line-height:25px; 
	text-decoration:none; font-weight:bold;
}
.NProList p{
	color:#7b7c7c;
	padding-right:45px;
	font-weight:bold;
	font-size:11px;
	line-height:16px;
}
.mview{ float:right; width:90px; margin:5px 0 0px 0;}
.mview a{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;font-size:12px; float:left;
	text-decoration:none; font-weight:bold; 
	background: url(../images/morebtn.png) no-repeat;
	width:87px; height:31px; padding:7px 0 0 19px;
	}
.mview a:hover{color:#07a1fd;}
.cate{
	font-family:Arial, Helvetica, sans-serif;
	color:#0386d4;font-size:12px; float:left;
    font-weight:bold; padding:1px 0 5px 0;
	text-align:center; width:250px;
}
.pro_lft{float:left; width:320px;}
.proimg{ margin:3px 0 0 11px;}
.pro_rgt{float:left; width:560px; }
.titlehead{
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px; color:#333333; float:left;
	width:100%;
	line-height:25px; padding:3px 0 0 10px; 
	text-decoration:none; font-weight:bold;
}
.description{
	width:545px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; color:#1d1d1d;  
	margin:0px 0 0px 10px;
	border-bottom:1px dotted #a8a9aa; 
	
}
.description p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#3c3d3d;  
	line-height:23px; 
	font-weight:bold; padding:0 0 10px 0;
}
.title_inn{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; color:#0279c0; float:left;
	width:100%;
	line-height:21px; padding:3px 0 0 10px; 
	 font-weight:bold;
}
.inqry{ width:100px; margin:5px 0 0px 0; margin:0 auto; }
.inqry a
{
	font-family:Arial, Helvetica, sans-serif;
	color:#FFFFFF;font-size:12px; float:left; text-align:center;
	text-decoration:none; font-weight:bold; 
	background: #01406d; border:1px solid #0279c0; margin:10px 0 0 0;
	width:100px; height:24px; line-height:19px; padding:7px 0 0 0px;
}
.configurator_main{
	width:890px; margin:0 auto;
	margin-top:20px; 
}

/*.configurator_main1{
	width:680px; float:left;
	margin-top:20px; 
}

.configurator_main2{
	width:210px; float:left;
	margin-top:20px; 
}*/
.commontab{
	width:280px;margin:0 auto;cursor:pointer;
	margin-top:19px; margin-bottom:10px; 
}

.tab_lft{ float:left; background:url(../images/tab_lbg.png) no-repeat; width:17px; height:42px; margin:1px 0 0 0;}
.tab_rgt{ float:left; background:url(../images/tab_rbg.png) no-repeat; width:49px; height:46px;}
.tab_mid
{ 
	float:left; background:url(../images/tab_mbg.png) repeat-x; width: auto; 
	min-width:200px;height:42px;margin:1px 0 0 0;
	color:#FFFFFF; font-size:13px; text-align:center;
	font-weight:bold; line-height:40px;
}
.instut{
	width:750px; float: left;
}
.instut p
{ 
	color:#3a3c3e; font-size:13px; padding:16px 0 10px 20px;
	font-weight:bold; line-height:23px;
}
.formlft_pro{
	width:50px; float:left;
	background-color:#d1d3d3;margin:5px 0 5px 17px;
}
.formrgt_pro{
	width:400px;float:left; border:1px solid #99CCCC;
	background-color:#FFFFFF;
}

.radio_class{
	width:15px;
	float:left;
	margin:1px 10px 0 0;
}
.button_next11{
	width:41%; float:right; text-align:right;
	margin:10px 10px 10px 0;
}
.button_next1a{
	background:url(../images/btnbgs.png) repeat-x;
	height:27px;width:auto; min-width:68px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	line-height:18px; 
	text-align:center;
	font-weight:bold !important;
	color:#ffffff;border:none;cursor:pointer;
	margin-right:7px; padding:0 0 4px 0;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
 }
 
.button_next1ab{
 	background: url(../images/btnbg_bl.png) repeat-x;
	/*background-image:url(../images/button_next4.png); background-repeat:no-repeat;*/
	height:27px;width:auto; min-width:95px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; padding:0 0 4px 0;
	line-height:15px; 
	text-align:center;
	font-weight:bold !important;
	color:#ffffff;border:none;cursor:pointer;
	margin-right:7px;
	-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
 }
.frm_p1{
	float:left; width:150px; font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;font-weight:bold; color:#01406d; line-height:22px; padding:13px 0 0 23px;
}

.frm_p1_new{
	float:left; width:150px; font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;font-weight:bold; color:#01406d; line-height:22px; padding:13px 0 0 2px;
}

.frm_p2{float:left; width:350px;}
.frm_ptot1{
	float:left; width:510px; font-family:Arial, Helvetica, sans-serif; 
	font-size:15px;font-weight:bold; color:#01406d; line-height:22px; padding:13px 0 13px 5px;
}
.frm_ptot1 span{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:15px;font-weight:bold; color:#0683cd; line-height:22px; padding:13px 0 13px 10px;
}
.frm_ptot2{float:left; width:350px; font-family:Arial, Helvetica, sans-serif; 
	font-size:16px;font-weight:bold; color:#0683cd; line-height:22px; padding:13px 0 13px 23px;}
	
/*dashboard pages - 31-03-13	*/

.commontab_dash{
	width:200px; float:right;cursor:pointer;
	margin-top:7px;  
}

.tab_lft_dash{ float:left; background:url(../images/tab_rbg_s.png) no-repeat; width:34px; height:33px;}
.tab_rgt_dash{ float:left; background:url(../images/tab_lbg_s.png) no-repeat; width:11px; height:29px; margin:1px 0 0 0;}
.tab_mid_dash
{ 
	float:left; background:url(../images/tab_mbg_s.png) repeat-x; width: auto; 
	min-width:150px;height:29px;margin:1px 0 0 0;
	color:#FFFFFF; font-size:11px; text-align:center;
	font-weight:bold; line-height:30px;
}
.main_dash{
	width:850px; margin:0 auto;
}
/*.dashboard_left{
	float:left;
	width:750px;margin:0 auto;
}*/
.dash_con_r{
	width:550px;margin:0 auto;
}
.dashboard_right{
	float:left;
	width:250px; border:1px solid #003300;
}
.dash_menuss{
	float:left;
	width:300px;
}
.main_in1_CC_dash { 
	margin:0 auto; width:170px !important; 
	margin-bottom:20px; 
}

.main_in1_CC_dash1 { 
	margin:0 auto; width:300px !important; 
	margin-bottom:20px; 
}

.main_in1_CC_dash_in { 
	float:left; width:130px !important; 
}
.profile_view{
	width:600px; text-align:left;color:#3e3e40;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:8px; float:left; 
}

.profile_view1{
	width:200px;float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;  text-align:left !important;
	font-size:13px; 
	line-height:20px; 
	color:#544d44;
}
.profile_view2{
	width:5px;text-align:center; float:left;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	color:#000000;
}

.profile_view3{
	width:390px; float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left !important;
	font-size:13px; 
	position:relative;
	z-index:inherit; padding:0 0 0 5px;
	line-height:20px;word-wrap:break-word;
	color:#686664;
}
.profile_view3 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; 
	color:#30629e;
	text-decoration:none;
}
.profile_view3 a:hover{
	text-decoration:underline;
}
.description_cont{
	width:845px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; color:#1d1d1d;  
	margin:0px 0 0px 10px;
}
.description_cont p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#3c3d3d;  
	line-height:23px;
	font-weight:bold; padding:0 0 10px 0;
}
.description_cont ul{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#3c3d3d;  
	line-height:23px;  width:750px;list-style:inherit;
	font-weight:bold; padding:0 0 10px 15px;
}
.description_cont ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#3c3d3d;  
	line-height:23px; 
	font-weight:bold; padding:0 0 10px 0;
}
.description_cont ol{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#3c3d3d;  
	line-height:23px;  width:750px;list-style: decimal;
	font-weight:bold; padding:0 0 10px 15px;
}
.description_cont ol li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; color:#3c3d3d;  
	line-height:23px; 
	font-weight:bold; padding:0 0 10px 0;
}
.productlfts{
	float:left; margin:0px 0 0 17px;
	width:330px; 
}
.prod_detatl{
	float:left; 
	width:320px;  margin:10px 0 0 0px;
}
.productrgts{
	float:left;
	width:510px;
}
.p_img{
	float:left; margin:0px 0 0 5px; width:300px;
}
.frm_p1view{
	float:left; width:160px; font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;font-weight:bold; color:#01406d; line-height:20px; padding:6px 0 0 5px;
}

.total_amtbg{
	width:510px; float:left; margin:5px 0 0 1px; background-color:#eff7fb;
}
.amts{
	float:left; width:500px; font-family:Arial, Helvetica, sans-serif; border:1px solid #CCCCCC;
	font-size:15px;font-weight:bold; color:#01406d; line-height:20px; padding:7px 0 13px 10px;
}
.amts span{ font-family:Arial, Helvetica, sans-serif; 
	font-size:16px;font-weight:bold; color:#0683cd; line-height:20px; padding:7px 0 13px 5px;}
.amtscode{
	float:left; width:500px; font-family:Arial, Helvetica, sans-serif; border:1px solid #CCCCCC;
	font-size:18px;font-weight:bold; color:#01406d; line-height:20px; padding:7px 0 13px 10px;
}
.amtscode span{ font-family:Arial, Helvetica, sans-serif;text-decoration:blink;
	font-size:18px;font-weight:bold; color:#b1060e; line-height:20px; padding:7px 0 13px 5px;}

/*03-04-13*/
	
.welcome{
	float:right;
	font-size:12px;
	color:#01406d;
	padding:10px 50px 10px 0;
}

.welcome a{
	font-size:12px;
	color:#01406d;
	text-decoration:underline;
}

.main_in1_CC_table { 
	float:right;
	width:100px;
	margin:45px 0 10px 0;
}

.product_gallery{
	width:820px;
	margin:0 auto;
	overflow:auto;
	height:400px;
}

.product_gallery1{
	width:200px;
	float:left;
	margin:0 0 20px 0;
}

.product_gallery1a{
	width:200px;
	float:left;
}

.title_inn_gallery{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; color:#0279c0; width:170px; text-align:center;
	line-height:21px; padding:3px 0 0 0; 
	font-weight:bold;
}

.title_inn_gallery a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; color:#0279c0; width:170px; text-align:center;
	line-height:21px; padding:3px 0 0 0; 
	 font-weight:bold; text-decoration:none;
}

.title_inn_gallery a:hover{
	text-decoration:underline;
}

.map{
	width:400px;
	float:left;
	padding-left:50px;
}

.main_in1_CC11 { 
	float:left;width:200px !important; 
	margin:0 0 20px 30px; text-align:center; 
}

.borderright{
	border-right:1px #000000 solid;
}

.contct_sep_con{width:355px; float:left;}

.contct_sep_con1{width:400px; float:left;}

.scroll{
	overflow:auto;
	height:480px;
	width:600px;
	float:left;
	margin-left:120px;
	margin-bottom:20px;
}

.main_in1_CC_order { 
	 width:130px !important; text-align:right;
	margin-bottom:5px; float:right; margin-right:-125px; 
}

.products_small{
	width:60px;
	float:left;
}

.products_small_main{
	width:320px;
	float:left;
	margin:10px 0 0 15px;
}

.title_inn_newcate{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; color:#0279c0; float:left;
	width:100%;
	line-height:21px; padding:3px 0 0 10px; 
	 font-weight:bold;
}

.image_witharrow{
	width:600px;
	margin:0 auto;
}

.image_witharrow1{
	width:300px;
	float:left;
}

.image_witharrow2{
	width:300px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; color:#0279c0; 
	width:100%;
	line-height:21px; padding:3px 0 0 10px; 
	 font-weight:bold;
	 text-align:center;
}

.xyli{
	float:left;
	width:400px;
}

.xyli1{
	float:left;
	width:120px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px; color:#666666;
	text-align:left;
}

.text_forxy{
	background-color: #FCFCFC;
    border: 1px solid #DDDDDD;
    color: #BBBBBB;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 20px;
    outline: medium none;
    transition: all 0.2s ease-out 0s;
	width:120px; float:left;
}

/*design issues - 11-04-13*/

.newdropdown{
	width:610px;
	float:left;
	/*word-break: break-all;*/
	margin:10px 5px 10px 5px; /*20-04-13*/
}

.forgot_create{
	width:105px;
	float:right;
	text-align:right;
	margin:0 0 10px 0;
}

.frm_p2view{float:left; width:140px;font-family:Arial, Helvetica, sans-serif; 
	font-size:13px;font-weight:bold; color:#01406d; line-height:20px; padding:6px 0 0 5px; word-break: break-all;}
	
.forca{
	width:450px;float:left; border:1px solid #99CCCC;
	background-color:#FFFFFF; margin-top:3px;
}

.forca_left{
	float:left;
	width:220px;
	color:#01406d; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px; padding:10px 4px 10px 5px;
	line-height:20px; font-weight:bold; line-height:22px; word-break: break-all;
}

.forca_right{
	float:left;
	width:180px;
	margin:5px 0 5px 0;
}

label{
	color:#01406d; float:left; text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px; padding:10px 4px 10px 15px;
	line-height:20px; font-weight:bold; line-height:22px; 
}
.sets{
	width:110px !important; float:left; margin:3px 3px 0 2px !important;
}
.frm_p21{float:left; width:120px;}

.txt_con1sets{
	width:100px !important; height:22px; padding:4px; 
	line-height:29px; border:1px solid #dddddd; 
	background-color:#fcfcfc; margin:12px 0 0 0px !important;  
}
.frm_p1_new1{
	float:left; width:110px; font-family:Arial, Helvetica, sans-serif; 
	font-size:12px;font-weight:bold; color:#05538a; line-height:22px; padding:13px 0 0 0px;
}


.setsn{
	width:150px !important; float:left; margin:3px 3px 0 0px !important;
}
.setsn span{float:left; width:10px;margin:10px 3px 0 2px !important; line-height:30px;}

/* ========================= BUTTON CSS =============================== */

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 12px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc\9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}


.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  color: #ffffff;
  background-color: #51a351;
  *background-color: #499249;
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.btn-block + .btn-block {
  margin-top: 5px;
}

.btn-info {
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2f96b4', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  color: #ffffff;
  background-color: #2f96b4;
  *background-color: #2a85a0;
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-mini {
  padding: 0 6px;
  font-size: 10.5px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
.create_quotation{
	position: absolute;
	width: 80px;
	top: -12px;
	height: 38px;
	font: bold 16px arial !important;
  color: #ffffff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #006dcc;
  *background-color: #0044cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}