html, body, h1, h2, h3, h4, h5, h6, ol, ul, li, a, div, img, form {
	padding:0;
	margin:0;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}
.clearxy {
	clear:both;height:0px;
} 
.height10 {
	height:10px;clear:both; margin:0px; padding:0px; line-height:10px;
}
.padding { 
	padding:12px 0 5px 10px; float:left;
}
body{
	width:100%;
	margin:0 auto; background-color:#ab8158; background-image:url(../images/bgmain.jpg); background-repeat:repeat;
}
.padding { 
	padding:5px 0 5px 10px; float:left;
}
.font { 
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FFFFFF;
}
a { 
	text-decoration:none; outline:none; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; color:#FFFFFF;
}
.Main_Html { 
	 width:100%; margin:0px auto;background-image:url(../images/main_bg.jpg); height:953px; 
}
						/***************************** Header Part **************************/
.mainheaderbox { 
	 width:100%; margin:0px auto; 
	 background:#333333 url(../images/top_brown_BG.jpg) top repeat-x;
	 height:36px; border-bottom:2px solid #307873;
}
.brownbg_Main { 
	 width:1000px; margin:0px auto; 
	 background:#333333 url(../images/top_brown_BG.jpg) top repeat-x;
	 height:36px;
}
.top_brwn { 
	 width:200px; float:right;
}
.login_txt { 
	 line-height:20px; width:95px; 
}
.login_txt a{
	line-height:33px;
	font-family: Verdana, Arial, Helvetica, sans-serif; } 
.login_txt a:hover{
	color:#c1aa8e; text-decoration: underline;
} 
.TSiteLang1 {
	float:left;
	width:200px;
	height:21px;
}
/*********Register Dropdownlist***********/
#nav11 { margin:-3px 0 0 0; padding:0px;width:200px;color:#bb9d7f;}
#nav11 li span{ color:#FFFFFF;}
#nav11 > li { 
	list-style-type:none; float:left; display:block; color:#bb9d7f;
	position:relative;text-align: left;padding:12px 0 0px 13px;
}
#nav11 > li:hover ul { 
	display:block; width:90px; border:1px solid #281616; background-color:#4f2222; color:#FFFFFF;  }
#nav11 > li:hover {
	color:#bb9d7f;}
#nav11 li ul { 
	margin:-1px 0 0 0px; padding:0px; display:none; color:#FFFFFF;}
#nav11 li ul li { 
	list-style-type:none; color:#FFFFFF; }
#nav11 li ul li a { 
	display:block; color:#FFFFFF; 
	text-decoration:none; text-decoration:none;
	outline:none; line-height:13px;  
	 text-align:left; border-bottom:1px solid #999999; 
	padding:2px 0 3px 10px;}
#nav11 li ul li:hover a { background-color:#e0e1dc;color:#3a3131;}
#nav11 > li span { cursor:pointer; color:#ffffff; width:160px; padding:0 0 0 10px; }
#nav11 > li img { vertical-align: middle; border:none;  outline:none;margin:0 0 0 2px;color:#FFFFFF;}

/*********Register Dropdownlist end***********/
.Main_menubg { 
	 width:100%; margin:0px auto; 
	 background:#333333 url(../images/menu_top_BGred.jpg) repeat-x;
	 height:62px; border-bottom:2px solid #307873;
}
.top_red_Bg { 
	 width:1000px; margin:0px auto;
}
.logo { 
	 width:350px; margin:12px 0 0 0;
}
.logo a{ margin:16px 0 0 10px;}
.Search { 
	 width:300px; margin:7px 0 0 10px;
}
.searchbg { 
	 width:290px;
	 background-image:url(../images/serch_txtboxbg.png);
	 background-repeat:no-repeat; height:34px; float:left;
}
.searchbg_Val { 
	 width:200px; height:25px; background-color:#f5f6f6; color:#bdbdbd;
	 border:none; outline:none; margin:3px 0 0 3px; float:left; padding:0 0 0 3px;
}
.menus { 
	 width:320px; padding:0 0 0 15px;
}
.searchbg_btn { 
	 width:54px; float:left; cursor:pointer;
	 background-image: url(../images/serch_btn.png); border:none; outline:none;
	 background-repeat:no-repeat; height:34px; float:left; margin:0 0 0 18px; background-color:#333333;
}
/*********Menus START**********/
.Mainmenu{
	width:320px;
	float: left;
	padding:0;
	margin:8px 0 0 5px;
}
#Mainnav{
	list-style:none;margin:0 auto; padding:0;
	float:left;width:320px;position:relative;z-index:5;
}
#Mainnav li{
	float:left; position:relative;margin:0; padding:0; 
}
#Mainnav a{
	display:block;color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;border:0px;
	font-size:15px; padding:8px 23px 0 23px;
	text-decoration:none;
	line-height:30px;
}
#Mainnav a:hover{
	color:#f8a227 !important;
}
.menucurr{
	color:#ffffff !important;
}
#Mainnav a:hover{
	text-decoration: none;
}
#Mainnav ul{
	list-style:none;position:absolute;left:-9999px;margin:0; padding:0;
}
#Mainnav span{
	font-family:Arial, Helvetica, sans-serif;
	display:block;color:#ad8806;
	text-decoration:none;border:0px;
	font-size:13px; padding:15px 2px 0 1px;
	text-decoration:none;
}
/*********Menus END**********/

/*Mainbody Content*/
.MainBodyDiv { 
	 width:100%; margin:0px auto;
}
.contactus {
	width:100px; position:absolute; top:102px; float:right; right:0;
}
.banner { margin:0 0 -4px 0;}
.joinus{ width:255px; margin:0 auto; top:-13px; position: relative;}
.bodycont_Con_BG { 
	 width:100%; margin:0px auto; background-image: url(../images/blc_Bg.jpg); height:223px;
}
.bodycont_center { 
	 width:1000px; margin:0px auto; 
}
.maincon_Both { 
	 width:1000px; margin:0px auto; margin-top:-16px;
}
.maincon_user { 
	 width:450px;
}
.user_con { 
	 width:440px; padding:0 0 0 15px;
}
.user_con_head { 
	 width:330px; margin:0 0 6px 11px; color:#FFFFFF;  padding:0 0 6px 2px;
	 text-align:center; font-size:17px; line-height:21px;
	 border-bottom:2px dotted #e7e4e4; font-family:Arial, Helvetica, sans-serif;
}
.user_con_p { 
	 width:420px; padding:0 0 0 5px;
}
.user_con_p p{ 
	 width:336px; padding:0 0 0 8px; color:#FFFFFF; font-size:13px; font-family:Verdana, Arial, Helvetica, sans-serif; 
	 line-height:20px;
}
.maincon_provider { 
	 width:450px;
}
.provider_con { 
	 width:440px; padding:0 0 0 25px;
}
.provider_con_head { 
	 width:330px; margin:0 0 6px 60px; color:#FFFFFF;  padding:0 0 6px 2px;
	 text-align:center; font-size:17px; line-height:21px;
	 border-bottom:2px dotted #e7e4e4; font-family:Arial, Helvetica, sans-serif;
}
.post_alerts{ 
	 width:350px; margin:0 auto;
}
.post_alerts a{ text-decoration:none; outline:none; margin:6px 0 0 0;
}
.provide_alerts{ 
	 width:300px; margin:0 auto;
}
.provide_alerts a{ text-decoration:none; outline:none; margin:6px 0 0 35px;
}
.provider_con_p { 
	 width:400px; padding:0 0 0 26px;
}
.provider_con_p p{ 
	 width:336px; padding:0 0 0 36px; color:#FFFFFF; font-size:13px; font-family:Verdana, Arial, Helvetica, sans-serif; 
	 line-height:20px;
}
.maincon_Conabt { 
	 width:995px; margin:0px auto; 
}
.Abt_roundbg { 
	 width:221px; background-image:url(../images/about_bg_hme.png); height:145px; 
	 margin:15px 0 0 0; position:relative; 
	 left:15px; top:28px;
}
.abt_txts { 
	 width:210px; font-family:HelveticaNeueCond !important; color:#3e2a0c; font-size:26px; padding:59px 0 0 30px;
}
.Abt_cont { 
	 width:503px; margin:40px 0 0 -35px;
}
.Abt_advertisent { 
	 width:270px; 
}
.Abt_top { 
	 width:503px; background-image:url(../images/top_abtbg.png); height:10px; background-repeat:no-repeat; float:left; 
}
.Abt_mid { 
	 width:503px; background-image: url(../images/mid_abt_bg.png); height: auto; background-repeat: repeat-y; float:left; 
}
.Abt_conP { 
	 width:435px;  float:right; 
}
.Abt_conP p{ 
	 width:375px; font-family:Verdana; font-size:12px; color:#3f3f3f; line-height:19px; float:left; 
}
.Abt_btm { 
	 width:503px; background-image: url(../images/btm_btm_bg.png); height:10px; background-repeat:no-repeat; float:left; 
}
.Add_val { 
	margin:39px 0 0 20px;
}
/*****************Footer START******************/
#footerMain{
	width:100%; margin:15px 0 45px 0;
}
.footerMain_align{
	width:760px; float:right;
}
.footer{
	width:1000px; margin:0 auto;
	padding-bottom:3px; 
}
.social_icons{
	width:130px;
}
.copyright{
	width:400px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#0e0d0d; 
	font-size:11px; line-height:28px;
}
.social_icons a{
	margin:0 6px;
}
.social_icons a:hover{
	opacity:0.6;
	filter:alpha(opacity=60); 
}
.footerlink{
	font-size:11px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000; 
}
.footerlink a{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color: #000000;outline:none; line-height:28px;
	text-decoration:none;font-size:11px; 
}
.footerlink a:hover{
	color: #dbbb9b;outline:none;
}
/*****************Footer START******************/


					/*******************************Login******************************/
.login_Con_BGbrdr { 
	 width:100%; margin:0px auto;
}
.abt_txts_login { 
	 width:210px; text-align:center; font-family:HelveticaNeueCond !important;
	 color:#3e2a0c; 
	 font-size:26px; padding:59px 0 0 1px;
}
				  /*******************************form Style******************************/
.FormDivbox{
	width:95%; text-align:left;color:#3e3e40;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px 0 1px 13px !important;
}
.FormDet1{
	width:36%;float:left;
	font-size:14px;
	line-height:30px;
	color:#373636;
}
.FormDet1 span{
	padding:0px; margin:0px; color:#990000; text-align:right;
	font-size:16px;
	line-height:13px;
	font-weight:bold;
}
.FormDet2{
	width:5%;text-align:center; float:left;
	font-size:15px;
	line-height:30px;
	font-weight:bold;
	color:#000000;
}	
.FormDet3{
	width:55%; float:left;
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	color:#474749;
}
.FormDet3 a,#FormLink a{
	float:left; text-decoration:underline;text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; margin:0 6px;
	line-height:21px;
	font-weight:bold;
	color:#358fe3;
}
.btn1{
	background-color:#bd0506;
	height:23px;margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px; padding-bottom:5px;
	line-height:20px;
	float:left;
	font-weight:bold; width:56px;
	color:#FFFFFF;border:none;cursor:pointer;
	border:solid 1px #5c0404;
 }
.signin1{
	width:170px; margin:0 auto; padding:5px 0 0 0; margin-top:15px;
	}
/*.signin1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	 padding:5px 15px 5px 0px !important;
	float:right; text-decoration:none;
	font-weight:bold; 
	color: #000000;
	}*/
.btn1box{
	background: url(../images/login_bg.png) no-repeat !important;
	height:30px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; font-weight:bold !important;
	float:left;  text-align:center; padding:0 0 3px 0;
	width:130px;color:#FFFFFF !important;border:none;cursor:pointer;
 }
.btn1box:hover{
	background: url(../images/hover_bg_btn.png) no-repeat !important;
	height:30px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; font-weight:bold !important;
	float:left;  text-align:center; padding:0 0 3px 0;
	width:130px;color:#414140 !important;border:none;cursor:pointer;
 }
 .signin{
	width:150px !important; float:right;
	}
.signin a{
	font-family:Arial, Helvetica, sans-serif !important;
	font-size:12px; margin:0 10px;
	line-height:18px; padding:10px 0 2px 2px !important;
	float:left; text-decoration: underline;
	font-weight:bold;
	color: #2f3030;
}
.signin a:hover{color:#524c46;text-decoration: none;}
.box2box{
	border:none;
	border:1px solid #a48264;
	background-color:#f9f9f9;
	width:220px; margin:2px 0 0 3px;
	height:24px;
}
