/* My Css */

.notification1 {
	font: bold 12px  Arial, Verdana, sans-serif;
	color: #999999;cursor: pointer;
	clear: both;margin: 0px auto; 
	padding:2px 20px 5px 20px;
	-moz-border-radius: 4px;
	text-align:center;
	-webkit-border-radius: 4px;
}
.notification1 p {
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	color: #333333;
} 
.notification {
	font: bold 12px  Arial, Verdana, sans-serif;
	color: #999999;cursor: pointer;
	clear: both;margin: 0px auto; 
	padding: 10px 20px 10px 20px;
	-moz-border-radius: 4px;
	text-align:center;
	-webkit-border-radius: 4px;
}
.notification p {
	font-size: 11px;
	padding: 0px;
	margin: 0px;
	color: #333333;
} 
.warning {
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #FFC237;
	background-color: #FFEAA8;
	color: #826200;
}
.success {
	background-position: 15px center;
	background-repeat: no-repeat;
	border: 2px solid #99C600;
	background-color: #EFFFB9;
	color: #3C5A01;
}
.failure {
	border: 2px solid #EB5339;background:#FCCAC2;
	color: #AC260F;
}
.failure p{
	background:#FCCAC2 url(../image/err_arrow.png) no-repeat 0px 2px; 
	font:bold 12px/18px  Arial, Verdana, sans-serif;
	padding: 0px; text-align:left;
	margin: 0px; padding-left:15px;
	color: #AC260F;
} 
.error{
	font:bold 12px Arial, Helvetica, sans-serif; color:#EB340A;
	padding-left:11px; display:none;
}
.txtboxerr{
	border:none;
	border:1px solid #FF0000;
	background-color:#f9f9f9;
	width:240px;
	height:21px;
	color:#EB340A;
}
.loginboxerr{
	height:19px;
	width:145px;
	float:left;
	margin-top:4px;
	margin-left:7px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	border:none;
	border-color:#FFFFFF;
	color:#5e5c5c !important;
}
#MainErrDivMsg{
	display:none;
	position:absolute;
}
#ErrDivMsg{
	padding:5px;
	font:bold 12px Arial, Helvetica, sans-serif; color: #FFFFFF;
	background-color: #FF0000;
	-moz-border-radius: 4px 4px / 4px 4px;
	border-radius: 4px 4px / 4px 4px;
	border:1px solid #ccebac;
	position:relative; top:50px; left:125px;
}

.error_bgin,.error_bgin:focus{ border:dotted 1px #EB340A;}
.error_msg{font:bold 12px Arial, Helvetica, sans-serif; color:#EB340A;}
.error_element,.error_element:focus{ border:dotted 1px #EB340A;}

/*		For Pagination	*/
div.pagination {
	padding:3px;
	margin:3px 0px 3px 10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	text-align:right; float:right;
}
div.pagination a {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#0072bc;
	font-weight:normal; 
}
div.pagination a:hover, div.pagination a:active {
	background-color:#DDEEFF;
	border:1px solid #BBDDFF;
	color:#0072BC;	
}
div.pagination span.currentpage {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #BBDDFF;
	margin-left:10px;
	text-decoration:none;
	background-color:#DDEEFF;
	color:#0072BC;
	cursor:default;
}
div.pagination span.disabled {
	padding:7px;
	padding-top:2px;
	padding-bottom:2px;
	border:1px solid #EBEBEB;
	margin-left:10px;
	text-decoration:none;
	background-color:#F5F5F5;
	color:#D7D7D7;
	cursor:default;
}