#configurator-div{
	margin:0 auto;
}
h3[id$="_heading"] {
	text-transform: capitalize;
	font:bold 21px arial;
}
.step {
font: bold 16px arial;
}
#preview_table, .table  { 
	width: 100%;
	text-align:center; 
	/* background: #BAD1F5; */  
	border-radius: 9px;
	border-spacing: 10px;
	border-collapse: separate;
}
#preview_table  td{ border: none; }
#preview_table  img { width: 100%; }
#preview_table  .preview_instructions { font: bold 12px arial; }
#preview_table  .preview_default { 
	padding: 21px 0;
	text-align:center; 
	color: skyblue; 
	border: 1px dotted black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.door_preview,.holes { display: none; }

.horizontal_orientation{
	transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
}
.vertical_orientation{
	transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
}
[class^='preview_instructions'] { font: normal 8pt arial;}
.hidden {display:none;}
.icon-remove { 
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 1px;
	line-height: 16px;
	vertical-align: text-top;
	background-image: url(../images/delete_old.png);
	background-position: center;
	background-repeat: no-repeat;
}
/* ========================== ALERT CSS =============== */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-info {
color: #3a87ad;
background-color: #d9edf7;
border-color: #bce8f1;
}
.alert-error {
color: #b94a48;
background-color: #f2dede;
border-color: #eed3d7;
}



/* ======================== INPUT CSS ======================== */
.input-append, .input-prepend {
display: inline-block;
margin-bottom: 10px;
font-size: 0;
white-space: nowrap;
vertical-align: middle;
}
element.style {
}
Matched CSS Rules
.input-prepend.input-append .add-on:first-child, .input-prepend.input-append .btn:first-child {
margin-right: -1px;
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
.input-prepend .add-on:first-child, .input-prepend .btn:first-child {
-webkit-border-radius: 4px 0 0 4px;
-moz-border-radius: 4px 0 0 4px;
border-radius: 4px 0 0 4px;
}
.input-append .add-on, .input-append .btn, .input-append .btn-group {
margin-left: -1px;
}
.input-prepend .add-on, .input-prepend .btn {
margin-right: -1px;
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
vertical-align: top;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.input-append .add-on, .input-prepend .add-on, .input-append .btn, .input-prepend .btn, .input-append .btn-group > .dropdown-toggle, .input-prepend .btn-group > .dropdown-toggle {
vertical-align: top;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}
.input-append .add-on, .input-prepend .add-on {
display: inline-block;
width: auto;
height: 20px;
min-width: 16px;
padding: 4px 5px;
font-size: 14px;
font-weight: normal;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 0 #ffffff;
background-color: #eeeeee;
border: 1px solid #ccc;
}
.input-append .add-on, .input-prepend .add-on {
display: inline-block;
width: auto;
height: 20px;
min-width: 16px;
padding: 4px 5px;
font-size: 14px;
font-weight: normal;
line-height: 20px;
text-align: center;
text-shadow: 0 1px 0 #ffffff;
background-color: #eeeeee;
border: 1px solid #ccc;
}
Inherited from div.input-prepend.input-append
.input-append, .input-prepend {
font-size: 0;
white-space: nowrap;
}
.input-append, .input-prepend {
font-size: 0;
white-space: nowrap;
}
input.span1 { width: 40px; height:26px; text-align: center; line-height:26px; }

/* ====================== TABLE CSS =============== */
.table {
max-width: 100%;
background-color: transparent;
width: 100%;
margin-bottom: 20px;
}
.table-bordered {
border: 1px solid #dddddd;
border-collapse: separate;
border-spacing: 10px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}
.table th { font: bold 14px arial; }