/*-----------------------------for popup------------------------------------*/
#fade {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	opacity: .80;
	z-index: 9999;
}
.popup_block {
	display: none;
	background: #fff;
	padding: 20px;
	border: 5px solid #ddd;
	float: left; overflow:auto;
	font-size: 1.2em; height:520px;
	position: fixed;
	top: 55%;
	left: 50%;
	z-index: 999999 !important;
	
}

.popup_block_14 {
	display: none;
	background: #fff;
	padding: 20px;
	border: 5px solid #ddd;
	float: left; overflow:auto;
	font-size: 1.2em; height:250px;
	position: fixed;
	top: 55%; overflow:hidden;
	left: 50%;
	z-index: 99999;
	
}

.popup_block_18 {
	display: none;
	background: #fff;
	padding: 20px;
	border: 5px solid #ddd;
	float: left; overflow:auto;
	font-size: 1.2em; height:480px;
	position: fixed;
	top: 55%; overflow:hidden;
	left: 50%;
	z-index: 99999;
	
}

.popup_block_19 {
	display: none;
	background: #fff;
	padding: 20px;
	border: 5px solid #ddd;
	float: left; overflow:auto;
	font-size: 1.2em; height:300px;
	position: fixed;
	top: 55%; overflow:hidden;
	left: 50%;
	z-index: 99999;
	
}

img.btn_close {
	float: right;
	margin: -15px -15px 0 0;
	z-index:1; 
}
.popup p {
	padding: 5px 10px;
	margin: 5px 0;
}
/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .popup_block {
	position: absolute;
}
.popupwidth {
	width:100px!important;
}
.popupwidth1 {
	width:225px;	
}
.popupwidth3 {
	width:145px;	
}

.popupwidth2 {
	width:130px;
	padding-left:0px!important;
	font-size:11px!important;
	font-weight:normal!important;
}
.poplight {
	line-height:31px;
	font:bold 14px/31px tahoma;
}
.popHead{
	line-height:31px;font:20px/31px Arial, Helvetica, sans-serif;
	color:#10a2d7;
}
.button {
	background:url(../images/html-button.jpg) repeat-x;
	height:28px;
	background-color:#CC0000;
	font:bold 12px tahoma;
	color:#FFFFFF;
	cursor:pointer; border:none;
	border:solid 2px #000c17!important;
}