/* EXAMPLES ------------------------------------------------ */
.Main980Con{
	width:850px; margin:0 auto;
	/*float:left;*/
}
.demo-wrap ul {
	float:left;min-height:300px;
	/*height:350px;*/
	overflow: hidden;
}
.demo-wrap li {
	list-style: none;
	margin:0; min-height:300px;
	/*height:300px;*/
}  
.demo-wrap .left {
	width:205px;
	float:left;
}

.demo-wrap .right {
	width:320px;
	float:left;
}

.demo-wrap .right .album {
	margin-top: 60px;
	font-size:16px;
}

.demo-wrap .right .band {
	font-size: 14px;
	color: #838383;
}

.demo-wrap .multiple li {
	width:287px;
}

.demo-wrap .bx-wrapper {
	margin: 0 auto;
}

.demo-wrap .bx-prev {
	position: absolute;
	top:190px;
	left:-20px;
	width:25px;
	height:25px;
	text-indent: -999999px;
	background: url(../images/left_moverarw.png) no-repeat 0 -1px;
}

.demo-wrap .bx-next {
	position: absolute;
	top:190px;
	right:-11px;
	width:25px;
	height:25px;
	text-indent: -999999px;
	background:  url(../images/rht_moverarw.png) no-repeat 0 -1px;
}
.demo-wrap .bx-next:hover,
.demo-wrap .bx-prev:hover {
	background-position: 0 0;
}
.field .field-label {
	font-size: 14px;
	color: #838383;
	font-weight: normal;
	margin-bottom: 5px;
}
/*start / stop*/
.bx-auto {
	text-align: center;
	float:left;
}
.bx-start {
	background-image: url(images/start.jpg);
	background-repeat:no-repeat;
	color: #f1eee7;
	font-size: 14px;
	background: #838383;
	padding: 4px 7px;
	border-radius: 3px;
	word-spacing:normal !important;
	letter-spacing:normal !important;
	text-transform: capitalize;
}
.bx-start:hover {
	background: #525044;
	text-decoration: none;
}
/*pager*/
.bx-pager {
	text-align: center;
}
.bx-pager a {
	font-size: 16px;
	color: #838383;
	padding: 0 10px;
}
.bx-pager .pager-active,
.bx-pager a:hover {
	color: #de312a;
	text-decoration: none;
} 
/*captions*/
.demo-wrap ul.captions {
	position: relative;
}
.demo-wrap ul.captions,
.demo-wrap ul.captions li {
	height: 195px; min-height:300px;
}
.bx-captions {
	text-align: center;
	margin-left: -22px;
}