
/*========================
MENU
=========================*/

#menu{
    /*position: fixed;*/
    top:0px; 
    right:0;position: relative;
    width:202px;
    /*height: 100%;*/
    z-index: 1;
}

#menu #icons{
    width:225px;
    height:50px; left:45px;
    background: #777575;
    background-position: bottom left;
    background-repeat: no-repeat;
    float: left;
	z-index:-99999 !important;
}

#menu #prevNext{
    float: left;
    width: 101px;
}

#menu #icons img{
    display: block;
    margin-left:25px;
    cursor: pointer;
    opacity: 1;margin-bottom:3px;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#menu #icons img:hover{
    opacity: 0.5;
}

#iconFermer{
    margin-top:3px !important;
}

#n{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 101px;
    height: 101px;
    background: url('../images/n.png');
    background-position: 0 0;
    opacity: 1;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#n:hover{
    opacity: 0.5;
}
/*========================
DESCRIPTION PROJET
=========================*/

#descriptionProjet{
    /*position: fixed;*/
    top:254px; position:absolute;
    left: -295px;
    width:190px;
    /*height: 100%;*/
    background:#2f6093; 
    z-index: 2800;
}

#contentDescriptionProjet{
    width:190px;
    /*padding:15px;*/
}

#descriptionProjet h2{
    font-size:14px;
    color: #313131;
    margin: 45px 0 10px 0;
    font-weight: bold;
    text-transform: uppercase;
}

#descriptionProjet h2:first-child{
    margin-top: 0;
}

#descriptionProjet p{
    font-size: 12px;
    line-height: 16px;
    color: #999;
    font-weight: normal;
    text-transform: uppercase;
}

#descriptionProjet a{
    color: #999;
    -ms-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#descriptionProjet a:hover{
    color: #313131;
}



/*Menudashboard START*/
/*DASHBOARD Link START*/
.Dash_midIN_mid_inner{
	width:190px; height: auto; float:left; 
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:bold; color:#0d0905; font-size:13px;
	padding:5px 0 10px 0; 
	}
.dashboardlink{
	float:left; width:190px; padding:12px 0 0 0; 
	font-weight:bold; font-family:Arial, Helvetica, sans-serif; 
	text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;}
/*.dashb_link{margin-top:1px; float:right; margin-right:10px;}*/
.events{ width:190px; float:left; margin:0; padding:0;}
.events ul{ width:190px; float:left; margin:0; padding:0; list-style:none;}	
.events ul li{ width:190px; float:left; margin:0; padding:0;border-bottom:1px dotted #587899;}	
.events ul li a{ 
	width:190px; float:left; 
	margin:0; padding:0 0 0 10px; line-height:36px; color:#737373; 
	}
.events ul li a:hover{ color:#ffffff !important;}
.menu_Curr_Dash{ color:#ffffff !important;}
