#box-table-a
{
	font:12px Arial, Helvetica, sans-serif;
	margin:0px auto;
	width:600px;
	text-align:left;
	border-collapse: collapse;
	/*border-bottom:4px solid #274c74;*/
}
#box-table-a th
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px; text-align:left;
	background:#e0e0e0;
	/*border-top: 4px solid #dcbc5e;
	border-bottom: 1px solid #fff;*/
	color: #000000; 
	/*border-left: 1px solid #dcbc5e;
	border-right: 1px solid #dcbc5e;*/
}
#box-table-a td
{
	padding: 8px; 
	/*background:#f8f3fa; */
	border-bottom: 1px solid #fff;
	color: #333333;
	border-top: 1px solid transparent;
}
#box-table-a td a {
	color: #274c74;
}

#box-table-a td a:hover {
	text-decoration:none
}
#box-table-a tr:hover td
{
	background: #e0e0e0;
	color: #000000;
}
.text_field2 {
	width:40px;
}
.text_color {
	color:#b8b7b5;
	font:14px/26px Arial, Helvetica, sans-serif;
}
.evenths{
	width:680px;
	margin:0 auto; overflow:auto; height:450px;
	margin-bottom:25px;	
	/*border-right:1px #e0e0e0 solid;
	border-left:1px #e0e0e0 solid;*/
}

/* payhist_acc  */ 
#box-table-a_acc
{
	font:12px Arial, Helvetica, sans-serif;
	margin:0px auto;
	width:660px;border:1px #e0e0e0 solid;
	text-align:left; border-bottom:2px solid #e0e0e0;
	border-collapse: collapse; background-color:#f1f1f1;
}
#box-table-a_acc th
{
	font-size: 13px;
	font-weight: bold;
	padding: 8px; text-align:left;
	background:#dadddd;
	color: #000000; 
}
#box-table-a_acc td
{
	padding: 8px;  
	border-bottom: 1px solid #fff;
	color: #333333;
	border-top: 1px solid transparent;
}
#box-table-a_acc td a {
	color: #274c74;
}

#box-table-a_acc td a:hover {
	text-decoration:none
}
#box-table-a_acc tr:hover td
{
	/*background: #e8ebeb;*/
	color: #000000;
}
.text_field2 {
	width:40px;
}
.text_color {
	color:#b8b7b5;
	font:14px/26px Arial, Helvetica, sans-serif;
	}
.evenths_acc{
	width:680px;
	float:left;
	margin:20px 0 15px 10px;
	/*border-right:1px #e0e0e0 solid;
	border-left:1px #e0e0e0 solid;*/
	
}

/* inner table  */ 
#box-table-a_acc1
{
	font:12px Arial, Helvetica, sans-serif;
	margin:0px auto;
	width:550px;border-bottom:3px solid #e0e0e0;
	text-align:left;
	border-collapse: collapse;
}
#box-table-a_acc1 th
{
	font-size: 13px; text-align:left;
	font-weight: bold;
	padding: 8px;
	background:#e0e0e0;
	color: #000000; 
	
}
#box-table-a_acc1 td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #333333;
	border-top: 1px solid transparent;
}
#box-table-a_acc1 td a {
	color: #274c74;
	
}

#box-table-a_acc1 td a:hover {
	text-decoration:none
}
#box-table-a_acc1 tr:hover td
{
	/*background: #e0e0e0;*/
	color: #000000;
}
/*.text_field2 {
	width:40px;
}
.text_color {
	color:#b8b7b5;
	font:14px/26px Arial, Helvetica, sans-serif;
	}*/
.evenths_acc1{
	width:550px;
	float:left;
	margin:10px 0 5px 45px;
	border-right:1px #e0e0e0 solid;
	border-left:1px #e0e0e0 solid;
}


/*NewOrderhistory*/

.evenths_accIN{
	width:700px;
	float:left;
	margin:10px 0 5px 0;
	/*border-right:1px #e0e0e0 solid;
	border-left:1px #e0e0e0 solid;*/
	
}
.evenths_order{ 
	width:770px; overflow:auto; height:450px;
	float:left;
	margin:10px 0 5px -30px;
}
#box-table-a_order
{
	font:12px Arial, Helvetica, sans-serif;
	width:750px;
	text-align:left;
	border-collapse: collapse;
	border:1px #e0e0e0 solid;
	border-bottom:2px solid #e0e0e0;
}
#box-table-a_order th
{
	font-size: 13px; text-align:left;
	font-weight: bold;
	padding: 8px;
	background:#e0e0e0;
	color: #000000; 
	
}
#box-table-a_order td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #333333;
	border-top: 1px solid transparent;
}
#box-table-a_order td a {
	color: #274c74;
	
}

#box-table-a_order td a:hover {
	text-decoration:none
}
#box-table-a_order tr:hover td
{
	/*background: #e0e0e0;*/
	color: #000000;
}

.DivAddImg_table{
	float:right;
	width:250px;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	color:#1a5192;
	font-size:11px;
}

.DivAddImg_table a{
	font-family:Arial, Helvetica, sans-serif;
	color:#1a5192;
	font-size:11px;
	text-align:left;
	font-weight:bold;
	text-decoration:underline;	
}