html, body, h1, h2, h3, h4, h5, h6, ol, ul, li, a, div, img, form {
	padding:0;
	margin:0;
	font-size:12px;
	font-family: Arial, Helvetica, sans-serif;
}
.clearxy {
	clear:both;height:0px;
} 
.height10 {
	height:10px;clear:both; margin:0px; padding:0px; line-height:10px;
}

body{
	width:100%;
	margin:0 auto; background-color:#ffffff; 
}
.padding { 
	padding:5px 0 5px 10px; float:left;
}
.font { 
	float:left; font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#FFFFFF;
}
a { 
	text-decoration:none; outline:none; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; color:#FFFFFF;
}

/*header*/

.mainheaderbox { 
	 width:100%; margin:0px auto; 
	 background-image:url(../images/header_bg.png);
	 background-repeat:repeat-x;
	 height:auto; background-color:#dcdcdc;
}

.brownbg_Main { 
	 width:1000px; margin:0px auto; 
}

.logo{
	width:250px;
	float:left;
	padding-top:25px;
}

.Header_middle{
	width:550px;
	float:left;
}

.Header_right{
	width:130px;
	float:right;
}

#Mainnav12{
	list-style:none; 
	float:left;width:129px; 
	
}
#Mainnav12 li{
	float:left; position:relative;margin:0; padding:0; 
}

#Mainnav12 li a{
	display:block;color:#399dcf;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-decoration:none;border:0px;
	font-size:12px; padding:50px 5px 0 5px;
	line-height:30px; 
	
}

#Mainnav12 span{
	font-family:Arial, Helvetica, sans-serif;
	display:block;color:#ad8806;
	text-decoration:none;border:0px;
	font-size:13px; padding:60px 5px 0 5px;
	
}

.DivBlueBg{
	 width:100%; margin:0px auto; 
	 background-image:url(../images/menu_bg.png);
	 background-repeat:repeat-x;
	 height:63px; 
}

.DivSearch12{
	width:550px;
	float:left;
	margin-left:15px;
}

.DivSearch{
	float:left;
	background-image:url(../images/search_box.png);
	background-repeat:no-repeat;
	height:35px; width:411px;
	margin-top:13px;
}

.searchbg_btn { 
	 width:86px; float:left; cursor:pointer;
	 background-image: url(../images/search.png); border:none; outline:none;
	 background-repeat:no-repeat; height:34px; float:left; margin:1px 0 0 0px; background-color:#333333;
}

.searchbg_Val { 
	 width:318px; height:30px; background-color:#f5f6f6; opacity:0.6; color:#bdbdbd;
	 border:none; outline:none; margin:2px 0 0 2px; float:left; padding:0 0 0 3px; line-height:28px;
}

.DivAdvance{
	float:left;
	width:120px;
	padding-top:16px;
}

.DivAdvance a{
	color:#fefefe;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;border:0px;
	font-size:11px; padding:15px 5px 0 5px;
	font-weight:normal; 
	line-height:30px; 
}


.DivMenu{
	width:390px;
	float:right;
}

#Mainnav_menu{
	list-style:none;font-weight:bold;margin:0 auto; padding:0;
	float:left;width:385px; 
}
#Mainnav_menu li{
	float:left; position:relative;margin:0; padding:0; 
}

#Mainnav_menu li a{
	display:block;color:#fefefe;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;border:0px;
	font-size:12px; padding:15px 5px 0 5px;
	font-weight:normal; 
	line-height:30px; 
}

#Mainnav_menu span{
	font-family:Arial, Helvetica, sans-serif;
	display:block;color:#fefefe;
	text-decoration:none;border:0px;
	font-size:13px; padding:15px 5px 0 5px;
}


/*.DivMainHead{
	width:100%;
	background-image:url(../images/header_bg.png); 
	background-repeat:repeat-x;
	height:91px;
}	*/					


.DivContentMain{
	width:1000px;
	margin:0 auto;
}

.DivContent{
	width:1000px;
	float:left;
}

.DivContent_left{
	width:300px;
	float:left; 
}

.DivContent_right{
	width:695px;
	float:left;
}

.DivBorder_left{
	width:289px;
	border:1px #cbcbcb solid;
	margin-top:5px;
}

.DivBorder_right{
	width:698px;
	border:1px #cbcbcb solid;
}

.DivBorder_right_In{
	width:698px;
	border:1px #cbcbcb solid;
	margin-top:5px;
}

.DivGrey_right{
	width:698px;
	float:left;
	background-image:url(../images/grey_bg.png);
	background-repeat:repeat-x;
	height:32px;
}



.DivGrey_left{
	width:290px;
	float:left;
	background-image:url(../images/grey_bg.png);
	background-repeat:repeat-x;
	height:32px;
	
}

.DivGrey_text1{
	width:220px;
	float:left;
}

.DivGrey_TextLe1{
	width:180px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1a5192;
	text-align:left;
	padding-left:15px;
	padding-top:5px;
	
}

.DivGrey_text{
	width:690px;
	float:left;
}

.DivGrey_TextLe{
	width:500px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1a5192;
	text-align:left;
	padding-left:15px;
	padding-top:5px;
	
}




.DivGrey_TextRi{
	width:60px;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#399dcf;
	padding-top:8px;
	
}

.DivGrey_TextRi a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#399dcf;
	text-align:left;
	text-decoration:underline;
}

.DivThree{
	width:680px;
	float:left;
	margin:10px 0 8px 15px;
}

.DivThree1{
	width:215px;
	float:left;
	padding:5px 5px 10px 5px;
}

.DivThree2{
	width:159px;
	float:left;
	padding:5px 5px 10px 5px;
}

.DivThree3{
	width:415px;
	float:left;
	padding:5px 5px 5px 0;
	
}

.DivThree4{
	width:275px;
	float:left;
	padding:5px 0 5px 0;
	
	
}

.DivThree_main{
	width:695px;
	float:left;
	margin:10px 0 8px 0px;
}


.Divbgblue{
	float:left;
	width:149px;
	background-color:#1a5192;
	height:25px;
	opacity:0.6;
}



#Mainnav{
	list-style:none;margin:0 auto; padding:0;
	float:left;width:260px; 
	
}
#Mainnav li{
	float:left; margin:0; padding:0; width:235px;
	border-bottom:1px #79bbf6 dashed; margin-left:25px;
	background-image:url(../images/sub.png); 
	background-repeat:no-repeat;
	background-position:left;
	vertical-align:middle; padding:0 0 0 3px;
}

#Mainnav a{
	display:block;color:#a4a3a3 !important;
	font-family:Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px; padding:0 0 0 10px;
	line-height:30px; 
	
}

#Mainnav a:hover{
	color:#1a5192 !important;
}

#Mainnav span{
	
	color:#1a5192;
	
}

.DivTextTi{
	float:left;
	width:247px;
	border-bottom:1px #a4a3a3 dashed;
	font-family:Arial, Helvetica, sans-serif;
	color:#494747;
	text-align:left; margin-left:16px;
	padding:15px 0 5px 0;
	font-size:14px; font-weight:bold;
}

.DivTextTi12{
	float:left;
	width:247px;
	font-family:Arial, Helvetica, sans-serif;
	color:#1a5192 !important;
	text-align:left; margin-left:16px;
	font-size:11px; font-weight:bold;
	padding:8px 0 0 10px;
}

.DivTextTi12 a{
	font-family:Arial, Helvetica, sans-serif;
	color:#1a5192 !important;
	text-align:left; font-weight:bold;
	font-size:11px !important; 
	text-decoration:underline !important;
	
}



.DivMore{
	background-color:#000000;
	float:right;
	position:absolute;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:left; 
	font-size:15px;
	width:auto;
	padding:5px 10px 5px 10px;
	margin-top:-55px;
	margin-left:320px;
}

.DivMore a{
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	text-align:left; 
	font-size:15px;
	text-decoration:none;
}

/*footer*/

#footerMain{
	width:100%;
	margin:0 auto; 
	background-image:url(../images/footer_bg.png);
	height:117px;
	background-repeat:repeat-x;
	
}
#footer{
	width:980px;
	font-size:11px;
	padding:0 0 0 0;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff; text-align:left;
	margin:auto;  padding-top:20px;
	
}
#footer a{
	margin:0 3px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;  line-height:25px;
	text-decoration: none; text-align:left;
	/*padding-left:12px;*/
	
}

#footer span{
	
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;  
	
	
}
#footer a:hover{
	color:#ffffff;
	text-decoration:underline;
	
} 

.fleft{
	float:right;
	width:100px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:10px; text-align:right;
	
}
.fright{
	float:left;
	width:800px;
	
}

.fmiddle{
	float:right;
	width:200px;
	padding-top:30px;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:10px; text-align:right;
}



.DivFace {
	
	width:25px; float:left; 
}

.DivFaceGold{
	background-image:url(../images/face_white.png) !important; background-repeat:no-repeat;
	width:12px; height:23px; float:left;
}

.DivFace a{
	background-image:url(../images/face_grey.png); background-repeat:no-repeat;
	width:12px; height:23px; float:left; 
}

.DivFace a:hover{
	background-image:url(../images/face_white.png); background-repeat:no-repeat;
	width:12px; height:23px;
}

.DivTweet {
	width:45px; float:left; 
}

.DivTweet a{
	background-image:url(../images/tweet_grey.png); background-repeat:no-repeat;
	width:32px; height:22px; float:left; 
}

.DivTweet a:hover{
	background-image:url(../images/tweet_white.png); background-repeat:no-repeat;
	width:32px; height:22px;
}

.DivIn {
	width:30px; float:left;
}


.DivIn a{
	background-image:url(../images/in_grey.png); background-repeat:no-repeat;
	width:26px; height:23px; float:left; 
}

.DivIn a:hover{
	background-image:url(../images/in_white.png); background-repeat:no-repeat;
	width:26px; height:23px;
}

.DivNewAdd{
	width:175px;
	float:left;
}

.DivTextforadd3{
	width:175px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#ffffff;
	padding-top:10px;
}

.DivTextforadd5{
	width:120px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4b97f1;
	padding-top:10px;
}

.DivTextforadd2{
	width:120px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#ffffff;
}

.DivTextforadd4{
	width:120px;
	float:left;
	margin-top:10px;
}


/*sigin popup - 31-12-12*/

.DivContact_popup{
	width:250px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#30629e !important;
	text-align:left;
	padding:20px 0 5px 0; margin:0 0 10px 0;
	border-bottom:1px #30629e solid !important;
}

.DivContact_popup_1{
	width:150px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#30629e !important;
	text-align:left;
	padding:20px 0 5px 0; margin:0 0 10px 0;
	
}

.DivContact_popup_1 a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#30629e !important;
	text-align:left;
	text-decoration:underline;
}

.form, .contact-success {
	padding:5%; margin:10px 0 0 0;
	background-color: #ffffff;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.17);
	overflow: hidden;
}
.contact-success {
	color: #fff;
	font-size:11px;
}
.form ul {
	margin:-20px 0 0 0;
	padding: 0;
	list-style-type: none;
}
.form  li {
	position: relative;
}
.form input{
	width:250px;
	margin-bottom:0px; 
	position: relative;margin:10px 0 0 0;
	padding:1%;
}
.form textarea {
	width: 260px;
	height: 150px;
}
.form input.submit {
	width:120px;
}
.form  li p, .form input.submit {
	float:left; width:120px;font-family:Arial, Helvetica, sans-serif; font-size:13px !important; color:#666666;
	margin-right:10px;
}
.form em {
	color:#d21010;
	display: inline;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.form em a{
	color:#d21010;
	display: inline;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
	text-decoration:underline;
}

.form .contact-error {
    color: #EC5B43;
    font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
    position: absolute;
    top: 0;
    right: 60px;
}
.contact-info {
	list-style-type: none;
	 color: #333333 !important;
	 
}
.contact-info li{margin:3px 0 0 15px;
font-family:Arial, Helvetica, sans-serif; color:#333333; font-size:14px; line-height:19px; font-weight:normal;
	}
.contact-info li a{
	font-family:Arial, Helvetica, sans-serif; text-decoration:underline; color:#18686d; font-size:12px; line-height:19px; font-weight: bold;
	}
	.contact-info li a:hover{
	 text-decoration: none; color:#26cbd6; 
	}
input, textarea, select {
	outline: medium none;
	font-family:  Helvetica, Arial, sans-serif;
	font-size:12px; 
	color: #bbb;
	border: 1px solid #ddd;
	-webkit-transition: all 0.2s ease-out 0s;   
	-moz-transition: all 0.2s ease-out 0s;
	-o-transition: all 0.2s ease-out 0s; 
	background-color: #fcfcfc;
}
input:focus, textarea:focus, select:focus {
	border: 1px solid #30629e;
	background-color: #fff;
	color: #676767;
	/*box-shadow:0 0 4px rgba(82,168,236,.5);
	-moz-box-shadow:0 0 4px rgba(82,168,236,.5);
	-webkit-box-shadow:0 0 4px rgba(82,168,236,.5);*/
	-webkit-box-shadow: inset 1px 1px 4px #e6e7ec, 0 0 5px #e6e7ec;
	-moz-box-shadow:inset 1px 1px 4px #e6e7ec, 0 0 5px #e6e7ec; 
	box-shadow: inset 1px 1px 4px #e6e7ec, 0 0 5px #e6e7ec; 
}
input.submit, input.submit:focus, input.submit:active {
	cursor:pointer;
	text-align:center;
	font-size:11px !important;
	font-weight: bold;
	line-height: 12px;
    color: #fff !important;
	text-decoration:none !important;	
	padding:5px;
	border: none; float:right;
	box-shadow:0 0 0;background-color: #000000;
	-moz-box-shadow:0 0 0;
	-webkit-box-shadow:0 0 0;
}

.Seltop{ width:261px; height:29px; border:1px solid #dddddd; background-color:#fcfcfc; margin:10px 0 0 0; padding:5px 0 0 1px;}

.DivFormBoxconeditdate{
	margin:7px 20px 0 0px;
	margin-bottom: 0;
	float:left; width:125px; font-family:Arial, Helvetica, sans-serif; font-size:13px !important; color:#666666;
	
}

.Seltop_date{
	width:115px;
	height:29px;
	border:1px solid #dddddd;
	background-color:#fcfcfc;
	margin:10px 0 0 0;
	padding:5px 0 0 1px;
	
}

.DivContact_popup{
	width:350px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#000000;
	text-align:left;
	padding:20px 0 5px 0; margin:0 0 10px 0;
	border-bottom:1px #000000 dashed;
}
	
.DivRegister{
	float:left;
	width:280px;
	
}

.DivRegister_Te{
	float:left;
	width:170px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	padding:5px;
	background-color:#cacaca;
	border:1px #000000 solid;
}

.DivRegister_Te a{
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	font-weight:bold;
	font-size:12px;
	text-decoration:none;
}

.DivRegister_Te span{
	float:left;
	width:160px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000000;
	text-align:center;
	font-weight:bold;
	font-size:16px;
}

/*registration*/

.DivGrey_TextLe_1{
	width:500px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#1a5192;
	text-align:left;
	padding-left:15px;
	padding-top:5px;
}

/*contact us*/

.Cont_Main{
	float:left;
	width:650px;
	margin-top:15px;
}

.Cont_Main p{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333333;
	text-align:left;
	padding-left:15px;
	
}


.Cont_Lft{
	float:left !important;
	width:300px;
}

.Cont_Rgt{
	float:left !important;
	width:300px;
}

.maps{
	float:left !important;
	width:270px; 
	margin:3px 0 0 15px;
}

.contact-info {
	list-style-type: none;
	 color: #333333  !important;
	 
}
.contact-info li{margin:3px 0 0 15px;
font-family:Arial, Helvetica, sans-serif; color:#333333 ; font-size:14px; line-height:19px; font-weight:normal;
	}
.contact-info li a{
	font-family:Arial, Helvetica, sans-serif; text-decoration:underline !important; color:#1a5192 !important; font-size:12px; line-height:19px; font-weight: bold;
}

/*project - 02-01-13*/

.DivFile{
	width:200px;
	float:left;
}

.DivAddImg{
	width:370px;
	float:right;
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	color:#30629e;
	font-size:11px;
	text-align:left;
	font-weight:bold;
}

.DivAddImg a{
	font-family:Arial, Helvetica, sans-serif;
	color:#30629e;
	font-size:11px;
	text-decoration:underline;
	font-weight:bold;
}

.DivProjects{
	width:700px;
	float:left;
	
}

.DivProjects1{
	width:665px;
	float:left;
	border:1px #30629e solid;
	margin:15px 0 0 15px;
	 -webkit-box-shadow: inset 0 0 10px #30629e;
    -moz-box-shadow: inset 0 0 10px #30629e;
    box-shadow: inset 0 0 10px #30629e;
	/*background-color:#99FFFF;*/
}

.DivProjects1:hover{
	border:1px #000000 solid;
	margin:15px 0 0 15px;
	-webkit-box-shadow: inset 0 0 10px #000000;
    -moz-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
	/*background-color:#ffffff;*/
}

.DivPro_Te{
	width:280px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#30629e;
	font-weight:bold;
	padding:15px 0 2px 15px;
}

.DivPro_Te1{
	width:590px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222;
	padding:7px 0 2px 15px;
}

.DivPro_Img{
	width:220px;
	float:left;
}

.DivPro_Img1{
	width:120px;
	float:left;
	margin:10px 0 10px 15px;
}

.DivPro_Img2{
	width:80px;
	float:left;
	margin:70px 0 0 0;
}

.DivPro_Main{
	width:650px;
	float:left;
}

.DivPro_Ri{
	width:250px;
	float:left;
}

.DivPro_Te1_a{
	width:230px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#30629e;
	padding:5px 0 5px 15px;
	font-weight:bold;
}

.DivPro_Te1_a span{
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#93d7ea;
	font-weight:bold;
}

.DivPro_Te1_b{
	width:230px;
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#30629e;
	padding:5px 0 5px 15px;
	font-weight:bold;
}

.DivPro_Te1_c{
	width:150px;
	float:left;
	text-align:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#30629e;
	padding:55px 0 5px 15px;
	font-weight:bold;
}

.DivPro_Ri1{
	width:170px;
	float:left;
}

.DivReg{
	width:100%; text-align:left;color:#3e3e40;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:8px; float:left;
}

.DivReg1{
	width:28% !important;float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;  text-align:left !important;
	font-size:13px; 
	line-height:20px; 
	color:#544d44;
}

.DivReg2{
	width:3%;text-align:center; float:left;
	font-size:15px;
	line-height:20px;
	font-weight:bold;
	color:#000000;
}

.DivReg3{
	width:66%; float:left;
	font-family:Arial, Helvetica, sans-serif;
	text-align:left !important;
	font-size:13px; 
	position:relative;
	z-index:inherit; padding:0 0 0 5px;
	line-height:20px;
	color:#686664;
}

/*********************QuoteList-04-01-13 Newstyle*****************************/
/*****************ProjectQuotes List Start********************/
.wrapper {
	width: 400px;
	margin: 0 auto;
}
.expand_top,.expand_wrapper
{
	width: 400px;
	padding:0px;
	margin:0px 0px 5px 0px;
	float:left;
}
h1 {
	font: 4em normal Georgia, 'Times New Roman', Times, serif;
	text-align:center;
	padding: 20px 0;
	color: #ffffff;
}

h2.expand_heading {
	padding: 0 0 0 20px;
	margin:3px 0 5px 0;
	background: url(../images/expand_collapse.png) no-repeat;
	height:14px; 
	line-height: 38px;
	width:25px;
	font-size: 2em;
	font-weight: normal;
	float:right; cursor:pointer;
}
.expand_all
{
cursor:default;
}
h2.expand_heading a {
	color: #fff;
	text-decoration: none;
	display: block;
}
h2.expand_heading a:hover {
	color: #ccc;
}

h2.active {background-position: left bottom;}
.toggle_container {
	margin:13px 0 0 5px;
	padding: 0;
	border-top: 1px solid #d6d6d6;
	background: #ffffff;
	overflow: hidden;
	font-size: 1.2em;
	width:630px;
	clear: both;
}
.toggle_container .box {
	padding: 20px;
	border-bottom:1px dotted #000000;
}
.toggle_container .box p {
	padding:2px 0 0 0;
	margin:2px 0;
}
.toggle_container .box h3 {
	font:18px normal Arial, Helvetica, sans-serif;
	margin: 0 0 0 5px;
	padding: 0 0 2px 0;
	color:#000000;
}
.toggle_container .box h3 a{
	font:18px normal Arial, Helvetica, sans-serif;
	color:#000000;
	text-decoration:none; outline: none;
}
.toggle_container h3 {
	font:20px normal Arial, Helvetica, sans-serif;
	margin: 0 0 0 5px;
	padding: 0 0 2px 0;
	color:#000000;
	/*border-bottom: 1px dotted #ccc;*/
}
.toggle_container h3 a{
	font:22px normal Arial, Helvetica, sans-serif;
	color:#000000;
}
.toggle_container img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
	border:1px solid #ddd;
}
.expand_all
{
	width:116px;
	height:29px;
	float:right;
	cursor: pointer; 
}
.expanded
{
background-position:bottom left;
}

.wrapper1 {
	width: 400px;
	margin: 0 auto;
}
.expand_top1,.expand_wrapper1
{
	width: 400px;
	padding:0px;
	margin:0px 0px 5px 0px;
	float:left;
}
h1 {
	font: 4em normal Georgia, 'Times New Roman', Times, serif;
	text-align:center;
	padding: 20px 0;
	color: #ffffff;
}

h2.expand_heading1 {
	padding: 0 0 0 20px;
	margin:-20px 0 5px 0;
	background: url(../images/expand_collapse.png) no-repeat;
	height:14px; 
	line-height: 38px;
	width:25px;
	font-size: 2em;
	font-weight: normal;
	float:right;cursor:pointer;
}
.expand_all1
{
cursor:default;
}
h2.expand_heading1 a {
	color: #fff;
	text-decoration: none;
	display: block;
}
h2.expand_heading1 a:hover {
	color: #ccc;
}

h2.active {background-position: left bottom;}
.toggle_container1 {
	margin:-8px 0 0 1px;
	padding: 0;
	overflow: hidden;
	font-size:13px;
	width:710px;
	clear: both;
}
.toggle_container1 .box1 {
	padding:3px 20px 20px 2px;
}
.toggle_container1 .box1 p {
	padding:2px 0 0 0;
	margin:2px 0;
	font-family: Arial, Helvetica, sans-serif; 
	font-size:12px; line-height:20px;
}
.toggle_container1 h3 {
	font:22px normal Arial, Helvetica, sans-serif;
	margin:0 0 0 3px;
	padding: 0 0 2px 0;
	color:#000000;
}
.toggle_container1 h3 a{
	font:22px normal Arial, Helvetica, sans-serif;
	color:#000000;
}
.toggle_container1 img {
	float: left;
	margin: 10px 15px 15px 0;
	padding: 5px;
}

.main_quote{ width:640px; float: left;}
.Total_corespond_View{ 
	 width:130px; float:left; 
	 color:#265287; font-size:13px; font-weight:bold; padding:0 0 10px 5px;
}
.Total_corespond_View span{ 
	 color:#122843; font-size:13px; font-weight:bold; padding:2px 0 0 5px;
}
.pro_name_ptxt_N { 
	 width:450px; float:left;
}
.pro_names { 
	 font-family:Arial, Helvetica, sans-serif; color:#373636; 
	 font-weight:bold; width:350px; padding:13px 2px 0 14px; font-size:14px;
}
.pro_names a{ 
	 font-family:Arial, Helvetica, sans-serif; color:#373636; 
	 font-weight:bold; text-decoration:none;  outline: none;font-size:14px;
}
.Availbil { 
	 font-family:Arial, Helvetica, sans-serif; color:#888786; 
	 font-weight:bold; width:350px; padding:3px 2px 0 14px; font-size:12px;
}
.solu_p{ 
	 width:690px; float:left; margin:-10px 0 10px 0;
}
.solu_p p{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif; color:#545351; 
	 font-weight:normal; width:675px; padding:1px 2px 0 3px; line-height:18px; font-size:13px;
}
.solu_p p a{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif; color:#158cd0; text-decoration:underline;
	 font-weight:normal; width:675px; padding:1px 2px 0 3px; line-height:18px; font-size:13px;
}
/*****************ProjectQuotes List Start********************/

/*DASHBOARD Link START*/
.Dash_midIN_mid_inner{
	width:275px; height: auto; float:left; 
	font-family:Arial, Helvetica, sans-serif; 
	font-weight:bold; color:#0d0905; font-size:13px;
	padding:5px 0 10px 0; 
	}
.dashboardlink{
	float:left; width:270px; padding:12px 0 0 0; 
	font-weight:bold; font-family:Arial, Helvetica, sans-serif; 
	text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;}
/*.dashb_link{margin-top:1px; float:right; margin-right:10px;}*/
.events{ width:270px; float:left; margin:0; padding:0;}
.events ul{ width:270px; float:left; margin:0; padding:0; list-style:none;}	
.events ul li{ width:260px; float:left; margin:0; padding:0;border-bottom:1px dotted #587899;}	
.events ul li a{ 
	width:260px; float:left; 
	margin:0; padding:0 0 0 10px; line-height:36px; color:#737373; 
	}
.events ul li a:hover{ color:#ffffff !important;}
.menu_Curr_Dash{ color:#ffffff !important;}
.buy_acc_bg{
	width:265px;
	float:left;
	background-image:url(../images/grey_bg.png);
	background-repeat:repeat-x;
	height:32px;
}
.DivGrey_text1_dash{
	width:230px;
	float:left;
}

.DivGrey_TextLe1_dash{
	width:230px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#1a5192; font-weight:normal;
	text-align:left;
	padding-left:15px;
	padding-top:5px;
	
}
.DivGrey_left_dash{
	width:290px;
	float:left;
	background-image:url(../images/grey_bg.png);
	background-repeat:repeat-x;
	height:32px;
	margin:-10px 0 0 0;
}
.pro_name_pimg { 
	 width:70px; float:left; margin:3px 0 0 8px; 
}
.profile_nam{ width:240px; float:right;}
.profile_nam a{ font-family:Arial, Helvetica, sans-serif; float:left; font-weight:bold; margin:0 6px; color:#003366; text-decoration:none; padding:22px 0 0 0;}
.profile_nam a:hover{ color:#80a5ce;}
.pro_name { 
	 width:550px; float:left;
}
.DivPro_Te a{
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#30629e; padding:8px 0 0 0;
	font-weight:bold;
}
.quote_price{
	width:220px;
	float:right;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#30629e;
	padding:2px 0 5px 15px;
	font-weight:bold;
}
.quotebg{
	width:81px; background-repeat:no-repeat;
	float:right; background-image:url(../images/quote_bg.png);
	text-align:left; height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:-20px -15px 0 0;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.quotebg_lft{
	width:630px; 
	float:right; /*background-image: url(../images/quoteviewbg.png);background-repeat:no-repeat; */
	text-align:left; height: auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:7px 1px 11px -6px;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.qviewprice{
	width:200px;
	float:left; 
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#30629e;
	padding:2px 0 0px 3px;
	font-weight:bold;
}
.awardbg{
	width:155px;float:right; }
.awardbg a{
	width:155px; background-repeat:no-repeat;
	float:right; background-image: url(../images/awardbg.png);
	text-align:left; height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:1px 0px 0 0;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.awardbg a:hover{
	color: #242220; 
}
.DivPro_Te1 p{
	float:left;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#222222; line-height:18px;
	padding:1px 0 1px 3px;
}
.awardlist{
	width:90px;float:right;}
.awardlist a{
	width:81px; background-repeat:no-repeat;
	float:right; background-image:url(../images/quote_bg.png);
	text-align:left; height:25px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;color: #FFFFFF; margin:-20px -15px 0 0;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.awardlist a:hover{
	color:#242220;
}
.boxCont{ width:620px; float:left; padding:0 0 0 6px; border-bottom:1px dotted #CCCCCC;}
.boxCont_head{ 
	width:630px; 
	font:19px normal Arial, Helvetica, sans-serif;
	margin:1px 0 4px 3px;  border-bottom:1px dotted #CCCCCC;
	padding:5px 0 5px 3px; line-height:22px;
	color:#30629e;}
.boxCont h3{
	font:19px normal Arial, Helvetica, sans-serif;
	margin:1px 0 0 3px; 
	padding:5px 0 2px 3px;
	color:#30629e;}
.solu_pView{ 
	 width:630px; float:left; margin:1px 0 10px 0;
}
.solu_pView p{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif; color:#545351; 
	 font-weight:normal;padding:0px 2px 0 10px; line-height:18px; font-size:13px;
}
.solu_pView p a{ 
	  font-family: Verdana, Arial, Helvetica, sans-serif; color:#158cd0; text-decoration:underline;
	 font-weight:normal; width:675px; padding:1px 2px 0 3px; line-height:18px; font-size:13px;
}
.awardbgview{
	width:95px;float:right; }
.awardbgview a{
	width:95px; background-repeat:no-repeat;
	float:right; background-image: url(../images/awardbg.png);
	text-align:left; height:28px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:1px -15px -3px 0;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.awardbgview a:hover{
	color: #242220; 
}
.awardbgviewrate{
	width:320px;float:left;}
.awardbgviewrate a{
	width:100px !important; background-color:#26548b  !important; float:right;
	text-align: center; border:1px solid #008bcb;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:1px 0px 0px 0  !important;
	padding:4px 0 5px 1px  !important;
	font-weight:bold;
	-moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px;
    border-radius:13px;
}
.awardbgviewrate a:hover{
	color: #242220  !important; 
	width:100px; background-color:#008bcb  !important; float:right;
	text-align: center; border:1px solid #255c9c;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin:1px 0px 0px 0;
	padding:4px 0 5px 1px;
	font-weight:bold;
	-moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px;
    border-radius:13px;
}
.main_in1_CC { margin:0 auto; width:150px; margin-bottom:20px; }
.btn1box{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; font-weight:bold !important;
	 text-align:center; padding:4px 0 4px 0;
	width:100px;color:#FFFFFF !important;border:none;cursor:pointer;
	background-color:#008bcb  !important;
	-moz-border-radius:13px;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px; line-height:22px;
    border-radius:13px; margin:0 auto;
	border:1px solid #255c9c;
 }
 .quotebgbgsshow{
	width:83px; background-repeat:no-repeat;
	float:right; background-image: url(../images/quote_bg.png);
	text-align:left; height: auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:0px -42px 11px 0px;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.quotebg_lftawrd{
	width:140px; 
	float:left; background-image: url(../images/quoteviewbg.png);background-repeat:no-repeat; 
	text-align:left; height: auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #FFFFFF; margin:7px 1px 11px -6px;
	padding:3px 0 5px 8px;
	font-weight:bold;
}
.prog{
	width:620px; float:left;margin:12px 0 0 3px;
}
.profileimgg_L{
	width:420px; float:left;margin:6px 0 0 3px;
}
.profileimgg_R{
	width:160px; margin:0 0 0 10px; float:left;
}
.profileimggg{
	border:2px solid #CCCCCC; width:130px; float:left;
}
/*Rating*/
.RestRating {
	float:left;
	font-weight:normal !important;
	font-size:11px;
	color:#663333;
	padding:10px 0 3px 15px;
}

.RestRater{
	float:left; margin:3px 0 3px 2px;
	width:85px;
	background-image: url(../images/test_123.png);
	background-repeat:repeat-x;
	height:17px;
}
.RestRater:hover{
	float:left; margin:3px 0 3px 2px;
	width:85px;
	background-image: url(../images/test_123_hover.png);
	background-repeat:repeat-x;
	height:17px;
}
.RestRater1{
	background-image: url(../images/stars_yel.png);
	background-repeat:repeat-x;
	height:17px;
}
.RestRater1:hover{
	background-image: url(../images/stars_yelhover.png);
	background-repeat:repeat-x;
	height:17px;
}
.pro_names_pub_C { 
	 font-family:Arial, Helvetica, sans-serif; color:#2a2928; 
	 font-weight:normal; padding:3px 2px 0 2px; font-size:19px;
}
.pro_names_pub_C a{ 
	 font-family:Arial, Helvetica, sans-serif; color:#2a2928; 
	 font-weight:normal;  font-size:19px; text-decoration:underline;
}
.pro_names_pub_C a:hover{ 
	 text-decoration:none;color:#594f44;
}
.Availbil_pub_C { 
	 font-family:Arial, Helvetica, sans-serif; color:#2e5b90; 
	 font-weight:bold; padding:6px 2px 0 2px; font-size:12px;
}
.Addres {
	font-family:Arial, Helvetica, sans-serif; color:#163659; font-weight:bold;
	padding:10px 2px 0 2px; font-size:12px; width:320px; float:left;}
.Addres span{
	font-family:Arial, Helvetica, sans-serif; color:#3367a0; 
	padding:6px 2px 0 2px; font-size:12px;font-weight:normal;}
.feedback{
	font-family:Arial, Helvetica, sans-serif; color:#4e4f50; font-weight:bold;
	padding:7px 2px 0 12px; font-size:12px; width:600px; float:left;}
.feedback p{
	font-family:Arial, Helvetica, sans-serif; color:#4e4f50; font-weight:bold;
	 font-size:12px; float:left; text-align:left; line-height:18px;}
.btn1box_changebtn{
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; font-weight:bold !important;
	 text-align:center; padding:4px 0 4px 0;
	width:110px !important;color:#FFFFFF !important;border:none;cursor:pointer;
	background-color:#008bcb  !important;
	-moz-border-radius:13px; margin:0 0 0 12px !important;
    -webkit-border-radius:13px;
    -khtml-border-radius:13px; line-height:22px;
    border-radius:13px; float:left;
	border:1px solid #255c9c;
 }
 .btn_con{width:410px; margin:0 auto; margin-top:15px;}