{literal}
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery(".gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook'});
});
var DivVal='StatusDiv_';
var ActionArr=Array();
var HTMLArr=Array();
var MgmtArr=Array();
jQuery(document).ready(function(){
	jQuery(".gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook'});
});

function AdminCommonAjaxAction(Action)
{ 
	switch(Action)
	{
		case 'Delete':
				len=FormObj.elements.length;flag=false;var i=0;
				for(i=0; i<len; i++){	
					if (FormObj.elements[i].name=='ConId[]')
					{
						if(FormObj.elements[i].checked)
						{	flag=true; break;	}
						else
						{	flag=false;		}
					}	
				} 
				if(flag){
					if(confirm("Are you sure to "+Action+" this "+MgmtName+" Details?")){
						FormObj.Action_Type.value =Action;
						FormObj.submit();
					}
					else{	return false;	}
				}
				else{
					alert('Please Select Atleast one Checkbox For This Action');
					return false;
				}
			break;
		case 'Zip':
				len=FormObj.elements.length;flag=false;var i=0;
				for(i=0; i<len; i++){	
					if (FormObj.elements[i].name=='ConId[]')
					{
						if(FormObj.elements[i].checked)
						{	flag=true; break;	}
						else
						{	flag=false;		}
					}	
				} 
				if(flag){
						FormObj.Action_Type.value =Action;
						FormObj.submit();
				}
				else{
					alert('Please Select Atleast one Checkbox For This Action');
					return false;
				}
			break;	
		case 'NotCompleted':
				len=FormObj.elements.length;flag=false;var i=0;
				for(i=0; i<len; i++){	
					if (FormObj.elements[i].name=='ConId[]')
					{
						if(FormObj.elements[i].checked)
						{	flag=true; break;	}
						else
						{	flag=false;		}
					}	
				} 
				if(flag){
					if(confirm("Are you sure to "+Action+" this "+MgmtName+" Details?")){
						FormObj.Action_Type.value =Action;
						FormObj.submit();
					}
					else{	return false;	}
				}
				else{
					alert('Please Select Atleast one Checkbox For This Action');
					return false;
				}
			break;	
		case 'Completed':
				len=FormObj.elements.length;flag=false;var i=0;
				for(i=0; i<len; i++){	
					if (FormObj.elements[i].name=='ConId[]')
					{
						if(FormObj.elements[i].checked)
						{	flag=true; break;	}
						else
						{	flag=false;		}
					}	
				} 
				if(flag){
					if(confirm("Are you sure to "+Action+" this "+MgmtName+" Details?")){
						FormObj.Action_Type.value =Action;
						FormObj.submit();
					}
					else{	return false;	}
				}
				else{
					alert('Please Select Atleast one Checkbox For This Action');
					return false;
				}
			break;	
		case 'Pending':
				len=FormObj.elements.length;flag=false;var i=0;
				for(i=0; i<len; i++){	
					if (FormObj.elements[i].name=='ConId[]')
					{
						if(FormObj.elements[i].checked)
						{	flag=true; break;	}
						else
						{	flag=false;		}
					}	
				} 
				if(flag){
					if(confirm("Are you sure to "+Action+" this "+MgmtName+" Details?")){
						FormObj.Action_Type.value =Action;
						FormObj.submit();
					}
					else{	return false;	}
				}
				else{
					alert('Please Select Atleast one Checkbox For This Action');
					return false;
				}
			break;	 
		default:
			len=FormObj.elements.length;flag=false;var i=0;	
			for(i=0; i<len; i++){
				if (FormObj.elements[i].name=='ConId[]'){
					if(FormObj.elements[i].checked){
						flag=true;break;
					}
					else{
						flag=false;
					}
				}	
			}
			if(flag){
				if(confirm("Are you sure to "+Action+" this "+MgmtName+" Details?"))
				{
						
				    var SelIds=Array();
					/******************** check particular value in checkbox ****************************************/
					 	jQuery.each(jQuery('input[type="checkbox"][name="ConId[]"]:checked'),function(i, option){
						SelIds[i]=jQuery(this).val();
					});  

					var AjacRes=jQuery.ajax({	 
						url:'admin_ajax_status_change.php',
						type: "POST",
						dataType:'json',
						data: {Action:Action,SelIds:SelIds,Seltype:Seltype,MgmtName:MgmtName},
						error:function (xhr){
							alert('Server Error');
						},
						success: function(JSonRes){
							if(JSonRes.ajax_res=="true"){

								 jQuery(SelIds).each(function(i,value) { 
										if(Action=='ON'){
												jQuery('#InActive_'+value).show();
												jQuery('#Active_'+value).hide();
											}
											else{
												jQuery('#Active_'+value).show();
												jQuery('#InActive_'+value).hide();
											}
								  });	
								if(JSonRes.redir_Status=='true'){
									var locationObj = window.location;
									window.location.href= locationObj;		
								}
								else{
									if(JSonRes.status_check=="true"){

										jQuery.each(jQuery('input[type="checkbox"][name="ConId[]"]:checked'),function(i, option){
											
										});
										jQuery('.NewMsgDiv').html('<div class="Msg_success"><div class="AdmFleft">'+JSonRes.ajax_msg+'</div><div class="AdmFRight"><a class="close-msg" href="javascript:;" onclick="TriggerClick()"><img src="images/close-button.png" alt="" /></a></div></div>');		
									}
									else{
										jQuery('.NewMsgDiv').html('<div class="Msg_error"><div class="AdmFleft">'+JSonRes.ajax_msg+'</div><div class="AdmFRight"><a class="close-msg" href="javascript:;" onclick="TriggerClick()"><img src="images/close-button.png" alt="" /></a></div></div>');
									}				
								}
							}
							else{
								jQuery('.NewMsgDiv').html('<div class="Msg_error"><div class="AdmFleft">'+JSonRes.ajax_msg+'</div><div class="AdmFRight"><a class="close-msg" href="javascript:;" onclick="TriggerClick()"><img src="images/close-button.png" alt="" /></a></div></div>');
							}
						}							  
					});
						
				}
				else{	return false;	}
			}
			else{
				alert('Please Select Atleast one Checkbox For This Action');
				return false;
			}
		break;
	}
}
</script>
{/literal}

<link rel="stylesheet" href="PageStyleMenu/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="PageStyleMenu/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
{if $ControlList|@count gt 0}
	<div id="actions-box">
		<a href="" class="action-slider"></a>
		<div id="actions-box-slider">
		<a href="javascript:;" onclick="AdminCommonFunction('Select');" class="action-Active">Select All</a>
		<a href="javascript:;" onclick="AdminCommonFunction('UnSelect');" class="action-Active">UnSelect All</a>
	{foreach from=$ControlList key=ConKey item=ConDet}
		<a href="javascript:;" onclick="AdminCommonAjaxAction('{$ConDet}');" class="action-Active">{$ConKey}</a>
		<script type="text/javascript">
			ActionArr.push('{$ConKey}');
			HTMLArr['{$ConKey}']='{$ConKey}_';
			MgmtArr['{$ConKey}']='{$ConKey}';
		</script>
	{/foreach}
		</div>
		<div class="clear"></div>
	</div>
{/if}