<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">	
<div class="InnDiv940 AdmFRight"><div class="AdmFRight">
			<div class="PadRLB5 AdmFleft">
				<div class="ImgCen">
					<a href="index.php"><img class="ImgBord" src="images/homeSmall.png" /></a>
				</div>
				<div class="HeadFont12 FontCen">Home</div>	
			</div>
			<div class="PadRLB5 AdmFleft">
				<div class="ImgCen">
					<a href="blog_mgmt.php"><img class="ImgBord" src="images/go_back.jpg" /></a>
				</div>
				<div class="HeadFont12 FontCen">Back</div>
			</div>
		</div></div>		
	<div class="InnDiv940 AdmFleft">	
		<!--<div class="AdmFleft" style="width:960px;">			
		<form name="frm_search" method="get">
		<input type="hidden" name="act_type" value="{$smarty.get.act_type|stripslashes}"/>
		<input type="hidden" name="con_id" value="{$smarty.get.con_id|stripslashes}"/>
				<div class="PadRLB5 AdmFleft">
					<div class="HeadFont12 AdmFleft PadRLB5">
Product Name&nbsp;:&nbsp;<input type="text" name="sname" value="{$smarty.get.sname|stripslashes}"/></div>
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('order_list_home.php?act_type=orders&con_id={$smarty.get.con_id|stripslashes}');" /></div>	
				</div>
			</form></div>-->
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
	
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_Video" method="post" action="">
	<input type="hidden" name="Action_Type" />
	<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL">S.No</th>
			<th class="table-header-repeat line-left"><b>Name</b></th>
			<th class="table-header-repeat line-left"><b>Comments</b></th>
			<th class="table-header-repeat line-left"><b>Posted Date</b></th>
 		</tr>
		<tfoot><tr><td colspan="5" align="right">{$compage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
			{foreach from=$BReplyList item=TableDet}
		<tr  bgcolor="{if $i%2 neq '0'}#FFFFFF{else}#F3F3F3{/if}"> 
                <td width="10%">{$i++}.</td>
                <td width="15%">{$TableDet.Name|stripslashes}</td>
				<td width="60%">{$TableDet.Reply|stripslashes|html_entity_decode}</td>
				<td width="15%">{$TableDet.ReplyOn|date_format:"%B %d,%Y %H:%M:%S"}</td>
 			</tr>
			{foreachelse}
				<tr><td colspan="5" align="center" class="error_msg"><strong>No Results Found . .</strong></td></tr>	
			{/foreach}				
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_Video';
var FormObj=document.forms[FormName];
var MgmtName='Payment(s)';
var Seltype='PaymentMgmt';
var ActionArr=Array('Active','InActive');
var HTMLArr=Array();
HTMLArr['Active']='Active_';
HTMLArr['InActive']='Active_';

var MgmtArr=Array();
MgmtArr['Active']='<img  src="images/ActSta.png" border="0" />';
MgmtArr['InActive']='<img src="images/InactSta.png" border="0" />';
function GoBackRedirct(RedirURL){
	window.location.href= RedirURL;
}
</script>
{/literal}