<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript">
var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	var FlagIns=true;ErrCss='txtboxerr';
	FlagIns=FormValidateFunction('Text','#BlogTitle','Please enter title');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('TinyMce','BlogText','Please enter description');
	} 
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
 
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
<form name="FormAddUpdate" method="post" action=""><div class="body_head">			
	<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
	{if $SucMessage neq '' || $ErrMessage neq '' }	
		<div class="FormDiv">							
			<div class="Msg_Div">
			{if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
			{elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
			</div>
		</div><div class="spacer"></div>
	{/if}							
		<div class="FormDiv">
			<div class="FormDet1">Title</div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<input type="text" name="BlogTitle" id="BlogTitle"  class="txtbox1" value="{$Arr.BlogTitle}" style="width:350px;" maxlength="100"/>
	<br /><span id="BlogTitleMsg" class="error"></span>
			</div>
		</div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
		<div class="FormDiv">
			<div class="FormDet1" style="width:27%">Description </div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<textarea name="BlogText" id="BlogText" class="ckeditor" rows="12" cols="40">{$Arr.BlogText|stripslashes}</textarea>
			<br /><span id="BlogTextMsg" class="error"></span> 	
			</div>
		</div>	
		<div style="padding-left:50px;"><div style="width:600px; float:left;">	 
		 
		<div class="FormDiv">
			<div class="FormDet1">&nbsp;</div>
			<div class="FormDet2">&nbsp;</div>
			<div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="submit" name="AltPage" value="Update"class="btn" onclick="return GoToFormValidate();" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="submit" name="AltPage" value="Add"class="btn" onclick="return GoToFormValidate();" />
{/if}
&nbsp;<input type="button" name="goback" value="GoBack" class="btn" onClick="GoBack('blog_mgmt.php');" />
			</div>
		</div>
	</div></div></div>			
	<div class="clearspace"></div>
</div></form>	
{literal}
<script type="text/javascript">
var FormName='FormAddUpdate';
var FormObj=document.forms[FormName];
var MgmtName='Content';
</script>
{/literal}