<link rel="stylesheet" href="PageStyleMenu/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="PageStyleMenu/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">	
	<div class="InnDiv940 AdmFleft">	
			<div class="AdmFleft">
			<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft">
					<div class="HeadFont12 AdmFleft PadRLB5">
Category Name&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}"/></div>
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('category_mgmt.php');" /></div>		
				</div>
			</form>	
			</div> 
	<div class="clearspace"></div>
			<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
	<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
			</div>	
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
		<input type="hidden" name="Seltype"/>	

		<div class="clearspace"></div>
		<!--	Admin Mgmt Permission Check	Start-->
			
		<!--	Admin Mgmt Permission Check	Start-->
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
			<thead><tr>
				<th class="table-header-cornerL"><b>S.No</b></th>
				<th class="table-header-repeat line-left"><b>Category Name</b></th>
 				<th class="table-header-repeat line-left"><b>Status</b></th>
				<th class="table-header-cornerR line-left"><b>Action</b></th>						
			</tr></thead>
			<tfoot><tr><td colspan="4" align="right">{$PageNavigation}</td></tr></tfoot>
			<tbody>
			{assign var=i value=$PageStartNum}
			{foreach from=$CatList item=ConDet}
			<tr  bgcolor="{if $i%2 neq '0'}#FFFFFF{else}#F3F3F3{/if}"> 
				<td width="10%"><input type="checkbox" name="ConId[]" id="ConId[]" value="{$ConDet.CatId}"/>{$i++}.</td>
				<td width="60%">{$ConDet.CatName|stripslashes}</td>
				      <td width="15%">					
					{if $ConDet.CatStatus eq '1'}
					
					<span id="InActive_{$ConDet.CatId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.CatId}','CateMgmt','Category(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.CatId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.CatId}','CateMgmt','Category(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$ConDet.CatId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.CatId}','CateMgmt','Category(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.CatId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.CatId}','CateMgmt','Category(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
					</td>
					
				</td><td width="15%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="category_mgmt.php?act_type=addnew&con_id={$ConDet.CatId|md5_enc}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$ConDet.CatId}');"></a>
				</div></td>
					
			</tr>	
			{foreachelse}
				<tr><td colspan="4" align="center" class="error_msg"><strong>No Results Found ..</strong></td></tr>					
			{/foreach}				
			</tbody>
		</table>			
		<div class="clearspace"></div>
	</form>
	</div>
</div>

{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var Seltype='CateMgmt';
var MgmtName='Category(s)';

</script>
{/literal}