<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript">
var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	var FlagIns=true;ErrCss='txtboxerr';
	FlagIns=FormValidateFunction('Text','#page_title','Please enter title');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('TinyMce','page_content','Please enter content description');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#CMetaKey','Please enter meta key');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#CMetaDesc','Please enter meta  description');
	}
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
 
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
<form name="FormAddUpdate" method="post" action=""><div class="body_head">			
	<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
	{if $SucMessage neq '' || $ErrMessage neq '' }	
		<div class="FormDiv">							
			<div class="Msg_Div">
			{if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
			{elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
			</div>
		</div><div class="spacer"></div>
	{/if}							
		<div class="FormDiv">
			<div class="FormDet1">Title</div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<input type="text" name="page_title" id="page_title"  class="txtbox1" value="{$Arr.page_title}" style="width:350px;" maxlength="100"/>
	<br /><span id="page_titleMsg" class="error"></span>
			</div>
		</div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
		<div class="FormDiv">
			<div class="FormDet1" style="width:27%">Description </div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<textarea name="page_content" id="page_content" class="ckeditor" rows="12" cols="40">{$Arr.page_content|stripslashes}</textarea>
			<br /><span id="page_contentMsg" class="error"></span> 	
			</div>
		</div>	
		<div style="padding-left:50px;"><div style="width:600px; float:left;">					
		<div class="FormDiv"> 	
			<div class="FormDet1">Meta Key</div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<textarea name="CMetaKey" id="CMetaKey" rows="10" cols="45">{$Arr.CMetaKey|stripslashes}</textarea>
			<br /><span id="CMetaKeyMsg" class="error"></span>
			</div>
		</div>
		<div class="FormDiv"> 	
			<div class="FormDet1">Meta  Description</div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<textarea name="CMetaDesc" id="CMetaDesc" rows="10" cols="45">{$Arr.CMetaDesc|stripslashes}</textarea>
			<br/><span id="CMetaDescMsg" class="error"></span>
			</div>
		</div>
		<div class="FormDiv">
			<div class="FormDet1">&nbsp;</div>
			<div class="FormDet2">&nbsp;</div>
			<div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="submit" name="AltPage" value="Update {$PageButName}"class="btn" onclick="return GoToFormValidate();" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="submit" name="AltPage" value="Add {$PageButName}"class="btn" onclick="return GoToFormValidate();" />
{/if}
&nbsp;<input type="button" name="goback" value="GoBack {$PageButName}" class="btn" onClick="GoBack('{$RedirFileName}.php');" />
			</div>
		</div>
	</div></div></div>			
	<div class="clearspace"></div>
</div></form>	
{literal}
<script type="text/javascript">
var FormName='FormAddUpdate';
var FormObj=document.forms[FormName];
var MgmtName='Content';
</script>
{/literal}