<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">			<form name="frm_search" method="get" action="">
			<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
					Title&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}" /></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="submit" name="seabut" value="Search" class="btn"/></div>	
				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('content_management.php');" /></div>		
			</div>
		</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_Video" method="post" action="">
	<input type="hidden" name="Action_Type" />
	<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL">S.No</th>
			<th class="table-header-repeat line-left">Title</th>
			<th class="table-header-repeat line-left">Status</th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="4" align="right">{$ContentPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$ContList item=ConDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if}>
		
				<td width="10%"><input type="checkbox" name="ConId[]" value="{$ConDet.page_id}" />{$i++}.</td>
				<td width="70%">{$ConDet.page_title|stripslashes|html_entity_decode}
				</td>
				<td width="7%">					
					{if $ConDet.page_status eq '1'}
					
					<span id="InActive_{$ConDet.page_id}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.page_id}','ContentMgmt','Content(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.page_id}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.page_id}','ContentMgmt','Content(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$ConDet.page_id}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.page_id}','ContentMgmt','Content(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.page_id}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.page_id}','ContentMgmt','Content(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
				</td>
				<td width="13%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="content_management.php?act_type=addnew&con_id={$ConDet.page_id|md5_enc}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$ConDet.page_id}');"></a>
					
					<div id="MyShow_{$ConDet.page_id}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$ConDet.page_id}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$ConDet.page_id}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$ConDet.page_id}','MyShow','MyHide');"></a>
				</div>
					
				</div>							
				
				</td>						
			</tr>	
			<tr  id="ResIdDiv_{$ConDet.page_id}" style="display:none;" class="ViewDet" >
			<td colspan="4">
			<div class="HeadYBord14">Details of '{$ConDet.page_title|stripslashes}' - Content </div>
							<div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Title</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.page_title|stripslashes|html_entity_decode}</div>
						</div>
						<div class="clearspace"></div>
						<div class="CMDet">
						<div class="CMDet1">Description </div>
						<div class="CMDet2"> : &nbsp;{$ConDet.page_content|stripslashes|html_entity_decode}</div></div>
						<div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Meta Key </div>
							<div class="CMDet2">: &nbsp;{$ConDet.CMetaKey|stripslashes|html_entity_decode}</div>
						</div><div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Meta  Description </div>
							<div class="CMDet2"> : &nbsp;{$ConDet.CMetaDesc|stripslashes|html_entity_decode}</div>
						</div>	
						
			   </td>
			</tr>
		
		{foreachelse}
			<tr><td colspan="4" align="center" class="error_msg"><strong>No Content Pages</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_Video';
var FormObj=document.forms[FormName];
var MgmtName='Content(s)';
var Seltype='ContentMgmt';

function GoBackRedirct(RedirURL){
	window.location.href= RedirURL;
}
</script>
{/literal}