<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
<script type="text/javascript"> 
var ImageList='{$ImgList|@count}'; 
</script>
{literal}
<script type="text/javascript">
var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();;var ErrCss='txtboxerr';
function GoToFormValidate(ValiType)
{	
	var FlagIns=true;var ErrCss='txtboxerr';
	
	FlagIns=FormValidateFunction('Text','#GlassCode','Please enter Glass Code'); 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#GlassName','Please enter Glass Name');
	} 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#GlassGroup','Please enter Glass Group');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#Thickness','Please select Thickness');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#LRegularPrice','Please enter Lesportes Regular Price');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#LTemperedPrice','Please enter Lesportes Tempered Price');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#BRegularPrice','Please enter Barazin Regular Price');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#BTemperedPrice','Please enter Barazin Tempered Price');
	}  
	if(FlagIns)
	{	
		if(ImageList==0){ 
			if(jQuery('#GlassImage').val()== '' && ValiType !='2')
			{	
				FlagIns=FormValidateFunction('Text','#GlassImage','Please Select Image');
			}  
			if(jQuery('#GlassImage').val()!= '' && ValiType !='2'){ ErrCss='txtboxerr';
				if(!jQuery('#GlassImage').val().substr(-4).toLowerCase().match('.jpg|jpeg|.gif|.png|.bmp')){
				jQuery('#GlassImageMsg').show();
				jQuery('#GlassImageMsg').html('jpeg/jpg/gif/png/bmp formats only allowed');
				jQuery('#GlassImage').attr('class','error_element');
				jQuery('#GlassImage').focus();return false;
				}		
			}
		} 
	} 
	if(FlagIns){	
		document.forms[FormName].submit();
	}
}  
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
	<form name="add_pro" method="post" enctype="multipart/form-data">
	<input type="hidden" id="id" value="1">
	<div class="body_head"><div class="TutProWid2">
		<div style="padding-left:50px;"><div style="width:600px; float:left;">
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
 			<div class="FormDiv">
				<div class="FormDet1">Glass Code</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="GlassCode" id="GlassCode" class="txtbox1" value="{$Arr.GlassCode|stripslashes}" />
				<br /><span id="GlassCodeMsg" class="error"></span>
				</div>
			</div> 
 			<div class="FormDiv">
				<div class="FormDet1">Glass Name</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="GlassName" id="GlassName" class="txtbox1" value="{$Arr.GlassName|stripslashes}" />
				<br /><span id="GlassNameMsg" class="error"></span>
				</div>
			</div> 
 			<div class="FormDiv">
				<div class="FormDet1">Glass Group</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="GlassGroup" id="GlassGroup" class="txtbox1" value="{$Arr.GlassGroup|stripslashes}" onkeypress="return AllowOnlyNumbers(event);" />
				<br /><span id="GlassGroupMsg" class="error"></span>
				</div>
			</div> 
			<div class="FormDiv">
				<div class="FormDet1">Thickness</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
					<select name="Thickness" id="Thickness">
					<option value="">Select Thickness</option> 
						 <option {if $Arr.Thickness eq '1 mm'}selected="selected"{/if} value="1 mm">1 mm</option> 
						 <option {if $Arr.Thickness eq '2 mm'}selected="selected"{/if} value="2 mm">2 mm</option> 
						 <option {if $Arr.Thickness eq '3 mm'}selected="selected"{/if} value="3 mm">3 mm</option> 
						 <option {if $Arr.Thickness eq '4 mm'}selected="selected"{/if} value="4 mm">4 mm</option> 
						 <option {if $Arr.Thickness eq '5 mm'}selected="selected"{/if} value="5 mm">5 mm</option> 
						 <option {if $Arr.Thickness eq '6 mm'}selected="selected"{/if} value="6 mm">6 mm</option>  
					</select>
 				<br /><span id="ThicknessMsg" class="error"></span>
				</div>
			</div>
 			<div class="FormDiv">
				<div class="FormDet1">Lesportes Regular Price</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">$
				<input type="text" name="LRegularPrice" id="LRegularPrice" class="txtbox1" value="{$Arr.LRegularPrice|stripslashes}" />
				<br /><span id="LRegularPriceMsg" class="error"></span>
				</div>
			</div> 
 			<div class="FormDiv">
				<div class="FormDet1">Lesportes Tempered Price</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">$
				<input type="text" name="LTemperedPrice" id="LTemperedPrice" class="txtbox1" value="{$Arr.LTemperedPrice|stripslashes}" />
				<br /><span id="LTemperedPriceMsg" class="error"></span>
				</div>
			</div> 
 			<div class="FormDiv">
				<div class="FormDet1">Barazin Regular Price</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">$
				<input type="text" name="BRegularPrice" id="BRegularPrice" class="txtbox1" value="{$Arr.BRegularPrice|stripslashes}" />
				<br /><span id="BRegularPriceMsg" class="error"></span>
				</div>
			</div> 
 			<div class="FormDiv">
				<div class="FormDet1">Barazin Tempered Price</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">$
				<input type="text" name="BTemperedPrice" id="BTemperedPrice" class="txtbox1" value="{$Arr.BTemperedPrice|stripslashes}" />
				<br /><span id="BTemperedPriceMsg" class="error"></span>
				</div>
			</div> 
		<div class="clearspace"></div></div><div class="clearspace"></div></div> 
		<div style="padding-left:50px;"><div style="width:600px; float:left;"> 
 			<div class="FormDiv">
				<div class="FormDet1">Glass Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3"><div class="left" style="width:220px;">
					<input name="GlassImage" id="GlassImage" class="compound_file" type="file"/>  
					</div>
						 &nbsp; 
						<div class="clear"></div><span id="GlassImageMsg" class="error"></span>
						<div class="clear"></div>
						{if $Arr.GlassImage neq ''}	<img border='0' src="{$GlassImageDisp}t_{$Arr.GlassImage}"/> {/if}
					</div>
					<div class="spacer"></div>
				</div> 
 			<div class="FormDiv">
				<div class="FormDet1">&nbsp;</div>
				<div class="FormDet2">&nbsp;</div>
				<div class="FormDet3">
	{if $smarty.get.con_id neq ''}
		<input type="button" name="Update" value="Update Glass"class="btn" onclick="return GoToFormValidate('2');" />
		<input type="hidden" name="AdminAction" value="Update"class="btn" />
	{else}
		<input type="hidden" name="AdminAction" value="Add"class="btn" />
		<input type="button" name="Add" value="Add Glass"class="btn" onclick="return GoToFormValidate('1');" />
	{/if}
	&nbsp;<input type="button" name="goback" value="GoBack" class="btn" onClick="GoBack('glass_mgmt.php');">
				</div>
			</div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
	</div><div class="clearspace"></div></div>
	</form>  
{literal} 
<script type="text/javascript">
var FormName='add_pro';
var FormObj=document.forms[FormName];
var MgmtName='Product';  
</script>
{/literal}