<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">		<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
User Name&nbsp;:&nbsp;<input type="text" name="usersea" value="{$smarty.get.usersea|stripslashes}"/></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
Invoice Number&nbsp;:&nbsp;<input type="text" name="pronamesea" value="{$smarty.get.pronamesea|stripslashes}"/></div> 
					 
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('credit_note.php');" /></div>		
				</div>
			</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL"><b>S.No</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;User Name</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Invoice Number</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Credit Note</b></th>  
			<th class="table-header-repeat line-left"><b>Amount</b></th>
			<th class="table-header-repeat line-left"><b>Taxes Applied</b></th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="7" align="right">{$CreditNotePage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
			{foreach from=$ProList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row" id="order_{$TableDet.CNId}"{/if}>
		<td width="7%"><input type="checkbox" name="ConId[]" value="{$TableDet.CNId}" />{$i++}.</td>
					<td width="15%">{$TableDet.UserName|stripslashes}</td>
					<td width="12%">{$TableDet.InvoiceNum|stripslashes}</td>
                    <td width="23%">{$TableDet.CreditNote|stripslashes}</td>  
                    <td width="8%">${$TableDet.PayAmt|stripslashes}</td> 
                    <td width="20%">GST-{$TableDet.GSTTax|stripslashes}%, QST-{$TableDet.QSTTax|stripslashes}%,Sales-{$TableDet.SalesTax|stripslashes}%</td>   
					 
				<td width="10%">
				<div class="gallery options-width">
					<!--<a title="Edit Credit Note" class="icon-1 info-tooltip" href="credit_note.php?act_type=addnew&edit=1&con_id={$TableDet.CNId|md5}"></a>-->
 				<div id="MyShow_{$TableDet.CNId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToViewFunction('{$TableDet.CNId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$TableDet.CNId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.CNId}','MyShow','MyHide');"></a>
				</div>  
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$TableDet.CNId}');"></a>
				</div>							
				</td>	
			<tr  id="ResIdDiv_{$TableDet.CNId}" style="display:none;" class="ViewDet" >					
			<td colspan="7">
			<div class="HeadYBord14">Details of '{$TableDet.InvoiceNum|stripslashes}'</div>
			<div class="clearspace"></div>
						<div style="width:940px;float:left; padding-top:10px;" >
							<div style="width:550px; float:left; padding-top:10px;">
						<div class="CMDet"> 	 	 	
								<div class="CMDet1">User Name</div>
								<div class="CMDet2">:&nbsp;{$TableDet.UserName|stripslashes}</div>
							</div>
							<div class="CMDet"> 
								<div class="CMDet1">Invoice Number</div>
								<div class="CMDet2">:&nbsp;{$TableDet.InvoiceNum|stripslashes}</div>
							</div>  
							<div class="CMDet"> 
								<div class="CMDet1">Credit Note</div>
								<div class="CMDet2">:&nbsp;{$TableDet.CreditNote|stripslashes}</div>
							</div>  
							<div class="CMDet"> 
								<div class="CMDet1">Amount</div>
								<div class="CMDet2">:&nbsp;${$TableDet.PayAmt|stripslashes}</div>
							</div>  
							<div class="CMDet"> 
								<div class="CMDet1">Taxes Applied</div>
								<div class="CMDet2">:&nbsp;GST-{$TableDet.GSTTax|stripslashes}%, QST-{$TableDet.QSTTax|stripslashes}%,Sales-{$TableDet.SalesTax|stripslashes}%</div>
							</div>   
							</div>
							<div style="width:350px; float:left; padding-top:10px;"> 
							</div>
				<div class="clearspace"></div>						
			</div>
			   </td></tr>
			</tr>
		
		{foreachelse}
			<tr><td colspan="7" align="center" class="error_msg"><strong>No Payments Found ..</strong></td></tr>					
		{/foreach}						
		<tr>
		<td width="7%"></td>
					<td width="15%"></td>
					<td width="12%"></td>
                    <td width="23%"><b>Total</b></td>  
                    <td width="8%"><b>${$Total|stripslashes}</b></td> 
                    <td width="20%"></td>   
					 
				<td width="10%"> 			
				</td>	
			 
			</tr>
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Credit(s)';
var Seltype='ProductMgmt';

</script>
{/literal}