<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
<script type="text/javascript"> 
var ImageList='{$ImgList|@count}'; 
</script>
{literal}
<script type="text/javascript">
var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();;var ErrCss='txtboxerr';
function GoToFormValidate(ValiType)
{	
	var FlagIns=true;var ErrCss='txtboxerr';
	
	FlagIns=FormValidateFunction('Text','#PTypeId','Please select profile type'); 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#FinishId','Please select finish');
	} 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#FinishId','Please select finish');
	} 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#Sqfeet','Please enter square feet');
	} 
	//if(FlagIns){
//		FlagIns=FormValidateFunction('Text','#GlassGroup','Please enter glass group');
//	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#DoorPrice','Please enter door price');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#DLPercent','Please enter Lesportes percentage');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#DBPercent','Please enter Barazin percentage');
	}  
	/*if(FlagIns){
		FlagIns=FormValidateFunction('Text','#BarazinPrice','Please enter barazin price');
	} */ 
	if(FlagIns){	
		document.forms[FormName].submit();
	}
}  
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
	<form name="add_pro" method="post">
	<input type="hidden" id="id" value="1">
	<div class="body_head"><div class="TutProWid2">
		<div style="padding-left:50px;"><div style="width:600px; float:left;">
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
 			<div class="FormDiv">
				<div class="FormDet1">Profile Type</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
					<select name="PTypeId" id="PTypeId">
					<option value="">Select Profile Type</option>
					 {foreach from=$PTList item=CatDet} 
					 <option {if $ArrD.PTypeId eq $CatDet.PTypeId}selected="selected"{/if} value="{$CatDet.PTypeId}">{$CatDet.ProfileNumber|stripslashes}</option> 
					 {/foreach}
					</select> 
					<br /><span id="PTypeIdMsg" class="error"></span>
				</div>
			</div> 
			<div class="FormDiv">
				<div class="FormDet1">Finish</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
					<select name="FinishId" id="FinishId">
					<option value="">Select Finish</option>
					 {foreach from=$FinList item=CatDet} 
					 <option {if $ArrD.FinishId eq $CatDet.FinishId}selected="selected"{/if} value="{$CatDet.FinishId}">{$CatDet.FinishType|stripslashes}</option> 
					 {/foreach}
					</select>
 				<br /><span id="FinishIdMsg" class="error"></span>
				</div>
			</div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
		<div style="padding-left:50px;"><div style="width:600px; float:left;">  
 			<div class="FormDiv">
				<div class="FormDet1">Glass Group</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="GlassGroup" id="GlassGroup" class="txtbox1" value="{$ArrD.GlassGroup|stripslashes}" onkeypress="return AllowOnlyNumbers(event);" />
				<br /><span id="GlassGroupMsg" class="error"></span>
				</div>
			</div>  
 			<div class="FormDiv">
				<div class="FormDet1">Minimum sqft</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="Sqfeet" id="Sqfeet" class="txtbox1" value="{$ArrD.Sqfeet|stripslashes}" onkeypress="return AllowOnlyNumbers(event);" />
				<br /><span id="SqfeetMsg" class="error"></span>
				</div>
			</div>  
 			<div class="FormDiv">
				<div class="FormDet1">Door Price (Suggested Price)</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">$
				<input type="text" name="DoorPrice" id="DoorPrice" class="txtbox1" value="{$ArrD.DoorPrice|stripslashes}" onkeypress="return AllowOnlyCurrency(event);" />
				<br /><span id="DoorPriceMsg" class="error"></span>
				</div>
			</div> 
			<div class="FormDiv">
				<div class="FormDet1">Lesportes Percentage</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="DLPercent" id="DLPercent" style="width:45px;" class="txtbox1" value="{$ArrD.DLPercent|stripslashes}" />&nbsp;%
				<br /><span id="DLPercentMsg" class="error"></span>
				</div>
			</div> 
			<div class="FormDiv">
				<div class="FormDet1">BARAZIN Percentage</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="DBPercent" id="DBPercent" style="width:45px;" class="txtbox1" value="{$ArrD.DBPercent|stripslashes}" />&nbsp;%
				<br /><span id="DBPercentMsg" class="error"></span>
				</div>
			</div>
  			<!--<div class="FormDiv">
				<div class="FormDet1">Barazin Price</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">$
				<input type="text" name="BarazinPrice" id="BarazinPrice" class="txtbox1" value="{$ArrD.BarazinPrice|stripslashes}" onkeypress="return AllowOnlyCurrency(event);"/>
				<br /><span id="BarazinPriceMsg" class="error"></span>
				</div>
			</div>  -->
 			<div class="FormDiv">
				<div class="FormDet1">&nbsp;</div>
				<div class="FormDet2">&nbsp;</div>
				<div class="FormDet3">
	{if $smarty.get.con_id neq ''}
		<input type="button" name="Update" value="Update"class="btn" onclick="return GoToFormValidate('2');" />
		<input type="hidden" name="AdminAction" value="Update"class="btn" />
	{else}
		<input type="hidden" name="AdminAction" value="Add"class="btn" />
		<input type="button" name="Add" value="Add"class="btn" onclick="return GoToFormValidate('1');" />
	{/if}
	&nbsp;<input type="button" name="goback" value="GoBack" class="btn" onClick="GoBack('doorprices_mgmt.php');">
				</div>
			</div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
	</div><div class="clearspace"></div></div>
	</form>  
{literal} 
<script type="text/javascript">
var FormName='add_pro';
var FormObj=document.forms[FormName];
var MgmtName='Product';  
</script>
{/literal}