<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
<script type="text/javascript"> 
var ImageList='{$ImgList|@count}'; 
</script>
{literal}
<script type="text/javascript">
var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();;var ErrCss='txtboxerr';
function GoToFormValidate(ValiType)
{	
	var FlagIns=true;var ErrCss='txtboxerr';
	
	FlagIns=FormValidateFunction('Text','#FinishType','Please enter Finish Type');  
	if(FlagIns)
	{	
		if(ImageList==0){ 
			if(jQuery('#FinishImage').val()== '' && ValiType !='2')
			{	
				FlagIns=FormValidateFunction('Text','#FinishImage','Please Select Image');
			}  
			if(jQuery('#FinishImage').val()!= '' && ValiType !='2'){ ErrCss='txtboxerr';
				if(!jQuery('#FinishImage').val().substr(-4).toLowerCase().match('.jpg|jpeg|.gif|.png|.bmp')){
				jQuery('#FinishImageMsg').show();
				jQuery('#FinishImageMsg').html('jpeg/jpg/gif/png/bmp formats only allowed');
				jQuery('#FinishImage').attr('class','error_element');
				jQuery('#FinishImage').focus();return false;
				}		
			}
		} 
	} 
	if(FlagIns){	
		document.forms[FormName].submit();
	}
}  
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
	<form name="add_pro" method="post" enctype="multipart/form-data">
	<input type="hidden" id="id" value="1">
	<div class="body_head"><div class="TutProWid2">
		<div style="padding-left:50px;"><div style="width:600px; float:left;">
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
 			<div class="FormDiv">
				<div class="FormDet1">Finish Type</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="FinishType" id="FinishType" class="txtbox1" value="{$Arr.FinishType|stripslashes}" />
				<br /><span id="FinishTypeMsg" class="error"></span>
				</div>
			</div>  
		<div class="clearspace"></div></div><div class="clearspace"></div></div> 
		<div style="padding-left:50px;"><div style="width:600px; float:left;"> 
 			<div class="FormDiv">
				<div class="FormDet1">Finish Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3"><div class="left" style="width:220px;">
					<input name="FinishImage" id="FinishImage" class="compound_file" type="file"/>  
					</div>
						 &nbsp; 
						<div class="clear"></div><span id="FinishImageMsg" class="error"></span>
						<div class="clear"></div>
						{if $Arr.FinishImage neq ''}	<img border='0' src="{$FinishImageDisp}m_{$Arr.FinishImage}"/> {/if}
					</div>
					<div class="spacer"></div>
				</div> 
 			<div class="FormDiv">
				<div class="FormDet1">&nbsp;</div>
				<div class="FormDet2">&nbsp;</div>
				<div class="FormDet3">
	{if $smarty.get.con_id neq ''}
		<input type="button" name="Update" value="Update"class="btn" onclick="return GoToFormValidate('2');" />
		<input type="hidden" name="AdminAction" value="Update"class="btn" />
	{else}
		<input type="hidden" name="AdminAction" value="Add"class="btn" />
		<input type="button" name="Add" value="Add"class="btn" onclick="return GoToFormValidate('1');" />
	{/if}
	&nbsp;<input type="button" name="goback" value="GoBack" class="btn" onClick="GoBack('finishtype_mgmt.php');">
				</div>
			</div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
	</div><div class="clearspace"></div></div>
	</form>  
{literal} 
<script type="text/javascript">
var FormName='add_pro';
var FormObj=document.forms[FormName];
var MgmtName='Product';  
</script>
{/literal}