<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">		<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
Profile Type&nbsp;:&nbsp;<input type="text" name="pronamesea" value="{$smarty.get.pronamesea|stripslashes}"/></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
Finish Type&nbsp;:&nbsp;<input type="text" name="finsea" value="{$smarty.get.finsea|stripslashes}"/></div>
				 
 					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('frame_mgmt.php');" /></div>		
				</div>
			</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL"><b>S.No</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Profile Type</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Finish Type</b></th>  
			<th class="table-header-repeat line-left"><b>Frame Price</b></th> 
			<th class="table-header-repeat line-left"><b>Lesportes Percentage</b></th> 
			<th class="table-header-repeat line-left"><b>Barazin Percentage</b></th> 
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="8" align="right">{$DoorPricePage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
			{foreach from=$ProList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row" id="order_{$TableDet.FPriceId}"{/if}>
		<td width="8%"><input type="checkbox" name="ConId[]" value="{$TableDet.FPriceId}" />{$i++}.</td>
					<td width="18%">{$TableDet.ProfileNumber|stripslashes}</td>
                    <td width="15%">{$TableDet.FinishType|stripslashes}</td>  
                    <td width="15%">${$TableDet.FramePrice|stripslashes}</td>  
                    <td width="17%">{$TableDet.FLPercent|stripslashes}%</td> 
                    <td width="15%">{$TableDet.FBPercent|stripslashes}%</td> 
 				<td width="12%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="frame_mgmt.php?act_type=addnew&edit=1&con_id={$TableDet.FPriceId|md5}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" 
					onclick="AdminDeleteFunction('{$TableDet.FPriceId}');"></a>
					
					<!--<div id="MyShow_{$TableDet.FPriceId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.FPriceId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$TableDet.FPriceId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.FPriceId}','MyShow','MyHide');"></a>
				</div>  -->
				</div>							
				</td>	
			<tr  id="ResIdDiv_{$TableDet.FPriceId}" style="display:none;" class="ViewDet" >					
			<td colspan="7">
			<div class="HeadYBord14">Details of '{$TableDet.ItemName|stripslashes}' Product</div>
			<div class="clearspace"></div>
						<div style="width:940px;float:left; padding-top:10px;" >
							<div style="width:550px; float:left; padding-top:10px;">
						<div class="CMDet"> 	 	 	
								<div class="CMDet1">Product Name</div>
								<div class="CMDet2">:&nbsp;{$TableDet.ItemName|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Category</div>
								<div class="CMDet2">:&nbsp;{$TableDet.CatName|stripslashes}</div>
							</div>  
							<div class="CMDet">
								<div class="CMDet1">Post Date</div>
								<div class="CMDet2">:&nbsp;{$TableDet.ItemPostDate|date_format:"%d,%b %Y"}</div>
							</div>
  							<div class="CMDet">
								<div class="CMDet1">Status</div>
								<div class="CMDet2">:&nbsp;{if $TableDet.ItemStatus eq '1'}ON{else}OFF{/if}</div>
							</div> 
							<div class="CMDet">
								<div class="CMDet1">Description</div>
								<div class="CMDet2">:&nbsp;{$TableDet.ItemDesc|html_entity_decode|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Specification</div>
								<div class="CMDet2">:&nbsp;{$TableDet.Specification|html_entity_decode|stripslashes}</div>
							</div>
							</div>
							<div style="width:350px; float:left; padding-top:10px;">
 							<div class="CMDet">
								<div class="CMDet1">Product Image</div>
								<div class="CMDet2">:&nbsp;{SmartyPlugIn GetType='Proimages' InpVal=$TableDet.FPriceId}</div>
							</div>
							</div>
				<div class="clearspace"></div>						
			</div>
			   </td></tr>
			</tr>
		
		{foreachelse}
			<tr><td colspan="8" align="center" class="error_msg"><strong>No Product Found ..</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Door Price(s)';
var Seltype='ProductMgmt';

</script>
{/literal}