<script type="text/javascript" src="PageStyleScript/jquery_002.js"></script>
<script type="text/javascript" src="PageStyleScript/jquery_003.js"></script>
<script type="text/javascript" src="PageStyleScript/jquery.js"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js"></script>
<link rel="stylesheet" type="text/css" href="PageStyleScript/jquery.css"> 
{literal}
<script type="text/javascript">
	jQuery().ready(function() {
		function format(mail) {
			return mail.name + "&lt;" + mail.to + " &gt;";
		}
		jQuery("#ImageId").autocomplete("get_auto_list.php?get_type=place", {
			width: 150,autoFill: false,
			selectFirst: false,
			matchContains: true,
			highlightItem: false,
		});		
	});	
</script>
{/literal} 
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;"><form name="frm_search" method="get" action="">
 				<div class="HeadFont12 AdmFleft PadRLB5">
Title&nbsp;:&nbsp;<input type="text" name="pronamesea" value="{$smarty.get.pronamesea|stripslashes}"/></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
URL&nbsp;:&nbsp;<input type="text" name="code" value="{$smarty.get.code|stripslashes}"/></div> 
			<div class="HeadFont12 AdmFleft PadRLB5">
				<input type="submit" name="seabut" value="Search" class="btn"/></div>	
			<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('gallery_mgmt.php');" />
			</div>
			<div class="spacer"></div>
 		</form></div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div id="Errmsgval"></div>
	<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
		<div class="clearspace"></div>
		 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<thead><tr>
			<th class="table-header-cornerL">S.No</th>  
			<th class="table-header-repeat line-left">Title</th> 
			<th class="table-header-repeat line-left">URL</th> 
			<th class="table-header-repeat line-left">Image</th> 
			<th class="table-header-repeat line-left">Status</th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr></thead>
		<tfoot><tr><td colspan="8" align="right">{$PlacePage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$PlaceList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if} id="order_{$TableDet.ImageId}">
			<td width="8%"><input type="checkbox" name="ConId[]" value="{$TableDet.ImageId}" />{$i++}.</td>  
			<td width="22%">{$TableDet.Title}</td>  
			<td width="20%">{$TableDet.URL}</td> 
			<td width="20%"><img border='0' src="{$GalleryImgDisp}t_{$TableDet.GalleryImage}"/></td>  
			<td width="13%">			
		{if $TableDet.ImageStatus eq '1'}
					<span id="InActive_{$TableDet.ImageId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.ImageId}','GalleryMgmt','Gallery(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>	
					<span id="Active_{$TableDet.ImageId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.ImageId}','GalleryMgmt','Gallery(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>	
				{else}
					<span id="InActive_{$TableDet.ImageId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.ImageId}','GalleryMgmt','Gallery(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>	
					<span id="Active_{$TableDet.ImageId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.ImageId}','GalleryMgmt','Gallery(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>				
				{/if}
			</td>
			<td width="17%">
			<div class="gallery options-width">
				<a title="Edit" class="icon-1 info-tooltip" href="gallery_mgmt.php?act_type=addnew&con_id={$TableDet.ImageId|md5}"></a>			
					
				<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$TableDet.ImageId}');"></a>
 				<!--<a title="View" class="icon-3 info-tooltip" href="#User_View_{$i}" rel="prettyPhoto[inline]"></a>-->
				<div id="MyShow_{$TableDet.ImageId}">
					<a title="View" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.ImageId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$TableDet.ImageId}" style="display:none;">
					<a title="View" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.ImageId}','MyShow','MyHide');"></a>
				</div>
			</div>	
			
			<tr  id="ResIdDiv_{$TableDet.ImageId}" style="display:none;" class="ViewDet" >
			<td colspan="8">
				<div class="HeadYBord14">Image Details</div>
				<div style="width:450px;float:left; padding-top:10px;" >
					<div class="clearspace"></div> 
					<div class="CMDet"> 	 	 	
						<div class="CMDet1">Title</div>
						<div class="CMDet2">:&nbsp;	{$TableDet.Title}</div>
					</div>
					<div class="CMDet"> 	 	 	
						<div class="CMDet1">URL</div>
						<div class="CMDet2">:&nbsp;	{$TableDet.URL}</div>
					</div>
					<div class="CMDet"> 	 	 	
						<div class="CMDet1">Image</div>
						<div class="CMDet2">:&nbsp;	<img border='0' src="{$GalleryImgDisp}l_{$TableDet.GalleryImage}"/></div>
					</div>
  				</div>
 				<div class="clearspace"></div>						
			</td></tr>
 			</td>						
		</tr>	
		{foreachelse}
			<tr><td colspan="8" align="center" class="error_msg"><strong>No Results Found ..</strong></td></tr>					
		{/foreach}
		</tbody>
	</table>			
	<div class="clearspace"></div>

	</form>	 
</div>
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Gallery(s)';
var Seltype='GalleryMgmt';
</script>