<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">		<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
Glass Name&nbsp;:&nbsp;<input type="text" name="pronamesea" value="{$smarty.get.pronamesea|stripslashes}"/></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
Code&nbsp;:&nbsp;<input type="text" name="code" value="{$smarty.get.code|stripslashes}"/></div>
					 
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('glass_mgmt.php');" /></div>		
				</div>
			</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL"><b>S.No</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Glass Name</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Code</b></th> 
			<th class="table-header-repeat line-left"><b>&nbsp;Glass Group</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Thickness</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Minimum sqft</b></th>
			<th class="table-header-repeat line-left"><b>Status</b></th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="8" align="right">{$GlassPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
			{foreach from=$ProList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row" id="order_{$TableDet.GlassId}"{/if}>
		<td width="8%"><input type="checkbox" name="ConId[]" value="{$TableDet.GlassId}" />{$i++}.</td>
					<td width="23%">{$TableDet.GlassName|stripslashes}</td>
                    <td width="12%">{$TableDet.GlassCode|stripslashes}</td>  
                    <td width="12%">{$TableDet.GlassGroup|stripslashes}</td>  
                    <td width="11%">{$TableDet.Thickness|stripslashes}</td> 
                    <td width="11%">{$TableDet.Sqfeet|stripslashes}</td> 
					<td width="10%">
						{if $TableDet.GlassStatus eq 1}
					<span id="InActive_{$TableDet.GlassId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.GlassId}','GlassMgmt','Glass(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.GlassId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.GlassId}','GlassMgmt','Glass(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$TableDet.GlassId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.GlassId}','GlassMgmt','Glass(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.GlassId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.GlassId}','GlassMgmt','Glass(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span> 
					{/if}
					</td>
				<td width="13%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="glass_mgmt.php?act_type=addnew&edit=1&con_id={$TableDet.GlassId|md5}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" 
					onclick="AdminDeleteFunction('{$TableDet.GlassId}');"></a>
					
					<div id="MyShow_{$TableDet.GlassId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.GlassId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$TableDet.GlassId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.GlassId}','MyShow','MyHide');"></a>
				</div>  
				</div>							
				</td>	
			<tr  id="ResIdDiv_{$TableDet.GlassId}" style="display:none;" class="ViewDet" >					
			<td colspan="8">
			<div class="HeadYBord14">Details of '{$TableDet.ItemName|stripslashes}' Glass</div>
			<div class="clearspace"></div>
						<div style="width:940px;float:left; padding-top:10px;" >
							<div style="width:500px; float:left; padding-top:10px;">
						<div class="CMDet"> 	 	 	
								<div class="CMDet1">Glass Code</div>
								<div class="CMDet2">:&nbsp;{$TableDet.GlassCode|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Glass Name</div>
								<div class="CMDet2">:&nbsp;{$TableDet.GlassName|stripslashes}</div>
							</div> 
							<div class="CMDet">
								<div class="CMDet1">Thickness</div>
								<div class="CMDet2">:&nbsp;{$TableDet.Thickness|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Minimum sqft</div>
								<div class="CMDet2">:&nbsp;{$TableDet.Sqfeet|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Glass Group</div>
								<div class="CMDet2">:&nbsp;{$TableDet.GlassGroup|stripslashes}</div>
							</div> 
							<div class="CMDet">
								<div class="CMDet1">Post Date</div>
								<div class="CMDet2">:&nbsp;{$TableDet.GlassPostDate|date_format:"%d,%b %Y"}</div>
							</div>
  							<div class="CMDet">
								<div class="CMDet1">Status</div>
								<div class="CMDet2">:&nbsp;{if $TableDet.GlassStatus eq '1'}ON{else}OFF{/if}</div>
							</div> 
							</div>
							<div style="width:400px; float:left; padding-top:10px;">
							<div class="CMDet">
								<div class="CMDet1">Lesportes Regular Price</div>
								<div class="CMDet2">:&nbsp;${$TableDet.LRegularPrice|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Lesportes Tempered Price</div>
								<div class="CMDet2">:&nbsp;${$TableDet.LTemperedPrice|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Lesportes Percentage</div>
								<div class="CMDet2">:&nbsp;{$TableDet.LPercent|stripslashes}%</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Barazin Percentage</div>
								<div class="CMDet2">:&nbsp;{$TableDet.BPercent|stripslashes}%</div>
							</div>
 							<div class="CMDet">
								<div class="CMDet1">Glass Image</div>
								<div class="CMDet2">:&nbsp;{if $TableDet.GlassImage neq ''}	<img border='0' src="{$GlassImageDisp}m_{$TableDet.GlassImage}"/>{else}No Image {/if}</div>
							</div>
							</div>
				<div class="clearspace"></div>						
			</div>
			   </td></tr>
			</tr>
		
		{foreachelse}
			<tr><td colspan="8" align="center" class="error_msg"><strong>No Glass Found ..</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Glass(s)';
var Seltype='GlassMgmt';

</script>
{/literal}