
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:900px;"><form name="frm_search" method="get" action="">
            <div class="HeadFont12 AdmFleft PadRLB5">
        Name&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}"/></div>
            <div class="HeadFont12 AdmFleft PadRLB5">
        Product Name&nbsp;:&nbsp;<input type="text" name="seapro" value="{$smarty.get.seapro|stripslashes}"/></div>
            <div class="HeadFont12 AdmFleft PadRLB5">
        Email&nbsp;:&nbsp;<input type="text" name="seaamil" value="{$smarty.get.seaamil|stripslashes}"/></div>
            <div class="HeadFont12 AdmFleft PadRLB5">
                <input type="submit" name="seabut" value="Search" class="btn"/></div>	
            <div class="HeadFont12 AdmFleft PadRLB5">
                <input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('inquiry_mgmt_home.php');" /></div>		
		</form></div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
	<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
		<input type="hidden" name="Seltype"/>	

		<div class="clearspace"></div>
		<!--	Admin Mgmt Permission Check	Start-->
			
		<!--	Admin Mgmt Permission Check	Start-->

		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
			<thead><tr>
				<th class="table-header-cornerL"><b>S.No</b></th>
				<th class="table-header-repeat line-left"><b>Name</b></th>
 				<th class="table-header-repeat line-left"><b>Product Name</b></th>
 				<th class="table-header-repeat line-left"><b>EMail</b></th>
				<th class="table-header-repeat line-left"><b>Inquiry</b></th>
				<th class="table-header-repeat line-left"><b>Date</b></th>	
				<th class="table-header-cornerR line-left"><b>Actions</b></th>						
			</tr></thead>
			<tfoot><tr><td colspan="7" align="right">{$PageNavi}</td></tr></tfoot>
			<tbody>
			{assign var=i value=$PageStartNum}
			{foreach from=$InqList item=ConDet}
			<tr  bgcolor="{if $i%2 neq '0'}#FFFFFF{else}#F3F3F3{/if}"> 
				<td width="6%"><input type="checkbox" name="ConId[]" id="ConId[]" value="{$ConDet.Inq_id}"/>{$i++}.</td>
				<td width="15%">{$ConDet.Name|stripslashes}</td>
				<td width="20%">{$ConDet.ItemName|stripslashes}</td>
				<td width="19%">{$ConDet.InqMail|stripslashes}</td>
				<td width="20%">{$ConDet.InqMsg|html_entity_decode|stripslashes|truncate:50}</td>
				<td width="10%">{$ConDet.InqDate|date_format:"%b %d, %Y"}</td>
                <td width="10%">
				<div class="gallery options-width">
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$ConDet.Inq_id}');"></a> 
						
					<div id="MyShow_{$ConDet.Inq_id}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$ConDet.Inq_id}','MyHide','MyShow');"></a>
				</div>					
					<div id="MyHide_{$ConDet.Inq_id}" style="display:none;">
						<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$ConDet.Inq_id}','MyShow','MyHide');"></a>
					</div>  
				</div>
				<tr id="ResIdDiv_{$ConDet.Inq_id}" style="display:none;" class="ViewDet" >	
 					<td colspan="7">
					<div class="HeadYBord14">'{$ConDet.ItemName|stripslashes|html_entity_decode}' - Details</div>
			<div class="clearspace"></div>
						<div style="width:940px;float:left; padding-top:10px;" >
						<div style="width:550px; float:left; padding-top:10px;" >
							<div class="CMDet">
							<div class="CMDet1">Product Name </div>
							<div class="CMDet2">:&nbsp;{$ConDet.ItemName|stripslashes|html_entity_decode}</div></div>
							<div class="clearspace"></div>
							<div class="CMDet">
							<div class="CMDet1">Category</div>
							<div class="CMDet2">:&nbsp;{$ConDet.CatName|stripslashes|html_entity_decode}</div></div>
							<div class="clearspace"></div>
							<div class="CMDet">
							<div class="CMDet1">Name </div>
							<div class="CMDet2">:&nbsp;{$ConDet.Name|stripslashes|html_entity_decode}</div></div>
							<div class="clearspace"></div>
							<div class="CMDet">
								<div class="CMDet1">EMail</div>
								<div class="CMDet2">:&nbsp;{$ConDet.InqMail|stripslashes}</div>
							</div><div class="clearspace"></div> 
							<div class="CMDet">
								<div class="CMDet1">Date</div>
								<div class="CMDet2">:&nbsp;{$ConDet.InqDate|date_format:"%b %d, %Y"}</div>
							</div><div class="clearspace"></div>
							<div class="CMDet">
								<div class="CMDet1">Request Price </div>
								<div class="CMDet2">:&nbsp;{$ConDet.InqMsg|stripslashes|html_entity_decode}</div>
							</div> 
							</div>
						<div style="width:350px; float:left; padding-top:10px;">
							{if $ConDet.SellId eq '1'}
								<div class="CMDet">
									<div class="CMDet1">Finish Type</div>
									<div class="CMDet2">:&nbsp;{$ConDet.FinishType|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Hinge Selections</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Hinge|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Glass</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Glass|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Config Bevel</div>
									<div class="CMDet2">:&nbsp;{$ConDet.ConfigBevel|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Caming</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Caming|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Dimension</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Dimension|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Color Number</div>
									<div class="CMDet2">:&nbsp;{$ConDet.ColorNumber|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Finish</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Finish|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Quantity</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Qty|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Hole size (A)</div>
									<div class="CMDet2">:&nbsp;{$ConDet.HoleA|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Length (B)</div>
									<div class="CMDet2">:&nbsp;{$ConDet.LengthB|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Width (C)</div>
									<div class="CMDet2">:&nbsp;{$ConDet.WidthC|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Hinge(HL-HR)</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Hinges|stripslashes}</div>
								</div>
								<!--<div class="CMDet">
									<div class="CMDet1">Square-Foot(Unit)</div>
									<div class="CMDet2">:&nbsp;{$ConDet.SqftUnit|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Square-Foot(Total)</div>
									<div class="CMDet2">:&nbsp;{$ConDet.SqftTot|stripslashes}</div>
								</div>-->
							{/if} 
							{if $ConDet.SellId eq '3'}
								<div class="CMDet">
									<div class="CMDet1">Qty</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Qty|stripslashes}</div>
								</div>
								<div class="CMDet">
									<div class="CMDet1">Type</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Type|stripslashes}</div>
								</div>
							{/if} 
							{if $ConDet.SellId eq '2'}
								<div class="CMDet">
									<div class="CMDet1">Finish</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Finish|stripslashes}</div>
								</div>
							{/if} 
							{if $ConDet.SellId eq '2' or $ConDet.SellId eq '3'}
								<div class="CMDet">
									<div class="CMDet1">X</div>
									<div class="CMDet2">:&nbsp;{$ConDet.X|stripslashes}</div>
								</div>
							{/if} 
							{if $ConDet.SellId eq '2'}
								<div class="CMDet">
									<div class="CMDet1">Y</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Y|stripslashes}</div>
								</div>
							{/if} 
							{if $ConDet.SellId eq '2' or $ConDet.SellId eq '3'}
								<div class="CMDet">
									<div class="CMDet1">Z</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Z|stripslashes}</div>
								</div>
							{/if} 
							{if $ConDet.SellId eq '2'}
								<div class="CMDet">
									<div class="CMDet1">e</div>
									<div class="CMDet2">:&nbsp;{$ConDet.e|stripslashes}</div>
								</div>
							{/if} 
							{if $ConDet.SellId eq '3'}
								<div class="CMDet">
									<div class="CMDet1">Light</div>
									<div class="CMDet2">:&nbsp;{$ConDet.Light|stripslashes}</div>
								</div>
							{/if}
						</div>
				<div class="clearspace"></div>						
			</div>
				   </td></tr></td>
			</tr>	
			{foreachelse}
				<tr><td colspan="7" align="center" class="Msg_info"><strong>No Results Found ..</strong></td></tr>					
			{/foreach}				
			</tbody>
		</table>			
		<div class="clearspace"></div>
	</form>	
	</div>
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Inquiry(s)';
var Seltype='CategoryMgmt';
</script>
{/literal}