<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript">
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='txtboxerr';var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#country_name','Please enter country ');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#CountryCode','Please enter country code');
	}	
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
	<form name="add_form" method="post" action=""><div class="body_head">
		<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
        {if $SucMessage neq '' || $ErrMessage neq '' }	
            <div class="AdmFleft SeaTotBox">							
                <div class="Msg_Div">
                {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                </div>
            </div><div class="spacer"></div>
        {/if}						
            <div class="FormDiv">
                <div class="FormDet1">Country Name</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
<input type="text" name="country_name" id="country_name"  class="txtbox1" value="{$Arr.country_name|stripslashes}" />
                <br /><span id="country_nameMsg" class="error"></span>
                </div>
            </div>			
            <div class="FormDiv">
                <div class="FormDet1">Country Code</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
<input type="text" name="CountryCode" id="CountryCode"  class="txtbox1" value="{$Arr.CountryCode|stripslashes}" />
                <br /><span id="CountryCodeMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">&nbsp;</div>
                <div class="FormDet2">&nbsp;</div>
				
                <div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="button" name="AltPage" value="Update Country Details"class="btn" onclick="GoToFormValidate();" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="button" name="AltPage" value="Add New Country"class="btn" onclick="GoToFormValidate();" />
{/if}<input type="button" name="goback" value="GoBack" class="btn" onClick="GoBack('loc_country_mgmt.php');" />
                </div>
            </div><div class="spacer"></div>
		</div></div></div>
	</div></form>	
{literal}
<script type="text/javascript">
var FormName='add_form';
var FormObj=document.forms[FormName];
var MgmtName=' Location ';
</script>
{/literal}