{literal}
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
<script type="text/javascript">
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='txtboxerr';var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#country_ident','Please choose country');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#state_name','Please enter state name');
	}	
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#State_Code','Please enter state code');
	}	
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
	<form name="add_form" method="post" action=""><div class="body_head">
		<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
        {if $SucMessage neq '' || $ErrMessage neq '' }	
            <div class="AdmFleft SeaTotBox">							
                <div class="Msg_Div">
                {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                </div>
            </div><div class="spacer"></div>
        {/if}			
            <div class="FormDiv">
                <div class="FormDet1">Country</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">			
                <select  name="country_ident" id="country_ident" class="txtbox1" >
                    <option value="">Select Country </option>
                    {foreach from =$CountryList item =Country} {$Country.country_id}
<option value="{$Country.country_id}" {if $Arr.country_ident eq $Country.country_id} selected="selected"{/if}>{$Country.country_name|stripslashes}</option>
                     {/foreach}
                </select>
                    <br /><span id="country_identMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">State Name</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
<input type="text" name="state_name" id="state_name"  class="txtbox1" value="{$Arr.state_name|stripslashes}" />
                <br /><span id="state_nameMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">State Code</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">	
<input type="text" name="State_Code" id="State_Code"  class="txtbox1" value="{$Arr.State_Code|stripslashes}" />
                <br /><span id="State_CodeMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">&nbsp;</div>
                <div class="FormDet2">&nbsp;</div>
                <div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="button" name="AltPage" value="Update State Details"class="btn" onclick="GoToFormValidate();" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="button" name="AltPage" value="Add New State"class="btn" onclick="GoToFormValidate();" />
{/if}<input type="button" name="goback" value="Go Back" class="btn" onClick="GoBack('state_mgmt.php');" />
                </div>
            </div><div class="spacer"></div>
		</div></div></div>
	</div></form>	

{literal}
<script type="text/javascript">
var FormName='add_form';
var FormObj=document.forms[FormName];
var MgmtName=' Location ';
</script>
{/literal}