<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">	
<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>		
	<div class="InnDiv940 AdmFleft">			
		<div class="clearspace"></div>
		<form name="frm_list" method="post">
		<input type="hidden" name="Action_Type" >
		<input type="hidden" name="ConSId"/>
			<div class="clearspace"></div>
			<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
				<thead><tr bgcolor="#D6D6D6">
					<th class="table-header-cornerL"><b>S.No</b></th>
					<th class="table-header-repeat line-left"><b>Title</b></th>
					<th class="table-header-repeat line-left"><b>Subject</b></th>
					<th class="table-header-cornerR line-left"><b>Actions</b></th>						
				</tr></thead>
				<tfoot><tr><td colspan="4" align="right">{$PayRPage}</td></tr></tfoot>
				<tbody>
				{assign var=i value=$PageStartNum}
				{foreach from=$MTempList item=ConDet}
					<tr bgcolor="{if $i%2 neq '0'}#FFFFFF{else}#F3F3F3{/if}"> 
						<td width="10%">{$i++}.</td>
						<td width="30%">{$ConDet.TempTitle|stripslashes}</td>
						<td width="40%">{$ConDet.MailSub|stripslashes|html_entity_decode|truncate:"30"}</td>
						<td width="20%">
						<div class="gallery options-width">
							<a title="Edit" class="icon-1 info-tooltip" href="mail_temp_mgmt.php?act_type=addnew&con_id={$ConDet.MTempId|md5_enc}"></a>
							
							<div id="MyShow_{$ConDet.MTempId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$ConDet.MTempId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$ConDet.MTempId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$ConDet.MTempId}','MyShow','MyHide');"></a>
				</div>
							
							
						</div>
						</td>
					</tr>
					<tr id="ResIdDiv_{$ConDet.MTempId}" style="display:none;" class="ViewDet" ><td colspan="4">
						<div class="HeadYBord14">Details of '{$ConDet.TempTitle|stripslashes}' - Mail Template</div>
						<div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Subject</div>
							<div class="CMDet2">:&nbsp;{$ConDet.MailSub|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Content</div>
							<div class="CMDet2">:&nbsp;{$ConDet.MailCotent|stripslashes|html_entity_decode}</div>
						</div>	
						<div class="CMDet">
							<div class="CMDet1">Mail Notify</div>
							<div class="CMDet2">:&nbsp;{if $ConDet.MailNotify eq 1}On{else}Off{/if}</div>
						</div>					
					</td></tr>
				{foreachelse}
				<tr><td colspan="4" align="center" class="Msg_info"><strong>No Results Found ..</strong></td></tr>					
				{/foreach}						
				</tbody>
			</table>			
			<div class="clearspace"></div>
		</form>
	</div>
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='User(s)';
</script>
{/literal}