<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
{literal}
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
<script type="text/javascript">
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='txtboxerr';var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#TempTitle','Please Enter Title');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#MailSub','Please Enter Subject');
	}
	if(FlagIns){	
		FlagIns=FormValidateFunction('TinyMce','MailCotent','Please Enter Content');
	}
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
</script>
{/literal}

<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
<form name="post_from" method="post" action=""><div class="body_head">			
		<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
        {if $SucMessage neq '' || $ErrMessage neq '' }	
            <div class="AdmFleft SeaTotBox">							
                <div class="Msg_Div">
                {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                </div>
            </div><div class="spacer"></div>
        {/if}
            <div class="FormDiv">
                <div class="FormDet1">Title</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">	
<input type="text" name="TempTitle" id="TempTitle" value="{$MTempList.TempTitle|stripslashes}" style="width:350px;" readonly="" />		<br /><span id="TempTitleMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">Subject</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
<input type="text" name="MailSub" id="MailSub" value="{$MTempList.MailSub|stripslashes}" style="width:350px;"/>													
                    <br /><span id="MailSubMsg" class="error"></span>
                </div>
            </div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
		<div class="FormDiv">
			<div class="FormDet1" style="width:27%">Mail Content</div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<textarea name="MailCotent" id="MailCotent" rows="5" class="ckeditor">{$MTempList.MailCotent|stripslashes}</textarea>
			<br /><span id="MailCotentMsg" class="error"></span>
			</div>
		</div>
		<div style="padding-left:50px;"><div style="width:600px; float:left;">	
            <div class="FormDiv">
                <div class="FormDet1">Notify</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
<input type="radio" name="MailNotify" value="1" checked="checked"/>On
<input type="radio" name="MailNotify" value="0"{if $MTempList.MailNotify eq '0'} checked="checked"{/if}/>Off<br />
                    <span id="msg4" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">&nbsp;</div>
                <div class="FormDet2">&nbsp;</div>
                <div class="FormDet3">
    {if $smarty.get.con_id neq ''}
        <input type="button" name="AltPage" value="Update"class="btn" onclick="GoToFormValidate();" />
        <input type="hidden" name="AdminAction" value="Update"class="btn" />
    {else}
        <input type="hidden" name="AdminAction" value="Add"class="btn" />
        <input type="button" name="AltPage" value="Add"class="btn" onclick="GoToFormValidate();" />
    {/if}
&nbsp;<input type="button" name="goback" value="GoBack Mail Template Home" class="btn"  onClick="GoBack('mail_temp_mgmt.php');"/>
                
                </div>
            </div><div class="spacer"></div>
               
		</div></div></div>
 	</div></form>
{literal}
<script type="text/javascript">
var FormName='post_from';
var FormObj=document.forms[FormName];
var MgmtName='Mail';
</script>
{/literal}