<link rel="stylesheet" href="PageStyleMenu/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="PageStyleMenu/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;"><form name="frm_search" method="get" action="">

 			<div class="HeadFont12 AdmFleft PadRLB5">
Banner Title&nbsp;:&nbsp;<input type="text" name="seatitle" id="Title" value="{$smarty.get.seatitle|stripslashes}" onfocus="this.value==''?this.value='':null" onblur="this.value==''?this.value='':null" /><label id="auto"></label></div>		
 			 
			<div class="HeadFont12 AdmFleft PadRLB5">
				<input type="submit" name="seabut" value="Search" class="btn"/>
			</div>	
			<div class="HeadFont12 AdmFleft PadRLB5">
				<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('mainbanner_mgmt.php');" />
			</div>		
		</form></div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>

	<div class="clearspace"></div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
	<form name="frm_list" method="post" action="" enctype="multipart/form-data">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
		<div class="clearspace"></div>
		 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL line-left">S.No</th>
 			<th class="table-header-repeat line-left">Banner Title</th>
			<th class="table-header-repeat line-left">Page Type</th>
 			<th class="table-header-repeat line-left">Status</th>
			<th class="table-header-cornerR line-left">Action</th>
		</tr>
		<tfoot><tr><td colspan="5" align="right">{$BannerPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$BannerList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if}>
				<td width="10%"><input type="checkbox" name="ConId[]" value="{$TableDet.BannerID}" />{$i++}.</td>
 				<td width="40%">{$TableDet.BannerTitle|stripslashes}</td>
				<td width="20%">{if $TableDet.PageId eq '0'}Home{else}{$TableDet.page_title|stripslashes}{/if}</td>
 				<td width="15%"><div id="StatusDiv_{$TableDet.BannerID}">
				{if $TableDet.BannerStatus eq '1'}
 					<span id="InActive_{$TableDet.BannerID}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.BannerID}','BannerMgmt','Banner(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.BannerID}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.BannerID}','BannerMgmt','Banner(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$TableDet.BannerID}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.BannerID}','BannerMgmt','Banner(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.BannerID}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.BannerID}','BannerMgmt','Banner(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
					</div></td>
				<td width="15%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="mainbanner_mgmt.php?act_type=addnew&con_id={$TableDet.BannerID|md5_enc}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$TableDet.BannerID}');"></a>
				<div id="MyShow_{$TableDet.BannerID}">
					<a title="View" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.BannerID}','MyHide','MyShow');"></a>
				</div>
				<div id="MyHide_{$TableDet.BannerID}" style="display:none;">
					<a title="View" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.BannerID}','MyShow','MyHide');"></a>
				</div>

				</div>							
			<tr  id="ResIdDiv_{$TableDet.BannerID}" style="display:none;" class="ViewDet" >
			<td colspan="7">
					<div class="HeadYBord14">Banner Details of "{$TableDet.BannerTitle|stripslashes}"</div>
					<div style="width:450px;float:left; padding-top:10px;" >
					<div class="CMDet">
					<div class="CMDet1">Banner Title :</div>
						<div class="CMDet2">{$TableDet.BannerTitle|stripslashes}</div>
							</div>
	
						<div class="CMDet">
							<div class="CMDet1">Banner Page Type:</div>
						<div class="CMDet2">{if $TableDet.PageId eq '0'}Home{else}{$TableDet.page_title|stripslashes}{/if}</div>
						</div>
						 
					</div>
					<div style="width:490px;float:left; padding-top:10px;" >
						
 							<div class="CMDet">
							<div class="CMDet1">Image:</div>
							<div class="CMDet2">&nbsp;<img src="{$ProImageDisp}m_{$TableDet.BannerImage}" border="0"/></div>
						</div>					
							<div class="CMDet">
							<div class="CMDet1">Banner Status :</div>
							<div class="CMDet2">{if $TableDet.BannerStatus eq '1'}ON{else}OFF{/if}</div>
							</div>
						</div>
					</td></tr>	
				</td>						
			</tr>	
		{foreachelse}
			<tr><td colspan="5" align="center" class="error_msg"><strong>No Results Found ...</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>

	</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Banner(s)';
var Seltype='BannerMgmt';
</script>
{/literal}