<script language="javascript" src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
{literal}
<script language="javascript" type="text/javascript">
	var AllowExtension= new Array();
	function GoToFormValidate(ValiType)
	{	
		ErrCss='txtboxerr';var FlagIns=true;
			 FlagIns=FormValidateFunction('Text','#PageId','Please Select Page');
			if(FlagIns) {	
				FlagIns=FormValidateFunction('Text','#BannerTitle','Please Enter Banner Title');
			}
			if(FlagIns && ValiType==1){	
				FlagIns=FormValidateFunction('Text','#BannerImage','Please Select Banner Image');
			}
			if(FlagIns){	
				AllowExtension= new Array('jpg','jpeg','gif','png');
				FlagIns=FormValidateFunction('Image','#BannerImage','Please Select Valid Banner Image');
			}	 
			if(FlagIns) {	
				document.forms[FormName].submit();
			}
			else{	return false;	}
	}
  
//////hide && show ////
function GoOnChangeBannerValidFor(Specificvalue){
	if(Specificvalue=='Others'){
		jQuery('#NameList').show();
	}else{	
		jQuery('#NameList').hide();
		}
}	
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>	
<div class="clearspace"></div>
<form name="frm_banner" method="post" enctype="multipart/form-data" action="">		
<div class="body_head">			
	<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
            {if $SucMessage neq '' || $ErrMessage neq '' }	
                <div class="FormDiv">							
                    <div class="Msg_Div">
                    {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                    {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                    </div>
                </div><div class="spacer"></div>
            {/if}	
			  
			  <div class="FormDiv">
                    <div class="FormDet1">Select Page</div>
                    <div class="FormDet2">:</div>
                    <div class="FormDet3">
<select  name="PageId" id="PageId" class="txtbox1" style="width:350px;" >
							<option value="">Select Page </option>
							<option value="Home" {if $ArrDet.PageId eq '0'} selected="selected"{/if} >Home</option>
							{foreach from=$PageList item =BanDet}  
							<option value="{$BanDet.page_id}" {if $ArrDet.PageId eq $BanDet.page_id} selected="selected"{/if}>{$BanDet.page_title|stripslashes}</option>
							{/foreach}
							</select>
							<br /><span id="PageIdMsg" class="error"></span>
                    </div>
                </div>
             <div class="FormDiv">
                    <div class="FormDet1">Banner Title</div>
                    <div class="FormDet2">:</div>
                    <div class="FormDet3">
<input type="text" name="BannerTitle" id="BannerTitle" class="txtbox1" value="{$ArrDet.BannerTitle|stripslashes}" maxlength="100" style="width:350px;" />
                    <br /><span id="BannerTitleMsg" class="error"></span>
                    </div>
                </div>
				<div class="FormDiv">
				<div class="FormDet1">Banner Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
					<input type="file" name="BannerImage" id="BannerImage" value="{$ArrDet.BannerImage}"/> <br  />
					[Upload 1000x335 resolution image]
				  <br  /> <span id="BannerImageMsg" class="error"></span>
					 
					{if $ArrDet.BannerImage neq ''}<img src="{$ProImageDisp}m_{$ArrDet.BannerImage}" border="0"/>{/if}
					</div>
				</div> 

                   
                <div class="FormDiv">
                    <div class="FormDet1">&nbsp;</div>
                    <div class="FormDet2">&nbsp;</div>
                    <div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="submit" name="AddArrDet" value="Update Banner"class="btn" onclick="return GoToFormValidate('2');" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="submit" name="AddArrDet" value="Add Banner"class="btn" onclick="return GoToFormValidate('1');" />
{/if}
&nbsp;<input type="button" name="goback" value="GoBack Banner Home" class="btn" onClick="GoBack('mainbanner_mgmt.php');" />

                    </div>
                </div>	</div></div></div>			
	<div class="clearspace"></div>            </div>
</form>	
{literal}
<script language="javascript" type="text/javascript">
var FormName='frm_banner';
var FormObj=document.forms[FormName];
var MgmtName='Banners';
</script>
{/literal} 
