<link href="PageStyleScript/ui.css" rel="stylesheet"  />
{literal}
<script type="text/javascript" src="PageStyleScript/ui.js"></script>
<script language="javascript">
jQuery(function() {
	jQuery('#payfrom').datepicker({dateFormat:'dd-MM-yy'});
	jQuery('#payto').datepicker({dateFormat:'dd-MM-yy'});
	jQuery('#expire').datepicker({dateFormat:'dd-MM-yy'});
});
</script>
{/literal}
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:980px;"><form name="frm_search" method="get" action="">
			<div class="HeadFont12 AdmFleft PadRLB5">
			First Name&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}" /></div>
			<div class="HeadFont12 AdmFleft PadRLB5">
Pay Type&nbsp;:&nbsp;<select name="showonly" style="width:130px;">
				<option value=""></option>
		<option {if $smarty.get.showonly eq 'CreditCard'} selected="selected" {/if} value="CreditCard">CreditCard </option>
 		<option {if $smarty.get.showonly eq 'Paypal'} selected="selected" {/if} value="Paypal">Paypal</option>
				</select>
			</div>
			<div class="HeadFont12 AdmFleft PadRLB5">
Invoice No&nbsp;:&nbsp;<input type="text" name="seanum" id="seanum" value="{$smarty.get.seanum|stripslashes}"/></div>
			<div class="HeadFont12 AdmFleft PadRLB5">
Payment Date From &nbsp;:&nbsp;<input type="text" name="payfrom" id="payfrom" value="{$smarty.get.payfrom|stripslashes}"/></div>
			<div class="HeadFont12 AdmFleft PadRLB5">
Payment Date To &nbsp;:&nbsp;<input type="text" name="payto" id="payto" value="{$smarty.get.payto|stripslashes}"/></div>
			<!--<div class="HeadFont12 AdmFleft PadRLB5">
			Expire On &nbsp;:&nbsp;<input type="text" name="expire" id="expire" value="{$smarty.get.expire|stripslashes}"/></div>-->
			<div class="HeadFont12 AdmFleft PadRLB5">
				<input type="submit" name="seabut" value="Search" class="btn"/></div>	
			<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('payment_mgmt_home.php');" /></div>		
		</form>&nbsp;&nbsp;<div class="clearspace"></div>
		<form name="frm_cust" method="get"  action="payment_report.php">
			<div class="HeadFont12 AdmFleft PadRLB5"> <input type="submit" name="seabut" value="Export Payments List" class="btn"/>
			</div>	
		</form>
		</div>
	<div class="AdmFleft">
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			<div class="MsgDiv AdmFleft">
				{if $ErrMessage neq '' }
					<div id="message-red"><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr>
						<td class="red-left">{$ErrMessage}</td>
					<td class="red-right"><a class="close-red"><img src="theme_images/table/icon_close_red.gif"/></a></td>
					</tr></table></div>
				{elseif $SucMessage neq '' }
					<div id="message-green"><table border="0" width="100%" cellpadding="0" cellspacing="0"><tr>
						<td class="green-left">{$SucMessage}</td>
						<td class="green-right"><a class="close-green"><img src="theme_images/table/icon_close_green.gif"/></a></td>
					</tr></table></div>
				{/if}
				<div class="spacer"></div>
			</div>					
		{/if}
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
	<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>
		<div class="clearspace"></div>
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table"><tr>
				<th class="table-header-cornerL">S.No</th>	
				<th class="table-header-repeat line-left">First-Last Name</th>	 
				<th class="table-header-repeat line-left">Plan Tye</th>			
				<th class="table-header-repeat line-left">Payment Type</th>		
				<th class="table-header-repeat line-left">Invoice No </th>
				<th class="table-header-repeat line-left">Amount</th> 
				<th class="table-header-repeat line-left">Order Reference</th>
			<!--	<th class="table-header-repeat line-left">Expire On</th>-->
				<th class="table-header-repeat line-left">Payment Date</th>
				<th class="table-header-cornerR line-left">Payment Status</th>
			</tr>
		<tfoot><tr><td colspan="9" align="right">{$PayPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum} 	 	 	 	 	 	
		{foreach from=$PayList item=TableDet} 
			<tr {if $i%2 neq '0'} class="alternate-row"{/if} id="order_{$TableDet.UTransactionID}">
				<td width="5%"><input type="checkbox" name="ConId[]" value="{$TableDet.UTransactionID}" />{$i++}.</td>
				<td width="14">{$TableDet.UserFName|stripslashes} - {$TableDet.UserLName|stripslashes}</td>	 
				<td width="10%">  {$TableDet.PackTitle|stripslashes}   </td>				
				<td width="8%">{$TableDet.TransactionPayType|stripslashes}</td>
				<td width="10%">{$TableDet.TransactionInvoiceNumber}</td>
				<td width="5%">${$TableDet.TransactionPayAmount|number_format:"2"}</td> 
				<td width="10%">{$TableDet.TransactionOrderNumber}</td>
				<!--<td width="8%">
				{if $TableDet.EaSubExpireOn neq ''}
					{$TableDet.EaSubExpireOn|date_format:"%B %d,%Y"}
					{else}
					{$TableDet.SubExpireOn|date_format:"%B %d,%Y"}
				{/if}</td>-->
				<td width="16%">{$TableDet.TransactionDate|date_format:"%B %d,%Y %H:%M:%S"}</td>
				<td width="10%">{$TableDet.TransactionStatus} </td>
			</tr>	
		{foreachelse}
			<tr><td colspan="9" align="center" class="error_msg"><strong>No Results Found</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>

	</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Payment(s)';
</script>
{/literal}