<div id="page-heading"><h1> Profile Insert Management </h1></div>
<div class="body_head PadLR10">
	<div class="InnDiv940 AdmFleft">
                {if $SucMessage neq '' || $ErrMessage neq '' }	
                    <div class="AdmFleft SeaTotBox">							
                        <div class="Msg_Div">
                        {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                        {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                        </div>
                    </div><div class="spacer"></div>
                {/if}
		<form action="profile_insert.php?act_type={$act_type}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="insert_id" value="{$edit.insert_id}">
		<div class="FormDiv">
				<div class="FormDet1">Profile Insert Title</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dptitle" value="{$edit.insert_title}">
				</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Insert Code</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dpcode" value="{$edit.insert_code}">
				</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Insert Factor</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dpfactor" value="{$edit.insert_factor}">
				</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Insert Available with </div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">  {$profile_dropdown}	</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Insert Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				{if $edit.insert_image neq ''}
							<img src="{$SiteHttpPath}{php} echo INSERT_FOLDER.'thumbnail/';{/php}{$edit.insert_image}" width="150">
						{/if}
						<input class="btn" type="file" name="dpimage"  value="">
				</div>
			</div>
			<div class="clearspace"></div>
			
			<div class="FormDiv">
				<div class="FormDet1">&nbsp; </div>
				<div class="FormDet2">&nbsp; </div>
				<div class="FormDet3">
				<input type="submit" class="btn" name="submit" value="submit">
				<button class="btn" onclick="window.location='profile_insert.php'; return false;"> Cancel </button>
				</div>
			</div>
			<div class="clearspace"></div>
			
			
			</form>
			</div> <!-- .InnDiv940 AdmFleft -->
			<hr>
			<table id="product-table" width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<th class="table-header-cornerL"> Profile Insert Name</th>
					<th class="table-header-repeat line-left"> Profile Insert Factor</th>
					<th class="table-header-repeat line-left"> Profile Insert Image</th>
					<th class="table-header-cornerR line-left">Action</th>
				</tr>
				</thead>
				<tbody>
				
				{foreach from=$profile_insert item=f}
					<tr>
						<td>
						<a href="profile_sub_insert.php?insert_id={$f.insert_id}"> {$f.insert_title} </a>
						<br/>
						<!-- <small>Available With: {php} echo $f['insert_title']; {/php}</small> -->
						 <small>
							Available With: 
							{php}  
								$avw = $this->get_template_vars(f); //var_dump($avw);
								if($avw['insert_available_with']!='[""]')
								{
									$avw = objectToArray( json_decode($avw['insert_available_with']));
									if($avw[0]=='') unset($avw[0]);
									echo implode(',',$avw);
								}
								else
								echo "All";
							{/php}
						 </small> 
						</td>
						<td>{$f.insert_factor}</td>
						<td><img src="{$SiteHttpPath}{php} echo INSERT_FOLDER.'thumbnail/';{/php}{$f.insert_image}" height="80"></td>
						<td>
							<div class="gallery options-width">
								<a class="icon-1 info-tooltip" href="profile_insert.php?act_type=edit&insert_id={$f.insert_id}"></a>
								<a class="icon-2 info-tooltip" href="profile_insert.php?act_type=delete&insert_id={$f.insert_id}" onclick="return confirm('Please Confirm Deletion !!')"></a>
							</div>
						</td>
					</tr>
				{/foreach}	
				</tbody>
			</table>
</div>