<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">		<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
Profile Number&nbsp;:&nbsp;<input type="text" name="pronamesea" value="{$smarty.get.pronamesea|stripslashes}"/></div>
  					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('profiletype_mgmt.php');" /></div>		
				</div>
			</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL"><b>S.No</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Profile Number</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Shape Image</b></th>  
			<th class="table-header-repeat line-left"><b>Status</b></th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="5" align="right">{$ProfileTypePage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
			{foreach from=$ProList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row" id="order_{$TableDet.PTypeId}"{/if}>
		<td width="8%"><input type="checkbox" name="ConId[]" value="{$TableDet.PTypeId}" />{$i++}.</td>
					<td width="42%">{$TableDet.ProfileNumber|stripslashes}</td>
                    <td width="27%">{if $TableDet.ShapeImage neq ''}
						<img border='0' src="{$ShapeImageDisp}t_{$TableDet.ShapeImage}"/>{else}No Image {/if}</td>  
					<td width="10%">
						{if $TableDet.PStatus eq 1}
					<span id="InActive_{$TableDet.PTypeId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.PTypeId}','ProfileTypeMgmt','ProfileType(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.PTypeId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.PTypeId}','ProfileTypeMgmt','ProfileType(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$TableDet.PTypeId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.PTypeId}','ProfileTypeMgmt','ProfileType(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.PTypeId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.PTypeId}','ProfileTypeMgmt','ProfileType(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span> 
					{/if}
					</td>
				<td width="13%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="profiletype_mgmt.php?act_type=addnew&edit=1&con_id={$TableDet.PTypeId|md5}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" 
					onclick="AdminDeleteFunction('{$TableDet.PTypeId}');"></a>
					
					<div id="MyShow_{$TableDet.PTypeId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.PTypeId}','MyHide','MyShow');"></a>
				</div>					
					<div id="MyHide_{$TableDet.PTypeId}" style="display:none;">
						<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.PTypeId}','MyShow','MyHide');"></a>
					</div>  
				</div>							
				</td>	
			<tr  id="ResIdDiv_{$TableDet.PTypeId}" style="display:none;" class="ViewDet" >					
			<td colspan="5">
			<div class="HeadYBord14">Details of '{$TableDet.ItemName|stripslashes}' ProfileType</div>
			<div class="clearspace"></div>
						<div style="width:940px;float:left; padding-top:10px;" >
							<div style="width:550px; float:left; padding-top:10px;">
						<div class="CMDet"> 	 	 	
								<div class="CMDet1">Profile Number</div>
								<div class="CMDet2">:&nbsp;{$TableDet.ProfileNumber|stripslashes}</div>
							</div>  
 							<div class="CMDet">
								<div class="CMDet1">Shape Image</div>
								<div class="CMDet2">:&nbsp;{if $TableDet.ShapeImage neq ''}	<img border='0' src="{$ShapeImageDisp}{$TableDet.ShapeImage}"/>{else}No Image {/if}</div>
							</div>
  							<div class="CMDet">
								<div class="CMDet1">Status</div>
								<div class="CMDet2">:&nbsp;{if $TableDet.PStatus eq '1'}ON{else}OFF{/if}</div>
							</div> 
							</div>
							 
				<div class="clearspace"></div>						
			</div>
			   </td></tr>
			</tr>
		
		{foreachelse}
			<tr><td colspan="7" align="center" class="error_msg"><strong>No ProfileType Found ..</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='ProfileType(s)';
var Seltype='ProfileTypeMgmt'; 
</script>
{/literal}