<div id="page-heading"><h1> Profile Finish Management </h1></div>
<div class="body_head PadLR10">
	<div class="InnDiv940 AdmFleft">
                {if $SucMessage neq '' || $ErrMessage neq '' }	
                    <div class="AdmFleft SeaTotBox">							
                        <div class="Msg_Div">
                        {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                        {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                        </div>
                    </div><div class="spacer"></div>
                {/if}
		<form action="profile_finish.php?act_type={$act_type}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="finish_id" value="{$edit.profile_finish_id}">
		
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Finish Title</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dptitle" value="{$edit.profile_finish_title}">
				</div>
		</div>
		<div class="clearspace"></div>
			
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Finish Code</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dpcode" value="{$edit.profile_finish_code}">
				</div>
		</div>
		<div class="clearspace"></div>
		
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Finish Factor</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dpfactor" value="{$edit.profile_finish_factor}">
				</div>
		</div>
		<div class="clearspace"></div>
		
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Finish Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
					{if $edit.profile_finish_image neq ''}
						<img src="{$SiteHttpPath}{php} echo PROFILE_FINISH_FOLDER.'thumbnail/';{/php}{$edit.profile_finish_image}" width="150">
					{/if}
					<input type="file" class="btn" name="dpimage"  value="">
				</div>
		</div>
		<div class="clearspace"></div>
		
			
		<div class="FormDiv">
				<div class="FormDet1">&nbsp; </div>
				<div class="FormDet2">&nbsp; </div>
				<div class="FormDet3">
					<input class="btn" type="submit" name="submit" value="submit">
					<button class="btn" onclick="window.location='profile_finish.php'; return false;"> Cancel </button>
				</div>
		</div>
		<div class="clearspace"></div>
			
			</form>
			</div> <!-- .InnDiv940 AdmFleft -->
			<hr>
			<table id="product-table" width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<th class="table-header-cornerL"> Profile Finish Name</th>
					<th class="table-header-repeat line-left"> Profile Finish Factor</th>
					<th class="table-header-repeat line-left"> Profile Finish Image</th>
					<th class="table-header-cornerR line-left">Action</th>
				</tr>
				</thead>
				<tbody>
				
				{foreach from=$profile_finish item=f}
					<tr>
						<td>{$f.profile_finish_title}</td>
						<td>{$f.profile_finish_factor}</td>
						<td><img src="{$SiteHttpPath}{php} echo PROFILE_FINISH_FOLDER.'thumbnail/';{/php}{$f.profile_finish_image}" height="80"></td>
						<td>
							<div class="gallery options-width">
								<a class="icon-1 info-tooltip" href="profile_finish.php?act_type=edit&finish_id={$f.profile_finish_id}"></a>
								<a class="icon-2 info-tooltip" href="profile_finish.php?act_type=delete&finish_id={$f.profile_finish_id}" onclick="return confirm('Please Confirm Deletion !!')"></a>
							</div>
						</td>
					</tr>
				{/foreach}	
				</tbody>
			</table>
</div>