<div id="page-heading"><h1> Profile Type Management </h1></div>
<div class="body_head PadLR10">
	<div class="InnDiv940 AdmFleft">
                {if $SucMessage neq '' || $ErrMessage neq '' }	
                    <div class="AdmFleft SeaTotBox">							
                        <div class="Msg_Div">
                        {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                        {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                        </div>
                    </div><div class="spacer"></div>
                {/if}
		<form action="profile_type.php?act_type={$act_type}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="profile_id" value="{$edit.profile_id}">
		<div class="FormDiv">
				<div class="FormDet1">Profile Type Title</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dptitle" value="{$edit.name}">
				</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Type Code</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dpcode" value="{$edit.code}">
				</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Type Factor </div>
				<div class="FormDet2">:</div>
				<div class="FormDet3"> 
					<table width="97%">
						<tr> 
							<td width="25%"> Natural </td> 
							<td width="5%"> : </td> 
							<td width="70%"> <input type="text" name="nfactor" value="{$edit.nfactor}"> </td>
						</tr>
						<tr> 
							<td width="25%"> Chrome </td> 
							<td width="5%"> : </td> 
							<td width="70%"> <input type="text" name="cfactor" value="{$edit.cfactor}"> </td>
						</tr>
						<tr> 
							<td width="25%"> Stainless </td>
							<td width="5%"> : </td> 
							<td width="70%"> <input type="text" name="sfactor" value="{$edit.sfactor}"> </td>
						</tr>
						<tr> 
							<td width="25%"> Oil Rubbed Bronze </td> 
							<td width="5%"> : </td> 
							<td width="70%"> <input type="text" name="ofactor" value="{$edit.ofactor}"> </td>
						</tr>
						<tr> 
							<td width="25%"> Black </td> 
							<td width="5%"> : </td> 
							<td width="70%"> <input type="text" name="bfactor" value="{$edit.bfactor}"> </td>
						</tr>
						<tr> 
							<td width="25%"> White </td> 
							<td width="5%"> : </td> 
							<td width="70%"> <input type="text" name="wfactor" value="{$edit.wfactor}"> </td>
						</tr>
					</table>
				</div>
		</div>
		<div class="clearspace"></div>
		
		<div class="FormDiv">
				<div class="FormDet1">Profile Type Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
					{if $edit.image neq ''}
						<img src="{$SiteHttpPath}{php} echo DOOR_FOLDER.'thumbnail/';{/php}{$edit.image}" width="150">
					{/if}
					<input type="file" class="btn" name="dpimage"  value="">
				</div>
		</div>
		<div class="clearspace"></div>
		
		<div class="FormDiv">
				<div class="FormDet1">&nbsp; </div>
				<div class="FormDet2">&nbsp; </div>
				<div class="FormDet3">
					<input type="submit" class="btn" name="submit" value="submit">
					<button class="btn" onclick="window.location='profile_type.php'; return false;"> Cancel </button>
				</div>
		</div>
		<div class="clearspace"></div>
			
			
			</form>
			</div> <!-- .InnDiv940 AdmFleft -->
			<hr>
			<table id="product-table" width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<th class="table-header-cornerL"> Profile Type Name</th>
					<th class="table-header-repeat line-left"> Profile Type Factor</th>
					<th class="table-header-repeat line-left"> Profile Type Image</th>
					<th class="table-header-cornerR line-left">Action</th>
				</tr>
				</thead>
				<tbody>
				
				{foreach from=$profile_type item=f}
					<tr>
						<td>{$f.name}</td>
						<td>
							<table width="96%">
								<tr> <td> Natural </td> <td> : </td> <td> {$f.nfactor} </td> </tr>
								<tr> <td> Chrome </td> <td> : </td> <td> {$f.cfactor} </td> </tr>
								<tr> <td> Stainless </td> <td> : </td> <td> {$f.sfactor} </td> </tr>
								<tr> <td> Oil Rubbed Bronze </td> <td> : </td> <td> {$f.ofactor} </td> </tr>
								<tr> <td> Black </td> <td> : </td> <td> {$f.bfactor} </td> </tr>
								<tr> <td> White </td> <td> : </td> <td> {$f.wfactor} </td> </tr>
							</table>
						</td>
						<td><img src="{$SiteHttpPath}{php} echo DOOR_FOLDER.'thumbnail/';{/php}{$f.image}" height="160"></td>
						<td>
							<div class="gallery options-width">
								<a class="icon-1 info-tooltip" href="profile_type.php?act_type=edit&profile_id={$f.profile_id}"></a>
								<a class="icon-2 info-tooltip" href="profile_type.php?act_type=delete&profile_id={$f.profile_id}" onclick="return confirm('Please Confirm Deletion !!')"></a>
							</div>
						</td>
					</tr>
				{/foreach}	
				</tbody>
			</table>
</div>