<div id="page-heading"><h1> Profile Sub Insert Management </h1></div>
<div class="body_head PadLR10">
	<div class="InnDiv940 AdmFleft">
                {if $SucMessage neq '' || $ErrMessage neq '' }	
                    <div class="AdmFleft SeaTotBox">							
                        <div class="Msg_Div">
                        {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                        {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                        </div>
                    </div><div class="spacer"></div>
                {/if}
		<form action="profile_sub_insert.php?act_type={$act_type}" method="post" enctype="multipart/form-data">
		<input type="hidden" name="insert_id" value="{$insert_id}">
		<input type="hidden" name="sub_insert_id" value="{$edit.door_sub_id}">
		<div class="FormDiv">
				<div class="FormDet1">Profile Insert Title</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				<input type="text" name="dptitle" value="{$edit.door_sub_title}">
				</div>
		</div>
		<div class="clearspace"></div>
			
		<div class="FormDiv">
				<div class="FormDet1">Profile Insert Image</div>
				<div class="FormDet2">:</div>
				<div class="FormDet3">
				{if $edit.door_sub_image neq ''}
							<img src="{$SiteHttpPath}{php} echo SUB_INSERT_FOLDER.'thumbnail/';{/php}{$edit.door_sub_image}" width="150">
						{/if}
						<input class="btn" type="file" name="dpimage"  value="">
				</div>
			</div>
			<div class="clearspace"></div>
			
			<div class="FormDiv">
				<div class="FormDet1">&nbsp; </div>
				<div class="FormDet2">&nbsp; </div>
				<div class="FormDet3">
				<input type="submit" class="btn" name="submit" value="submit">
				<button class="btn" onclick="window.location='profile_insert.php'; return false;"> Cancel </button>
				</div>
			</div>
			<div class="clearspace"></div>
			
			
			</form>
			</div> <!-- .InnDiv940 AdmFleft -->
			<hr>
			<table id="product-table" width="100%" border="0" cellspacing="0" cellpadding="0">
				<thead>
				<tr>
					<th class="table-header-cornerL"> Profile Insert Name</th>
					<th class="table-header-repeat line-left"> Profile Insert Image</th>
					<th class="table-header-cornerR line-left">Action</th>
				</tr>
				</thead>
				<tbody>
				
				{foreach from=$profile_sub_insert item=f}
					<tr>
						<td>{$f.door_sub_title}</td>
						<td><img src="{$SiteHttpPath}{php} echo SUB_INSERT_FOLDER.'thumbnail/';{/php}{$f.door_sub_image}" height="80"></td>
						<td>
							<div class="gallery options-width">
								<a class="icon-1 info-tooltip" href="profile_sub_insert.php?act_type=edit&sub_insert_id={$f.door_sub_id}&insert_id={$f.door_insert_id}"></a>
								<a class="icon-2 info-tooltip" href="profile_sub_insert.php?act_type=delete&sub_insert_id={$f.door_sub_id}&insert_id={$f.door_insert_id}" onclick="return confirm('Please Confirm Deletion !!')"></a>
							</div>
						</td>
					</tr>
				{/foreach}
				{if $profile_sub_insert eq ''}
					<tr> <th colspan="4"> No Records found </th> </tr>
				{/if}
				</tbody>
			</table>
</div>