<link href="PageStyleScript/ui.css" rel="stylesheet"  />
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script> 
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">			<form name="frm_search" method="get" action="">
			<div class="PadRLB5 AdmFleft">
 					<div class="HeadFont12 AdmFleft PadRLB5">
					User Name&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}" /></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
		Email&nbsp;:&nbsp;<input type="text" name="seamail" value="{$smarty.get.seamail|stripslashes}" /></div>
  				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="submit" name="seabut" value="Search" class="btn"/></div>	
				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('quotes_mgmt.php');" /></div>		
			</div>
		</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_Video" method="post" action="">
	<input type="hidden" name="Action_Type" />
	<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL">S.No</th>
			<th class="table-header-repeat line-left">Username</th>
			<th class="table-header-repeat line-left">Email</th> 
			<th class="table-header-repeat line-left">Quote</th>
			<th class="table-header-repeat line-left">Status</th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="6" align="right">{$QPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$QList item=ConDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if}>
 				<td width="10%"><input type="checkbox" name="ConId[]" value="{$ConDet.QuoteId}" />{$i++}.</td>
				<td width="30%">{$ConDet.UserName|stripslashes}</td>
				<td width="20%">{$ConDet.UserEmail|stripslashes}</td>
				<td width="15%">{$ConDet.QuoteDesc|truncate:50|stripslashes}</td>
				<td width="15%">					
					{if $ConDet.QStatus eq '1'}
 					<span id="InActive_{$ConDet.QuoteId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.QuoteId}','QuotesMgmt','Quote(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.QuoteId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.QuoteId}','QuotesMgmt','Quote(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$ConDet.QuoteId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.QuoteId}','QuotesMgmt','Quote(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.QuoteId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.QuoteId}','QuotesMgmt','Quote(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
 					{/if}
				</td>
				<td width="10%">
				<div class="gallery options-width"> 
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$ConDet.QuoteId}');"></a>
					
					<div id="MyShow_{$ConDet.QuoteId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$ConDet.QuoteId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$ConDet.QuoteId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$ConDet.QuoteId}','MyShow','MyHide');"></a>
				</div> 
				</div>	 
				</td>						
			</tr>	
			<tr  id="ResIdDiv_{$ConDet.QuoteId}" style="display:none;" class="ViewDet" >
			<td colspan="6">
			<div class="HeadYBord14">Details of '{$ConDet.UserName|stripslashes}' - Quotes </div>
							<div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Username</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.UserName|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">User Email</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.UserEmail|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">User Phone</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.UserPhone|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Date</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.QuoteDate|date_format:"%d %b, %Y"}</div>
						</div>
						<div class="clearspace"></div>
						<div class="CMDet">
						<div class="CMDet1">User IP </div>
						<div class="CMDet2"> : &nbsp;{$ConDet.UserIP|stripslashes}</div></div>
						<div class="clearspace"></div> 
						<div class="CMDet">
							<div class="CMDet1">Description </div>
							<div class="CMDet2"> : &nbsp;{$ConDet.QuoteDesc|stripslashes|html_entity_decode}</div>
						</div>	
						
			   </td>
			</tr>
		
		{foreachelse}
			<tr><td colspan="6" align="center" class="error_msg"><strong>No Quotes</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_Video';
var FormObj=document.forms[FormName];
var MgmtName='Quote(s)';
var Seltype='QuotesMgmt';

function GoBackRedirct(RedirURL){
	window.location.href= RedirURL;
}
</script>
{/literal}