<link href="PageStyleScript/ui.css" rel="stylesheet"  /> 
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript" src="PageStyleScript/ui.js"></script>
<script language="javascript">
jQuery(function() {
	jQuery('#payfrom').datepicker({dateFormat:'dd-MM-yy'});
	jQuery('#payto').datepicker({dateFormat:'dd-MM-yy'}); 
});
</script>
{/literal}<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:860px;">		<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft"> 
 				<div class="HeadFont12 AdmFleft PadRLB5">
Profile Number&nbsp;:&nbsp;<input type="text" name="pronamesea" value="{$smarty.get.pronamesea|stripslashes}"/></div>
			<div class="HeadFont12 AdmFleft PadRLB5">
Payment Date From &nbsp;:&nbsp;<input type="text" name="payfrom" id="payfrom" value="{$smarty.get.payfrom|stripslashes}"/></div>
			<div class="HeadFont12 AdmFleft PadRLB5">
Payment Date To &nbsp;:&nbsp;<input type="text" name="payto" id="payto" value="{$smarty.get.payto|stripslashes}"/></div>
					 
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('financial_report.php');" /></div>		
				</div>
			</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL"><b>S.No</b></th>
			<th class="table-header-repeat line-left"><b>&nbsp;Username</b></th>
			<th class="table-header-repeat line-left"><b>Profile</b></th> 
			<th class="table-header-repeat line-left"><b>&nbsp;Profile Number</b></th> 
			<th class="table-header-repeat line-left"><b>Total Price</b></th> 
			<th class="table-header-repeat line-left"><b>Paid Date</b></th> 
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="12" align="right">{$QuotesPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
			{foreach from=$ProList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row" id="order_{$TableDet.PayId}"{/if}>
		<td width="8%"><input type="checkbox" name="ConId[]" value="{$TableDet.PayId}" />{$i++}.</td>
				<td width="22%">{$TableDet.UserName|stripslashes}</td>  
				<td width="19%">{if $TableDet.ProfileId eq 1}Door Profile with Glass
								   {elseif $TableDet.ProfileId eq 2}Door Profile without Glass
								   {elseif $TableDet.ProfileId eq 3}Frame Only{else}Glass Only{/if}</td>
				<td width="13%">{$TableDet.ProfileNumber|stripslashes}</td> 
				<td width="13%">${$TableDet.QuotePrice|stripslashes}</td> 
				<td width="15%">{$TableDet.PayDate|date_format:"%b %d %Y,  %H:%M:%S"}</td> 
 				<td width="10%">
				<div class="gallery options-width">
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$TableDet.PayId}');"></a>
					<!--<a title="Edit" class="icon-1 info-tooltip" href="product_mgmt.php?act_type=addnew&edit=1&con_id={$TableDet.PayId|md5}"></a>--> 
					
					<div id="MyShow_{$TableDet.PayId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.PayId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$TableDet.PayId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.PayId}','MyShow','MyHide');"></a>
				</div> 
				</div>							
				</td>	
			<tr  id="ResIdDiv_{$TableDet.PayId}" style="display:none;" class="ViewDet" >					
			<td colspan="12">
			<div class="HeadYBord14">Quote Details of '{$TableDet.UserName|stripslashes}'</div>
			<div class="clearspace"></div>
				<div style="width:940px;float:left; padding-top:10px;" >
					<div style="width:500px; float:left; padding-top:10px;">
				<div class="CMDet"> 	 	 	
						<div class="CMDet1">UserName</div>
						<div class="CMDet2">:&nbsp;{$TableDet.UserName|stripslashes}</div>
					</div>
				<div class="CMDet"> 	 	 	
						<div class="CMDet1">Email</div>
						<div class="CMDet2">:&nbsp;{$TableDet.UserEMail|stripslashes}</div>
					</div>
				<div class="CMDet"> 	 	 	
						<div class="CMDet1">Phone Number</div>
						<div class="CMDet2">:&nbsp;{$TableDet.UserPhone|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Quote Id</div>
						<div class="CMDet2">:&nbsp;{$TableDet.QuoteId|stripslashes}</div>
					</div>
					{if $TableDet.ProfileId neq 4}  
						<div class="CMDet">
							<div class="CMDet1">Profile Number</div>
							<div class="CMDet2">:&nbsp;{$TableDet.ProfileNumber|stripslashes}</div>
						</div>  
						<div class="CMDet">
							<div class="CMDet1">Shape Image</div>
							<div class="CMDet2">:&nbsp;{if $TableDet.ShapeImage neq ''}
							<img border='0' src="{$ShapeImageDisp}m_{$TableDet.ShapeImage}"/>{else}No Image {/if}</div>
						</div>  
						<div class="CMDet">
							<div class="CMDet1">Finish</div>
							<div class="CMDet2">:&nbsp;{$TableDet.FinishType}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">FinishImage</div>
							<div class="CMDet2">:&nbsp;{if $TableDet.FinishImage neq ''}
							<img border='0' src="{$FinishImageDisp}m_{$TableDet.FinishImage}"/>{else}No Image {/if}</div>
						</div> 
					{/if}
					{if $TableDet.ProfileId eq 1 or $TableDet.ProfileId eq 4}
					<div class="CMDet">
						<div class="CMDet1">Glass Code</div>
						<div class="CMDet2">:&nbsp;{$TableDet.GlassCode|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Glass Name</div>
						<div class="CMDet2">:&nbsp;{$TableDet.GlassName|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Glass Image</div>
						<div class="CMDet2">:&nbsp;{if $TableDet.GlassImage neq ''}
							<img border='0' src="{$GlassImageDisp}m_{$TableDet.GlassImage}"/>{else}No Image {/if}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Glass Group</div>
						<div class="CMDet2">:&nbsp;{$TableDet.GlassGroup|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Thickness</div>
						<div class="CMDet2">:&nbsp;{$TableDet.Thickness|stripslashes}</div>
					</div> 
					<div class="CMDet">
						<div class="CMDet1">Minimum sqft</div>
						<div class="CMDet2">:&nbsp;{$TableDet.Sqfeet|stripslashes}</div>
					</div> 
					{/if}
					</div>
					<div style="width:400px; float:left; padding-top:10px;">
					{if $TableDet.ProfileId eq 1 or $TableDet.ProfileId eq 4}
						<div class="CMDet">
							<div class="CMDet1">Glass Model</div>
							<div class="CMDet2">:&nbsp;{$TableDet.GlassModel|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Glass Direction</div>
							<div class="CMDet2">:&nbsp;{$TableDet.GlassDirection|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Lesportes Regular Price</div>
							<div class="CMDet2">:&nbsp;${$TableDet.LRegularPrice|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Lesportes Tempered Price</div>
							<div class="CMDet2">:&nbsp;${$TableDet.LTemperedPrice|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Lesportes %</div>
							<div class="CMDet2">:&nbsp;{$TableDet.LPercent|stripslashes}%</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Barazin %</div>
							<div class="CMDet2">:&nbsp;{$TableDet.BPercent|stripslashes}%</div>
						</div>
					{/if}
					{if $TableDet.ProfileId eq 1 or $TableDet.ProfileId eq 2}
						<div class="CMDet">
							<div class="CMDet1">Hinge Hole Status</div>
							<div class="CMDet2">:&nbsp;{$TableDet.HingeHoleSta|stripslashes}</div>
						</div>
						{if $TableDet.HingeHoleSta eq 'Yes'}
							<div class="CMDet">
								<div class="CMDet1">Hinge Location </div>
								<div class="CMDet2">:&nbsp;{$TableDet.HingeLocation|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Extra Hinge Hole Status</div>
								<div class="CMDet2">:&nbsp;{$TableDet.ExtraHingeHoleSta|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Extra Hinge Price</div>
								<div class="CMDet2">:&nbsp;${$ExtraHingesPrice|stripslashes}</div>
							</div> 
							<div class="CMDet">
								<div class="CMDet1">Total Extra Hinge Hole  </div>
								<div class="CMDet2">:&nbsp;{$TableDet.TotExtraHingeHole|stripslashes}</div>
							</div> 
							<div class="CMDet">
								<div class="CMDet1">Hole Status (35mm)</div>
								<div class="CMDet2">:&nbsp;{$TableDet.HoleStatus|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Hole Price</div>
								<div class="CMDet2">:&nbsp;${$HolesPrice|stripslashes}</div>
							</div>
						{/if}
							<div class="CMDet">
								<div class="CMDet1">Model</div>
								<div class="CMDet2">:&nbsp;{$TableDet.Model|stripslashes}</div>
							</div>
					{/if}
						<div class="CMDet">
							<div class="CMDet1">Length (A) </div>
							<div class="CMDet2">:&nbsp;{$TableDet.HoleA|stripslashes} in</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Height (B) </div>
							<div class="CMDet2">:&nbsp;{$TableDet.LengthB|stripslashes} in</div>
						</div>
						{if $TableDet.HingeHoleSta eq 'Yes'}
							<div class="CMDet">
								<div class="CMDet1">C </div>
								<div class="CMDet2">:&nbsp;{$TableDet.WidthC|stripslashes} in</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">D </div>
								<div class="CMDet2">:&nbsp;{$TableDet.WidthD|stripslashes} in</div>
							</div>
						{/if}
						{SmartyPlugIn GetType='DoorDetails' PTypeId=$TableDet.PTypeId FinishId=$TableDet.FinishId}
					{if $TableDet.ProfileId eq 3}
						<div class="CMDet">
							<div class="CMDet1">Length (Sq.ft) </div>
							<div class="CMDet2">:&nbsp;{$TableDet.Length|stripslashes} Sq.ft</div>
						</div>
						{SmartyPlugIn GetType='FrameDetails' PTypeId=$TableDet.PTypeId FinishId=$TableDet.FinishId}
					{/if} 
					{if $TableDet.ProfileId eq 4}
						<div class="CMDet">
							<div class="CMDet1">Drilling Holes</div>
							<div class="CMDet2">:&nbsp;{$TableDet.DrillHoleStatus|stripslashes}</div>
						</div>
						{if $TableDet.DrillHoleStatus eq 'Yes'}
							<div class="CMDet">
								<div class="CMDet1">Total Drilling holes </div>
								<div class="CMDet2">:&nbsp;{$TableDet.TotDrillHoles|stripslashes}</div>
							</div>
							<div class="CMDet">
								<div class="CMDet1">Glass Drilling Hole Price</div>
								<div class="CMDet2">:&nbsp;${$GDHolePrice|stripslashes}</div>
							</div>
						{/if}
					{/if} 
					<div class="CMDet">
						<div class="CMDet1">Base Price</div>
						<div class="CMDet2">:&nbsp;${$BasePrice|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Qty</div>
						<div class="CMDet2">:&nbsp;{$TableDet.Qty|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Order Type</div>
						<div class="CMDet2">:&nbsp;{$TableDet.OrderType|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Quote Price</div>
						<div class="CMDet2">:&nbsp;${$TableDet.QuotePrice|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">BARAZIN Price</div>
						<div class="CMDet2">:&nbsp;${$TableDet.BARAZINPrice|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Profit</div>
						<div class="CMDet2">:&nbsp;${$TableDet.Profit|stripslashes}</div>
					</div>
					<div class="CMDet">
						<div class="CMDet1">Comments</div>
						<div class="CMDet2">:&nbsp;{$TableDet.Comments|stripslashes}</div>
					</div>
					</div>
		<div class="clearspace"></div>						
	</div>
			   </td></tr>
			</tr>
		
		{foreachelse}
			<tr><td colspan="7" align="center" class="error_msg"><strong>No Quote Found ..</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Sales Report(s)';
var Seltype='ProductMgmt';

</script>
{/literal}