<link rel="stylesheet" href="PageStyleMenu/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<script src="PageStyleMenu/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;"><form name="frm_search" method="get" action="">
			<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
Title&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}"/></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="submit" name="seabut" value="Search" class="btn"/></div>	
				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('static_pages.php');" /></div>		
			</div>
		</form>	</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_list" method="post" action="">
	<input type="hidden" name="Action_Type" />
	<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
	<!--	Admin Mgmt Permission Check	Start-->
		
	<!--	Admin Mgmt Permission Check	Start-->
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL">S.No</th>
			<th class="table-header-repeat line-left">Title</th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="3" align="right">{$ContentPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$ContList item=ConDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if}>
			<td width="10%">{$i++}.</td>
			<td width="80%">{$ConDet.page_title|stripslashes}</td>
           <td width="10%">				
					<div class="gallery options-width">
					<a class="icon-1 info-tooltip" title="Edit" href="static_pages.php?act_type=addnew&amp;con_id={$ConDet.page_id|md5_enc}"></a>
					
					<div id="MyShow_{$ConDet.page_id}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$ConDet.page_id}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$ConDet.page_id}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$ConDet.page_id}','MyShow','MyHide');"></a>
				</div>
					
				</div>
                   	<tr  id="ResIdDiv_{$ConDet.page_id}" style="display:none;" class="ViewDet" >
			<td colspan="3">
			         <div class="HeadYBord14">{$ConDet.page_title|stripslashes} - Details</div>
					 <div class="CMDet">
							<div class="CMDet1">Title</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.page_title|stripslashes|html_entity_decode}</div>
						</div>
						<div class="clearspace"></div>
					<div class="CMDet">
					<div class="CMDet1">Description :</div>
					<div class="CMDet2">{$ConDet.page_content|stripslashes|html_entity_decode}</div><div class="clearspace"></div></div>
					<div class="CMDet">
						<div class="CMDet1">Meta Key</div>
						<div class="CMDet2">:&nbsp;{$ConDet.CMetaKey|stripslashes}</div>
					</div><div class="clearspace"></div>
					<div class="CMDet">
						<div class="CMDet1">Meta  Description</div>
						<div class="CMDet2">:&nbsp;{$ConDet.CMetaDesc|stripslashes}</div>
					</div><div class="clearspace"></div>						
                       </td></tr>					
		</tr>	
		{foreachelse}
			<tr><td colspan="3" align="center" class="error_msg"><strong>No Static Pages</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
jQuery(document).ready(function(){
	jQuery(".gallery a[rel^='prettyPhoto']").prettyPhoto({theme:'facebook'});
});
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='Static Page(s)';
</script>
{/literal}