<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
		<div class="InnDiv940 AdmFleft">	
			<div class="AdmFleft">
			<form name="frm_search" method="get">
				<div class="PadRLB5 AdmFleft">
	 	<div class="HeadFont12 AdmFleft PadRLB5">
State Name&nbsp;:&nbsp;<input type="text" name="seaname" id="seaname" value="{$smarty.get.seaname|stripslashes}"  /></div>		
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('state_mgmt.php');" /></div>	
				</div>
			</form>
			</div>
			<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
		</div>
	<div id="Errmsgval"></div>
			<form name="frm_list" method="post">
		<input type="hidden" name="Action_Type" >
		<input type="hidden" name="ConSId"/>
		<div class="clearspace"></div>	
		<!--	Admin Mgmt Permission Check	Start-->
        
		<!--	Admin Mgmt Permission Check	Start-->		
		 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
				<th class="table-header-cornerL" ><b>S.No</b></th>
				<th  class="table-header-repeat line-left" >State Name</b>	</th>
				<th  class="table-header-repeat line-left">Country Name</b>	</th>
				<th  class="table-header-repeat line-left"><b>Status</b></th>
				<th class="table-header-cornerR"><b>Actions</b></th>						
		</tr>
		<tfoot><tr><td colspan="5" align="right">{$LocRPage}</td></tr></tfoot>
		<tbody>
			{assign var=i value=$PageStartNum}
			{foreach from=$StateList item=DataDet} 
			<tr  bgcolor="{if $i%2 neq '0'}#FFFFFF{else}#F3F3F3{/if}"> 
				<td width="10%">
				<input type="checkbox" name="ConId[]" value="{$DataDet.state_id}" />{$i++}.</td>
				<td width="35%">{$DataDet.state_name|stripslashes}</td>
				<td width="35%">{$DataDet.country_name|stripslashes}</td>
				<td width="7%">					
					{if $DataDet.StateSta eq 1}
					
					<span id="InActive_{$DataDet.state_id}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$DataDet.state_id}','StateMgmt','State(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$DataDet.state_id}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$DataDet.state_id}','StateMgmt','State(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$DataDet.state_id}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$DataDet.state_id}','StateMgmt','State(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$DataDet.state_id}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$DataDet.state_id}','StateMgmt','State(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
					</td>					
				<td width="10%">
		<div class="gallery options-width">
		<a title="Edit" class="icon-1 info-tooltip" href="loc_country_mgmt.php?act_type=addnewstate&con_id={$DataDet.state_id|md5_enc}"></a>
		<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$DataDet.state_id}');"></a>	</div>	
				</td>	
												
			</tr>
			{foreachelse}
				<tr><td colspan="5" align="center" class="error_msg"><strong>No States Found...</strong></td></tr>	
			{/foreach}						
			</tbody>
		</table>			
		<div class="clearspace"></div>
	</form>
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='State(s)';
var Seltype='StateMgmt';
</script>
{/literal}