<script src="PageStyleMenu/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">	
	<div class="InnDiv940 AdmFleft">	
			<div class="AdmFleft">
			<form name="frm_search" method="get" action="">
				<div class="PadRLB5 AdmFleft">
					<div class="HeadFont12 AdmFleft PadRLB5">
SubCategory : <input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}"/></div>
                    <div class="HeadFont12 AdmFleft PadRLB5">
Category :&nbsp;<select name="seacat_id" id="seacat_id" >
	 				<option value=""></option>							
					{foreach from=$CatList item=CatDet}
						<option value="{$CatDet.CatId}" {if $smarty.get.seacat_id eq $CatDet.CatId} selected="selected" {/if} >
						{$CatDet.CatName}
						</option>
 					{/foreach}	
					</select></div>
                    <div class="HeadFont12 AdmFleft PadRLB5">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>
					<div class="HeadFont12 AdmFleft PadRLB5">
						<input type="button" name="seabut" value="Show All" class="btn" 
						onClick="GoBackRedirct('subcategory_mgmt.php');" /></div>		
				</div>
			</form>	
			</div>

	<div class="clearspace"></div>
			<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
			<div style="width:160px; float:left; padding:8px 0;">
					{include file="AdminControlMenu_New.html" title="admin control list settings"}
				</div>
		<div class="clearspace"></div>
			</div>	
<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
		<input type="hidden" name="Seltype"/>	

		<div class="clearspace"></div>
		<!--	Admin Mgmt Permission Check	Start-->
			
		<!--	Admin Mgmt Permission Check	Start-->
		<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
			<thead><tr>
				<th class="table-header-cornerL"><b>S.No</b></th>
				<th class="table-header-repeat line-left"><a href="{$PageURL}sortby=cat_asc">&nbsp;</a><b>Category</b><a href="{$PageURL}sortby=cat_desc">&nbsp;</a></th>
				<th class="table-header-repeat line-left"><a href="{$PageURL}sortby=subcat_asc">&nbsp;</a><b>SubCategory</b><a href="{$PageURL}sortby=subcat_desc">&nbsp;</a></th>
								
 				<th class="table-header-repeat line-left"><b>Status</b></th>
				<th class="table-header-cornerR line-left"><b>Action</b></th>						
			</tr></thead>
			<tfoot><tr><td colspan="5" align="right">{$PageNavigation}</td></tr></tfoot>
			<tbody>
			{assign var=i value=$PageStartNum}
			{foreach from=$subCatList item=ConDet}
			<tr bgcolor="{if $i%2 neq '0'}#FFFFFF{else}#F3F3F3{/if}"> 
				<td width="10%"><input type="checkbox" name="ConId[]" id="ConId[]" value="{$ConDet.SCatId}"/>{$i++}.</td>
				<td width="30%">{$ConDet.CatName|stripslashes}</td>
				<td width="30%">{$ConDet.SubCatName|stripslashes}</td>
				      <td width="15%">					
					{if $ConDet.SCatStatus eq '1'}
					
					<span id="InActive_{$ConDet.SCatId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.SCatId}','SCateMgmt','Sub-Category(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.SCatId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.SCatId}','SCateMgmt','Sub-Category(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$ConDet.SCatId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.SCatId}','SCateMgmt','Sub-Category(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.SCatId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.SCatId}','SCateMgmt','Sub-Category(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
					</td>
					
				</td><td width="15%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="subcategory_mgmt.php?act_type=addnew&con_id={$ConDet.SCatId|md5_enc}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$ConDet.SCatId}');"></a>
				</div></td>
					
			</tr>	
			{foreachelse}
				<tr><td colspan="5" align="center" class="error_msg"><strong>No Results Found ..</strong></td></tr>					
			{/foreach}				
			</tbody>
		</table>			
		<div class="clearspace"></div>
	</form>
	</div>
</div>

{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var Seltype='SCateMgmt';
var MgmtName='Sub-Category(s)';

</script>
{/literal}