<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript">
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='txtboxerr';var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#CatId','Please Select Category ');
	
	if(FlagIns)
	{
		FlagIns=FormValidateFunction('Text','#SubCatName',' Please Enter SubCategory');
     }
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
		<form name="FormAddUpdate" method="post" action="" >
        <div class="body_head"><div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">

        {if $SucMessage neq '' || $ErrMessage neq '' }	
            <div class="AdmFleft SeaTotBox">							
                <div class="Msg_Div">
                {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                {elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
                </div>
            </div><div class="spacer"></div>
        {/if}							
            <div class="spacer"></div>
            <div class="FormDiv">
                <div class="FormDet1">Category</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
                    <select name="CatId" id="CatId">
                    <option value="">Select Category</option>
                    {foreach from=$CatList item = CatDet}
<option  value = "{$CatDet.CatId}" {if $Arr.CatId eq $CatDet.CatId} selected="selected" {/if} >{$CatDet.CatName}</option>
                    {/foreach}		
                    </select>
                    <br /><span id="CatIdMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">SubCategory</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">
<input type="text" name="SubCatName" id="SubCatName" value="{$Arr.SubCatName}" style="width:350px;" maxlength="100"/>	
							<br /><span id="SubCatNameMsg" class="error"></span>
                </div>
            </div>
            <div class="FormDiv">
                <div class="FormDet1">&nbsp;</div>
                <div class="FormDet2">&nbsp;</div>
                <div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="button" name="AltPage" value="Update SubCategory"class="btn" onclick="GoToFormValidate('1');" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="button" name="AltPage" value="Add SubCategory"class="btn" onclick="GoToFormValidate('2');" />
{/if}
&nbsp;<input type="button" name="goback" value="GoBack" class="btn" 
onClick="GoBack('subcategory_mgmt.php');" />
                </div>
            </div><div class="spacer"></div>
        </div></div></div></div>			
		</form>	

{literal}
<script type="text/javascript">
var FormName='FormAddUpdate';
var FormObj=document.forms[FormName];
var MgmtName='Category';
</script>
{/literal}