<script type="text/javascript" src="{$TinyMCEPath}ckeditor/ckeditor.js"></script>
<script src="PageStyleScript/SiteAdminValidateFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript">
var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	var FlagIns=true;ErrCss='txtboxerr';
	//FlagIns=FormValidateFunction('Text','#UserFName','Please enter testimonials by');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('TinyMce','TestimonialsDesc','Please enter description');
	}
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
} 
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="clearspace"></div>
<form name="FormAddUpdate" method="post" action=""><div class="body_head">			
	<div class="TutProWid2"><div style="padding-left:50px;"><div style="width:600px;">
	{if $SucMessage neq '' || $ErrMessage neq '' }	
		<div class="FormDiv">							
			<div class="Msg_Div">
			{if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
			{elseif $SucMessage neq '' }<div class="Msg_success">{$SucMessage}</div>{/if}
			</div>
		</div><div class="spacer"></div>
	{/if}							
		<!--<div class="FormDiv">
			<div class="FormDet1">Testimonials By </div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<input type="text" name="UserFName" id="UserFName"  class="txtbox1" value="{$Arr.UserFName}" style="width:350px;" maxlength="100"/>
	<br /><span id="UserFNameMsg" class="error"></span>
			</div>
		</div>-->
		<div class="FormDiv">
                <div class="FormDet1">Testimonials By</div>
                <div class="FormDet2">:</div>
                <div class="FormDet3">			
                <select  name="UserId" id="UserId" class="txtbox1" >
                    <option value="">Select User </option>
                    {foreach from=$UserList item=Det} {$Det.country_id}
<option value="{$Det.UserId}" {if $Arr.UserId eq $Det.UserId} selected="selected"{/if}>{$Det.UserName|stripslashes}</option>
                     {/foreach}
                </select>
                    <br /><span id="UserIdMsg" class="error"></span>
                </div>
            </div>
		<div class="clearspace"></div></div><div class="clearspace"></div></div>
		<div class="FormDiv">
			<div class="FormDet1" style="width:27%">Description </div>
			<div class="FormDet2">:</div>
			<div class="FormDet3">
<textarea name="TestimonialsDesc" id="TestimonialsDesc" class="ckeditor" rows="12" cols="40">{$Arr.TestimonialsDesc|stripslashes}</textarea>
			<br /><span id="TestimonialsDescMsg" class="error"></span> 	
			</div>
		</div>	
		<div class="FormDiv">
			<div class="FormDet1">&nbsp;</div>
			<div class="FormDet2">&nbsp;</div>
			<div class="FormDet3">
{if $smarty.get.con_id neq ''}
<input type="button" name="AltPage" value="Update {$PageButName}"class="btn" onclick="GoToFormValidate();" />
<input type="hidden" name="AdminAction" value="Update"class="btn" />
{else}
<input type="hidden" name="AdminAction" value="Add"class="btn" />
<input type="button" name="AltPage" value="Add {$PageButName}"class="btn" onclick="GoToFormValidate();" />
{/if}
&nbsp;<input type="button" name="goback" value="GoBack {$PageButName}" class="btn" onClick="GoBack('testimonials_mgmt.php');" />
			</div>
		</div>
					
	<div class="clearspace"></div>
</div></form>	
{literal}
<script type="text/javascript">
var FormName='FormAddUpdate';
var FormObj=document.forms[FormName];
var MgmtName='Content';
</script>
{/literal}