<link href="PageStyleScript/ui.css" rel="stylesheet"  />
<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
{literal}
<script type="text/javascript" src="PageStyleScript/ui.js"></script>
<script language="javascript">
jQuery(function() {
	jQuery('#joindate').datepicker({changeYear:true,changeMonth:true,dateFormat:'dd-MM-yy'}); 
});
</script>
{/literal}
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">			<form name="frm_search" method="get" action="">
			<div class="PadRLB5 AdmFleft">
				<div class="HeadFont12 AdmFleft PadRLB5">
				Testimonials By&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}" /></div>
				<div class="HeadFont12 AdmFleft PadRLB5">
					Show Only&nbsp;:&nbsp;
							<select name="showonly" style="width:130px;">
								<option value=""></option>
									<option {if $smarty.get.showonly eq '1'} selected="selected" {/if} value="1">ON </option>
									<option {if $smarty.get.showonly eq '0'} selected="selected" {/if} value="0">OFF </option>
								</select>
					</div>
					
				<div class="HeadFont12 AdmFleft PadRLB5">
					Testimonials Date&nbsp;:&nbsp;<input type="text" name="joindate" id="joindate" value="{$smarty.get.joindate|stripslashes}"/></div> <br /><br />
				<div class="HeadFont12 AdmFleft PadRLB5" style="padding-left:240px;">
					<input type="submit" name="seabut" value="Search" class="btn"/></div>	
				<div class="HeadFont12 AdmFleft PadRLB5">
					<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('testimonials_mgmt.php');" /></div>		
			</div>
		</form>		</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
<form name="frm_Video" method="post" action="">
	<input type="hidden" name="Action_Type" />
	<input type="hidden" name="ConSId"/>	
	<div class="clearspace"></div>
 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL">S.No</th>
			<th class="table-header-repeat line-left">Testimonials By</th>
			<th class="table-header-repeat line-left">Testimonials</th>  
			<th class="table-header-repeat line-left">Testimonials Date</th>
			<th class="table-header-repeat line-left">Status</th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="6" align="right">{$TesmPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$TestMonList item=ConDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if}>
		
				<td width="5%"><input type="checkbox" name="ConId[]" value="{$ConDet.TestimonialsId}" />{$i++}.</td>
				<td width="15%">{if $ConDet.UserFName neq ''}{$ConDet.UserFName|stripslashes}{else}Admin{/if}</td>
				<td width="42%">{$ConDet.TestimonialsDesc|stripslashes|html_entity_decode|truncate:60}</td>
				<td width="15%">{$ConDet.TestmonDate|date_format:"%d  %b  %Y"}</td> 
				<td width="10%">					
					{if $ConDet.TestimonialsStatus eq '1'}
					
					<span id="InActive_{$ConDet.TestimonialsId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.TestimonialsId}','TestimonialsMgmt','Testimonial(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.TestimonialsId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.TestimonialsId}','TestimonialsMgmt','Testimonial(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$ConDet.TestimonialsId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$ConDet.TestimonialsId}','TestimonialsMgmt','Testimonial(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$ConDet.TestimonialsId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$ConDet.TestimonialsId}','TestimonialsMgmt','Testimonial(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
				</td>
				<td width="13%">
				<div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="testimonials_mgmt.php?act_type=addnew&con_id={$ConDet.TestimonialsId|md5_enc}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$ConDet.TestimonialsId}');"></a>
					
					<div id="MyShow_{$ConDet.TestimonialsId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$ConDet.TestimonialsId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$ConDet.TestimonialsId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$ConDet.TestimonialsId}','MyShow','MyHide');"></a>
				</div>
					
				</div>							
				
				</td>						
			</tr>	
			<tr  id="ResIdDiv_{$ConDet.TestimonialsId}" style="display:none;" class="ViewDet" >
			<td colspan="6">
			<div class="HeadYBord14">Details of '{$ConDet.UserFName|stripslashes}' - Testimonials </div>
							<div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Testimonials By</div>
							<div class="CMDet2"> : &nbsp;{if $ConDet.UserFName neq ''}{$ConDet.UserFName|stripslashes}{else}Admin{/if}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Testimonials Date</div>
							<div class="CMDet2"> : &nbsp;{$ConDet.TestmonDate|date_format:"%d  %b  %Y"}</div>
						</div>
						<div class="clearspace"></div>
						<div class="CMDet">
						<div class="CMDet1">Approval Status </div>
						<div class="CMDet2"> : &nbsp;{if $ConDet.STAppSta eq 1}Approved{else}UnApproved{/if}</div></div>
						<div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Status</div>
							<div class="CMDet2">: &nbsp;{if $ConDet.TestimonialsStatus eq 1}ON{else}OFF{/if}</div>
						</div><div class="clearspace"></div>
						<div class="CMDet">
							<div class="CMDet1">Description </div>
							<div class="CMDet2"> : &nbsp;{$ConDet.TestimonialsDesc|stripslashes|html_entity_decode}</div>
						</div>	
						
			   </td>
			</tr>
		
		{foreachelse}
			<tr><td colspan="6" align="center" class="error_msg"><strong>No Testimonials</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>
</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_Video';
var FormObj=document.forms[FormName];
var MgmtName='Testimonial(s)';
var Seltype='TestimonialsMgmt';

function GoBackRedirct(RedirURL){
	window.location.href= RedirURL;
}
</script>
{/literal}