<script src="PageStyleScript/SiteAdminCommonFunction.js" type="text/javascript"></script>
<div id="page-heading"><h1>{$PageTitle}</h1></div>
<div class="body_head PadLR10">			
	<div class="InnDiv940 AdmFleft">	
		<div class="AdmFleft" style="width:960px;">	
		<form name="frm_search" method="get" action="">
					<div class="HeadFont12 AdmFleft PadRLB5">
					User Name&nbsp;:&nbsp;<input type="text" name="seaname" value="{$smarty.get.seaname|stripslashes}" /></div>
					<div class="HeadFont12 AdmFleft PadRLB5">
		Email&nbsp;:&nbsp;<input type="text" name="seamail" value="{$smarty.get.seamail|stripslashes}" /></div>
 					<div class="HeadFont12 AdmFleft PadRLB5">
		Phone Number&nbsp;:&nbsp;<input type="text" name="seaPhone" value="{$smarty.get.seaPhone|stripslashes}" /></div>
 					<div class="HeadFont12 AdmFleft PadRLB5" style="padding-left:50px;">
						<input type="submit" name="seabut" value="Search" class="btn"/></div>	
					<div class="HeadFont12 AdmFleft PadRLB5">
<input type="button" name="seabut" value="Show All" class="btn" onClick="GoBackRedirct('users_management.php');" /></div>
 		</form>		
	</div>
		<div class="AdmFleft" style="width:800px;"><div class="NewMsgDiv">	
		{if $SucMessage neq '' || $ErrMessage neq '' }	
			{if $ErrMessage neq '' }
				<div class="Msg_error">
					<div class="AdmFleft">{$ErrMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{elseif $SucMessage neq '' }
				<div class="Msg_success">
					<div class="AdmFleft">{$SucMessage}</div>
					<div class="AdmFRight"><a class="close-msg"><img src="images/close-button.png" alt="" /></a></div>
				</div>
			{/if}
			<div class="spacer"></div>
		{/if}
		</div></div>
		<div style="width:160px; float:left; padding:8px 0;">
			{include file="AdminControlMenu_New.html" title="admin control list settings"}
		</div>
		<div class="clearspace"></div>
	</div>
	<div class="clearspace"></div>
	<div id="Errmsgval"></div>
	<form name="frm_list" method="post" action="">
		<input type="hidden" name="Action_Type" />
		<input type="hidden" name="ConSId"/>	
		<div class="clearspace"></div>
		 	<table border="0" width="100%" cellpadding="0" cellspacing="0" id="product-table">
		<tr>
			<th class="table-header-cornerL line-left">S.No</th>			
			<th class="table-header-repeat line-left"> User Name</th>
 			<th class="table-header-repeat line-left"> EMail</th>
			<th class="table-header-repeat line-left">Join Date</th>
			<th class="table-header-repeat line-left">Phone Number</th>	
			<th class="table-header-repeat line-left"> Status</th>
			<th class="table-header-cornerR line-left">Actions</th>
		</tr>
		<tfoot><tr><td colspan="7" align="right">{$UserPage}</td></tr></tfoot>
		<tbody>
		{assign var=i value=$PageStartNum}
		{foreach from=$UserList item=TableDet}
		<tr {if $i%2 neq '0'} class="alternate-row"{/if} id="order_{$TableDet.UserId}">
				<td width="7%"><input type="checkbox" name="ConId[]" value="{$TableDet.UserId}" />{$i++}.</td>
				<td width="17%">{$TableDet.UserName|stripslashes}</td> 
				<td width="18%">{$TableDet.UserEMail|stripslashes}</td>
				<td width="15%">{$TableDet.UJoinDate|date_format:"%d  %b  %Y"}</td>
				<td width="15%">{$TableDet.UserPhone|stripslashes}</td>
				<td width="10%">{if $TableDet.UserSta eq 1}
					<span id="InActive_{$TableDet.UserId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.UserId}','BuyersMgmt','User(s)')">
						<img class="tik" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.UserId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.UserId}','BuyersMgmt','User(s)')">
						<img class="tik" src="images/off_btn.png" /></a>
					</span>
					{else}
					<span id="InActive_{$TableDet.UserId}" style="display:none;">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('OFF','{$TableDet.UserId}','BuyersMgmt','User(s)')">
						<img  border="0" src="images/on_btn.png" /></a>
					</span>
					<span id="Active_{$TableDet.UserId}">
						<a href="javascript:;" onClick="GoToJSONAjaxFunction('ON','{$TableDet.UserId}','BuyersMgmt','User(s)')">
						<img border="0" src="images/off_btn.png" /></a>
					</span>
					
					{/if}
					</td>
				<td width="13%"><div class="gallery options-width">
					<a title="Edit" class="icon-1 info-tooltip" href="users_management.php?act_type=addnew&con_id={$TableDet.UserId|md5_enc}"></a>
					<a title="Delete" class="icon-2 info-tooltip" href="javascript:;" onclick="AdminDeleteFunction('{$TableDet.UserId}');"></a>
					<div id="MyShow_{$TableDet.UserId}">
					<a title="Show" class="icon-3 info-tooltip" href="javascript:;"  onclick="GoToViewFunction('{$TableDet.UserId}','MyHide','MyShow');"></a>
				</div>					
				<div id="MyHide_{$TableDet.UserId}" style="display:none;">
					<a title="Hide" class="icon-3 info-tooltip" href="javascript:;" onclick="GoToHideFunction('{$TableDet.UserId}','MyShow','MyHide');"></a>
				</div>
				{if  $TableDet.AutoRenewalStatus eq 'Yes'}<a title="Send Renewal Alert" class="icon-1 info-tooltip"  href="admin_mail_manual.php?con_id={$TableDet.UserId|md5_enc}" ></a>{/if}
				</div></td>	</tr>
             	<tr id="ResIdDiv_{$TableDet.UserId}" style="display:none;" class="ViewDet" ><td colspan="9">
					<div class="HeadYBord14">Details of '{$TableDet.UserName|stripslashes}' - User</div>
					<div style="width:450px;float:left; padding-top:10px;" >							
						<div class="clearspace"></div> 
						<div class="CMDet">
							<div class="CMDet1">First Name</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserFName|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Last Name</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserLName|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">User Name</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserName|stripslashes}</div>
						</div>
						
						<div class="CMDet"> 	 	 	
							<div class="CMDet1">Email</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserEMail|stripslashes}</div>
						</div>	
						<div class="CMDet"> 	 	 	
							<div class="CMDet1">PayPal Email</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserPayPalMail|stripslashes}</div>
						</div> 
						<div class="CMDet">
							<div class="CMDet1">Phone Number</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserPhone|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Address</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserAdds|stripslashes}</div>
						</div>
						<div class="clearspace"></div> 
					</div>
					<div style="width:350px; float:left; padding-top:10px;">
						<div class="CMDet">
								<div class="CMDet1">City</div>
								<div class="CMDet2">:&nbsp;{$TableDet.UserCity|stripslashes}</div>
							</div>	
						<div class="CMDet">
								<div class="CMDet1">State/Province</div>
								<div class="CMDet2">:&nbsp;{$TableDet.state_name|stripslashes}</div>
							</div>	
						<div class="CMDet">
							<div class="CMDet1">Country</div>
							<div class="CMDet2">:&nbsp;{$TableDet.country_name|stripslashes}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Zip Code/Postal Code</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UserZip|stripslashes}</div>
						</div>
 						<div class="CMDet">
							<div class="CMDet1">Join Date</div>
							<div class="CMDet2">:&nbsp;{$TableDet.UJoinDate|date_format:"%d  %b  %Y"}</div>
						</div>	
						<div class="CMDet">
							<div class="CMDet1">Register IP</div>
							<div class="CMDet2">:&nbsp;{$TableDet.URegIP}</div>
						</div>
						<div class="CMDet">
							<div class="CMDet1">Status</div>
							<div class="CMDet2">:&nbsp;{if $TableDet.UserSta eq '1'}ON{else}OFF{/if}</div>
						</div>
						 		
					</div>
				</td></tr>
				
		{foreachelse}
			<tr><td colspan="7" align="center" class="error_msg"><strong>No Users Found ..</strong></td></tr>					
		{/foreach}						
		</tbody>
	</table>			
	<div class="clearspace"></div>

	</form>	
</div>
{literal}
<script type="text/javascript">
var FormName='frm_list';
var FormObj=document.forms[FormName];
var MgmtName='User(s)';
var Seltype='BuyersMgmt';

function GoBackRedirct(RedirURL){
	window.location.href= RedirURL;
}
</script>
{/literal}