.btn{
	background:url(../images/menu_bg.jpg) top left repeat-x;
	font: bold 11px Arial, Helvetica, sans-serif !important;
	color:#1e6a98; width:auto !important;
	padding:0 15px !important;
	letter-spacing: 1px !important;
	border:none !important;
	overflow: visible !important;
	height:32px !important;
}
.InnDiv940{width:980px;}

.Msg_Div{float:left; padding:2px 0 5px 0; width:788px;}.MsgDiv{padding:1px 0 1px 0; width:100%;}
.Msg_info, .Msg_success, .Msg_warning, .Msg_error{	border: 1px solid;padding:1px 10px 1px 50px !important;}
.succ_msgs{ line-height:25px !important; padding-top:15px !important; float:left;}
.Msg_info {color: #00529B;background: #BDE5F8 url('../images/info.png');}
.Msg_success {font:bold 12px Arial, Helvetica, sans-serif; color: #4F8A10;background: #DFF2BF url('../images/success.png');}
.Msg_warning {font:bold 12px Arial, Helvetica, sans-serif; color: #9F6000;background: #FEEFB3 url('../images/warning.png');}
.Msg_error {font:bold 12px Arial, Helvetica, sans-serif; color: #D8000C;background: #FFBABA  url('../images/error.png');}
.Msg_close{border:1px solid #00CC00; float:left;}
.Msg_close a{ line-height:35px !important;}

.txtbox1{font:normal 12px Verdana, Arial, Helvetica, sans-serif; color:#000000;border:2px solid #BFBFBF;}
.txtboxerr{font:normal 12px Verdana, Arial, Helvetica, sans-serif; color:#8F1404;border:2px solid #FF0000;}

.text_white{font:bold 12px Verdana, Arial, Helvetica, sans-serif;color:#000000;}



/** For Success and error Messages **/
.success{font:bold 12px Arial, Helvetica, sans-serif; color:#006600;}
.error{ font:bold 12px Arial, Helvetica, sans-serif; color:#EB340A; background:url(../images/validation_advice_bg.gif) no-repeat; padding-left:11px; display:none;width: 314px;}
.error_msg{font:bold 12px Arial, Helvetica, sans-serif; color:#EB340A;}
.error_element,.error_element:focus{ border:dotted 1px #EB340A; background:#FAEBE7;}
 
.TutProWid2{width:940px; float:left;margin:20px 0 10px 0;}
.FormDiv{
	width:100%; text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;color:#161616 !important;
	float:left;line-height:34px;
}
.FormDiv1{
	width:50% !important; text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;color:#161616 !important;
	float:left;line-height:34px; border:2px solid #00FF00;
}
.FormDiv2{
	width:50% !important; text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;color:#161616 !important;
	float:left;line-height:34px;
}
.clearxy {
	clear:both;height:0px; padding:0; margin:0;
} 
.height10 {
	height:8px;clear:both; margin:0px; padding:0px; line-height:0;
}	
.FormDet1{
	width:35%;float:left;
	text-align:right;
	font-size:12px;
	line-height:34px !important;
	font-weight:bold;
}
.FormDet1 span{
	padding:0px; margin:0px; color:#990000; text-align:right;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}
.FormDet2{
	width:5%;text-align:center; float:left;
	font-size:14px;
	line-height:20px;line-height:34px !important;
	font-weight:bold;
}
.FormDet3{
	width:55%; float:left;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}
.FormDet1_last{
	width:15%;float:left;
	text-align:right;
	font-size:12px;
	line-height:20px;
	font-weight:bold; border:2px solid #00CC00 !important;
}
.FormDet2_last{
	width:5%;text-align:center; float:left;
	font-size:14px;
	line-height:20px;line-height:34px !important;
	font-weight:bold;
}
.FormDet3_last{
	width:25%; float:left;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}
.FormDet3 input[type="text"],.FormDet3 input[type="password"],.FormDet3 textarea,.FormDet3 select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	width:90%;
	border:1px solid #ddd;
	background-color:#fafafa; padding:2px;margin:0px;
}
.FormDet3 textarea{
	height:100px !important;
}
.FormDet1{
	width:35%;float:left;
	text-align:right;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}