[id^="window-step_"],
#window-sub_step_3{
	width : 100%;
	height : 180px;
	position: relative;
	overflow : hidden;
}
.element{
	float: left; 
	text-align: center;
	width: 130px;
	font: bold 12px arial;
	padding: 4px;
	margin-bottom: 21px;
	display: block;
}
.element img {
	width: 118px;
}
.empty-element{
	width: 100%;
	text-align: center;
	font: bold 16px arial;
	line-height: 100%;
}
.element.active
 { background: #8298F1; }
.prevscroll,
.nextscroll
{
	width : 20px;
	height : 100%;
	position: absolute;
	top: 0;
}
.prevscroll{
	background : #efefef url(images/scroll-prev.png) center no-repeat;
	left:0;
}
.nextscroll{
	background : #efefef url(images/scroll-next.png) center center no-repeat;
	right: 0;
}
.win_scroll{
	position: absolute;
	top: 10%;
	left: 20px;
}

.preview_table{
	float : left;
}
[class$='-s-container'] {
	display:none;
}