 
{literal}
<script type="text/javascript" >
function GoToPasswordFormValidate()
{		
	ErrCss='box2box_CC_Contact'; BErrCss='box2box_CC_Contact';var FlagIns=true;	
	FlagIns=FormValidateFunction('Text','#UserPass','Please enter Current Password');
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#NewPassword','Please enter New Password');
	}
	
	if(FlagIns){		
		FlagIns=FormValidateFunction('Text','#RePassword','Please enter Confirm Password');
			}
	if(FlagIns){
		if(jQuery('#RePassword').val()!=jQuery('#NewPassword').val()){
			jQuery('#RePasswordMsg').show();
			jQuery('#RePasswordMsg').html('New password and confirm password must be same');
			jQuery('#RePassword').attr('class','componand1');
			jQuery('#RePassword').focus();return false;
		}
	}
	if(FlagIns)
	{	
		document.forms[FormName].submit();
	}
	else{	return false;	}
}
</script>
{/literal}
<div class="Content">
				<div class="connetentin">
					  <div class="common_titlesm">
						<div class="common_titles">
							<div class="title_lft"></div>
							<div class="title_mid">Change Password</div>
						</div>
					</div>
					  <div class="clearxy height10"></div>
					  <div class="productmain">
						  <div class="product">
							<div class="configurator_main">
                            
                            	<div class="dash_menuss">
									 <!-- ****************** MENUCONTENT START ************************** -->
									 <!-- ******************** MENU DASHBOARD START *********************** -->
					  <div id="menu" >
					<div id="icons">
			   <div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; 
		font-weight:bold; font-family:Arial, Helvetica, sans-serif;
		text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;">Dash Board <img src="images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
			</div>
					  </div>
	
				  {include file=$IncludeTpl1}	
				</div>
				<div class="main_dash">		
				<div class="dash_con_r">
					{if $ErrorMessages || $SuccessMessages}
					 <div id="ErrMsgDiv" style="width:300px; margin:0 auto;">
							{if $ErrorMessages neq ''}
								<div class="notification hideit failure" style="width:300px;"><p>{$ErrorMessages}</p></div>
							{elseif $SuccessMessages neq ''}
								<div class="notification hideit success" style="width:300px;"><p>{$SuccessMessages}</p></div>    
						{/if}</div>
						{/if}
                    <form method="post" name="post_form" class="form"> 
						<ul>
						   <div class="clearxy height10"></div>
							   <li>
									<p>Current Password <em> * </em></p>
                              		<input name="UserPass" id="UserPass" type="password"/>
							 		<br /><span id="UserPassMsg" style="padding-left:170px;" class="error"></span>
								</li><div class="clearxy"></div>
								<li>
									<p>New Password <em> * </em></p>
									  <input type="password" name="NewPassword" id="NewPassword"/>
									<br/><span id="NewPasswordMsg" style="padding-left:170px;" class="error"></span> 
								</li><div class="clearxy"></div>
								<li>
									<p>Confirm Password <em> * </em></p>
									<input type="password" name="RePassword" id="RePassword"/>
									<br/><span id="RePasswordMsg" style="padding-left:170px;" class="error"></span> 
								</li>
							 <div class="clearxy height10"></div>
							<div class="main_in1_CC_dash1">
							   <div class="main_in1_CC_dash_in">  
  							<input name="AltPassDet" type="hidden" class="btn1s_sub" value="Save" />				
				<input name="AltPassDet" type="submit" class="btn1box" value="Save" onclick="return GoToPasswordFormValidate();"/> 
								</div> 
								<div class="clearxy"></div>
							</div>
						</ul>
					</form>
				</div>
			</div>
			</div>
			<div class="productbtm"></div>
  </div>
	  </div>
	  <div class="clearxy"></div>
</div>
</div>
  <script type="text/javascript">
var FormName='post_form';
var FormObj=document.forms[FormName];
</script>

