 
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">Create a Quotation</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<div class="configurator_main">
					<div class="instut">
						<p>Select below any one of the option to Create a Quotation:</p>
					</div>
					<div class="clearxy"></div>
					<div class="commontab" onClick="location.href='{$SiteMainPath}profiletype.html?prof_id=1'">
						<div class="tab_lft"></div>
						<div class="tab_mid">Door Profile with Glass</div>
						<div class="tab_rgt"></div>
					</div>
					<div class="clearxy"></div>
					<div class="commontab" onClick="location.href='{$SiteMainPath}profiletype.html?prof_id=2'">
						<div class="tab_lft"></div>
						<div class="tab_mid">Door Profile without Glass</div>
						<div class="tab_rgt"></div>
					</div>
					<div class="clearxy"></div>
					<!--<div class="commontab" onClick="location.href='{$SiteMainPath}profiletype.html?prof_id=3'">
						<div class="tab_lft"></div>
						<div class="tab_mid">Frame</div>
						<div class="tab_rgt"></div>
					</div>
					<div class="clearxy"></div>-->
					<div class="commontab" onClick="location.href='{$SiteMainPath}glass.html?prof_id=4'">
						<div class="tab_lft"></div>
						<div class="tab_mid">Glass Only</div>
						<div class="tab_rgt"></div>
					</div>
				</div>
				<div class="productbtm"></div>
	  </div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>