 <script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"> </script> 
<script type="text/javascript">
	var address = "{$GMapAddress}"; 
</script>
{literal} 
<script type="text/javascript">  
function GoEditVaildate(){	
	ErrCss='form'; BErrCss='form'; var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#FConName','Please enter Name'); 
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#UConMail','Please enter Email');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('EMail','#UConMail','Please enter a valid Email ');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#Phone','Please enter Phone number');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#Address','Please enter Address ');
	} 
	if(FlagIns)
	{	
		if(jQuery('#EnqCmt').val()==''){	
				jQuery('#EnqCmtMsg').show();
				jQuery('#EnqCmtMsg').html('Please enter Comments');
				jQuery('#EnqCmt').attr('class','box2box_area_CC_Contact');
				jQuery('#EnqCmt').focus();
				return false;
			}
	} 
	if(FlagIns){	
 		document.forms[FormName1].submit();
	}
} 
</script> 
<script type="text/javascript"> 
jQuery(document).ready(function(){ 
	GoToContactLoad()
});
function GoToContactLoad()
{
geocoder = new google.maps.Geocoder();
			var latlng =  new google.maps.LatLng(48.7783, 9.1807);
			var myOptions = {
			zoom: 13,
			center: latlng,
			mapTypeId: google.maps.MapTypeId.ROADMAP,
			tilt: 45
			}
			contaddress1('{/literal}{$GMapAddress}{literal}');
			map = new google.maps.Map(document.getElementById("Contact_map"), myOptions);
	
}
function contaddress1(address){//alert(address);
	geocoder.geocode( { 'address': '{/literal}{$GMapAddress}{literal}'}, function(results, status)
	{
		if (status == google.maps.GeocoderStatus.OK)
		{
			map.setCenter(results[0].geometry.location);
			var marker = new google.maps.Marker({
				map: map,  
				position: results[0].geometry.location
			});
		
		}
		else{
           
			alert("Geocode was not successful for the following reason: " + status);
		}
	});
	}	


</script> 
{/literal}  
<div class="Content">
            <div class="connetentin">
			<div class="common_titlesm">
				<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$data[7]}</div>
 				</div>
				</div>
 			 <div class="form_com">	 
			    <form method="post" class="form" name="post_form1">	
				<ul>
				   <div class="ma_cform">
                   <div class="clearxy height10"></div>
						{if $ErrorMessages || $SuccessMessages}
							<div id="ErrMsgDiv">
							{if $ErrorMessages neq ''}
								<div class="notification hideit failure" style="width:350px;">{$ErrorMessages}</div>
							{elseif $SuccessMessages neq ''}
								<div class="notification hideit success" style="width:350px;">{$SuccessMessages}</div>    
							{/if}</div>
						{/if}  
                   <div class="clearxy height10"></div>
					<div class="head_in">{$data[0]} </div>
					<div class="contct_sep_con borderright">
						<li>
							<p>{$data[1]} <em> * </em></p>
							<input name="FConName" type="text" id="FConName" value="{$Arr.FConName}" />
							<br /><span id="FConNameMsg" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
							<p>{$data[2]} <em> * </em></p>
							<input name="UConMail" type="text" id="UConMail" value="{$Arr.UConMail}"/>
									<br /><span id="UConMailMsg" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
							<p>{$data[3]}  <em> * </em></p>
							<input name="Phone" type="text" value="{$Arr.Phone}" id="Phone" onkeypress="return AllowOnlyNumbers(event);"/>
										<br /><span id="PhoneMsg" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
							<p>{$data[4]}  <em> * </em></p>
							<input name="Address" type="text" id="Address" value="{$Arr.Address}" />
							<br /><span id="AddressMsg" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
							<p>{$data[5]}  <em> * </em></p><div class="clearxy height10"></div>
							<textarea cols="36" rows="10" name="EnqCmt" id="EnqCmt" style="width:270px;">{$Arr.EnqCmt}</textarea>
							<br /><span id="EnqCmtMsg" class="error"></span>
						</li><div class="clearxy"></div>
					</div>
				 <div class="contct_sep_con1">
					<div class="map">
						<a href="http://maps.google.com/?ie=UTF8&amp;hl=us&amp;q={$GMapAddress}" target="_blank">
						<div id="google_map"></div> <div id="map_canvas"></div>
						<div id="Contact_map" style="width: 350px; height:294px"></div></a>
					</div>
					</div>
					 <div class="clearxy height10"></div>
					<div class="clearxy"></div>
					<div class="main_in1_CC11"> 
 							<input name="ContactUs" type="hidden" class="btn1box" value="Send"/>
							<input name="ContactUs" type="button" class="btn1box" value="{$data[6]} " onclick="GoEditVaildate();"/>
						<div class="clearxy"></div>
					</div>
					
					</div>
				</ul>
				</form>
			</div>
	
		  		
			</div>
            <div class="clearxy"></div>
       </div>

<script type="text/javascript">
	var FormName1='post_form1';
	var FormObj=document.forms[FormName1];
</script>