<!-- ****************** MENUCONTENT START ************************** -->
<div id="descriptionProjet">
	<div id="contentDescriptionProjet">
		<div class="Dash_midIN_mid_inner">
			<div class="events">
				<ul>
					<li><a href="{$SiteMainPath}myprofile.html" {$Profile}>My Profile </a></li>
					<li><a href="{$SiteMainPath}editprofile.html" {$Edit}>Edit Profile </a></li>
					<li><a href="{$SiteMainPath}changepassword.html" {$Change}>Change Password </a></li>
					<li><a href="{$SiteMainPath}shipping_info.html" {$Ship}>Shipping Information</a></li>
					<li><a href="{$SiteMainPath}billing_info.html" {$Bill}>Billing Information </a></li>
					<li><a href="{$SiteMainPath}quotes.html" {$Quote}>Quotes </a></li>
					<li><a href="{$SiteMainPath}orderhistory.html" {$Order}>Order History</a></li>
					<li><a href="{$SiteMainPath}payhistory.html" {$Payment}>Payment History</a></li>
					<li><a href="{$SiteMainPath}logout.html">Log Out </a></li>
				</ul>
		  </div>
		</div>
	</div>
</div>
	  <!-- ******************** MENU DASHBOARD END *********************** -->