<script type="text/javascript"> 
var Profile='{$Arr}';
</script>   
{literal}
<script type="text/javascript">  
jQuery(document).ready(function(){
	if(Profile!=''){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
	}
});  
function GoToJSONAjaxFunction(){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
}   
function ShowErrortoSelect(){   
 	jQuery('#errormsg').show(); 
} 
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<form action="" name="post_form1" method="post">
				 <div id="sub3">
					<div class="configurator_main">
					<div class="instut"><p>Select Glass Direction here...</p></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1">
						<input type="radio" name="GlassDirection" value="Vertical" class="radio_class" {if $Arr.GlassDirection eq 'Vertical'}checked="checked"{elseif $Arr.GlassDirection eq ''}checked="checked"{/if}>
 						</div>
						</div>
						<div class="forca">
						<label for="Profile Type">Vertical</label>
							<div class="types">
								<img src="images/ver_glass.png" alt="Finish Type">
							</div>
						</div>
					</div>	
					 <div class="clearxy height10"></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1">
						<input type="radio" name="GlassDirection" value="Horizontal" class="radio_class" {if $Arr.GlassDirection eq 'Horizontal'}checked="checked"{/if}>
 						</div>
						</div>
						<div class="forca">
						<label for="Profile Type">Horizontal</label>
							<div class="types">
								<img src="images/hori_glass.png" alt="Finish Type">
							</div>
						</div>
					</div>
					 <div class="clearxy height10"></div>
					<div class="button_next11"> 
				<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}glass.html');"/>
				<input name="GDirection" type="submit" class="button_next1ab" value="Next"/>
					</div>
				</div>
				</div> 
				</form>
				<div class="productbtm"></div>
	  </div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>