 <script type="text/javascript" src="{$SiteHttpPath}js/state.js"></script> 
{literal}
<script type="text/javascript">

var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='form'; BErrCss='form'; var FlagIns=true;
	 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UBillUName','Please enter First Name');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UBillPhone','Please enter Phone Number');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UBillEmail','Please enter Email');
	}
	
	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UBillEmail','Please enter Valid Email');
	} 
 	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UBillAdds','Please enter Address ');
	} 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UBillCity','Please enter City');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UBillCountry','Please select  Country');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UBillState','Please select State');
	}
	if(FlagIns){	ErrCss='form'; BErrCss='form';
		FlagIns=FormValidateFunction('Text','#UBillZip','Please enter Zip/Postal Code');
	}  
	if(FlagIns){
		document.forms[FormName].submit();
	}
	else{	return false;	}
} 
</script>
{/literal} 
<div class="Content">
		<div class="connetentin">
			  <div class="common_titlesm">
				<div class="common_titles">
					<div class="title_lft"></div>
					<div class="title_mid">{$PageTitle}</div>
				</div>
			</div>
			  <div class="clearxy height10"></div>
			  <div class="productmain">
				  <div class="product">
					<div class="configurator_main">
					<div class="dash_menuss"> 
			  <div id="menu" >
			<div id="icons">
	   <div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; font-weight:bold; font-family:Arial, Helvetica, sans-serif;text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;">Dash Board <img src="images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
	</div>
			  </div>

		   {include file=$IncludeTpl1}	
			</div>
				<div class="main_dash">		
				<div class="dash_con_r">
			{if $ErrMessage || $SuccessMessages}
			 <div id="ErrMsgDiv" style="width:350px; margin:0 auto;">
					{if $ErrMessage neq ''}
						<div class="notification hideit failure" style="width:350px;"><p>{$ErrMessage}</p></div>
					{elseif $SuccessMessages neq ''}
						<div class="notification hideit success" style="width:350px;"><p>{$SuccessMessages}</p></div>    
				{/if}</div>
			<div class="clearxy height10"></div>{/if}
                   <form method="post" name="post_form" class="form"> 
					<ul>
					<div class="clearxy height10"></div> 
					<li>
					<p>Name <em> * </em></p>
 				<input type="text" name="UBillUName" id="UBillUName" value="{$Arr.UBillUName|stripslashes}">
                <br /><span id="UBillUNameMsg" style="padding-left:170px;" class="error"></span>  
					</li><div class="clearxy"></div>
					<li>
					<p>Phone No <em> * </em></p>
 		<input type="text" name="UBillPhone" id="UBillPhone" value="{$Arr.UBillPhone|stripslashes}">
                <br /><span id="UBillPhoneMsg" style="padding-left:170px;" class="error"></span> 
					</li>
					<div class="clearxy"></div>
					<li>
					<p>Email <em> * </em></p>
 			<input type="text" name="UBillEmail" id="UBillEmail" value="{$Arr.UBillEmail|stripslashes}">
                <br /><span id="UBillEmailMsg" style="padding-left:170px;" class="error"></span>  
					</li><div class="clearxy"></div>  
					<li>
					<p>Address <em> * </em></p>
 				<input type="text" name="UBillAdds" id="UBillAdds" value="{$Arr.UBillAdds|stripslashes}">
                <br /><span id="UBillAddsMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>City <em> * </em></p>
		<input type="text" name="UBillCity" id="UBillCity" value="{$Arr.UBillCity|stripslashes}">
                <br /><span id="UBillCityMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>Country <em>*</em></p>
				<select name="UBillCountry" id="UBillCountry" class="Seltop" onChange="GoToPrintJSONAjaxDetails('State',this.value,'UBillState');">
					<option value="" >Select Country</option>
					{foreach from=$StateList item=DataDet}  
					<option {if $Arr.UBillCountry eq $DataDet.country_id or ($DataDet.country_id eq '219' && $Arr.UBillCountry eq '')} selected="selected" {/if} value="{$DataDet.country_id}">  
						{$DataDet.country_name|stripslashes}  
					</option>
					{/foreach} 
				</select>
                <br /><span id="UBillCountryMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>State <em>*</em></p> 
					<select name="UBillState" id="UBillState" class="Seltop" >
						<option value="">Select State</option>
					</select>
                	<br /><span id="UBillStateMsg" style="padding-left:170px;" class="error"></span>
					</li>
					<div class="clearxy"></div>
					<li>
					<p>Zip <em> * </em></p> 
 				<input name="UBillZip" id="UBillZip" type="text" value="{$Arr.UBillZip|stripslashes}" />
					<br /><span id="UBillZipMsg" style="padding-left:170px;" class="error"></span>
					</li>
					<div class="clearxy height10"></div>
					<div class="main_in1_CC_dash1"> 
 					<div class="main_in1_CC_dash_in"> 
			<input name="ShipInfo" type="hidden" class="btn1box" value="Update" />
			<input name="ShipInfo" type="submit" class="btn1box" value="Update" onclick="return GoToFormValidate();"/>	</div>
					<div class="clearxy"></div>
					</div>
					
					</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="productbtm"></div>
</div>
  </div>
  <div class="clearxy"></div>
</div>
</div>

 <script type="text/javascript">
var FormName='AddUpdate';
var FormObj=document.forms[FormName];
</script>
<script type="text/javascript">	
{if $Arr.UBillCountry neq ''}
	GoToPrintJSONAjaxDetails('State','{$Arr.UBillCountry}','UBillState','{$Arr.UBillState}');
{else}
	GoToPrintJSONAjaxDetails('State','219','UBillState','{$Arr.UBillState}');
{/if} 
</script>