 <script type="text/javascript" src="{$SiteHttpPath}js/state.js"></script> 
{literal}
<script type="text/javascript">

var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='form'; BErrCss='form'; var FlagIns=true;
	 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserFName','Please enter First Name');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserLName','Please enter Last Name');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserName','Please enter User Name');
	} 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserEMail','Please enter Email');
	}
	
	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UserEMail','Please enter Valid Email');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserPayPalMail','Please enter PayPal Email');
	}
	
	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UserPayPalMail','Please enter Valid PayPal Email');
	}
 	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserAdds','Please enter Address ');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserPhone','Please enter Phone Number');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserCity','Please enter City');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UserCountry','Please select  Country');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UserState','Please select State');
	}
	if(FlagIns){	ErrCss='form'; BErrCss='form';
		FlagIns=FormValidateFunction('Text','#UserZip','Please enter Zip/Postal Code');
	}  
	if(FlagIns){
		document.forms[FormName].submit();
	}
	else{	return false;	}
} 
</script>
{/literal} 
<div class="Content">
		<div class="connetentin">
			  <div class="common_titlesm">
				<div class="common_titles">
					<div class="title_lft"></div>
					<div class="title_mid">Edit Profile</div>
				</div>
			</div>
			  <div class="clearxy height10"></div>
			  <div class="productmain">
				  <div class="product">
					<div class="configurator_main">
					<div class="dash_menuss"> 
			  <div id="menu" >
			<div id="icons">
	   <div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; 
font-weight:bold; font-family:Arial, Helvetica, sans-serif;
text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;">Dash Board <img src="images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
	</div>
			  </div>

		   {include file=$IncludeTpl1}	
			</div>
				<div class="main_dash">		
				<div class="dash_con_r">
			{if $ErrMessage || $SuccessMessages}
			 <div id="ErrMsgDiv" style="width:350px; margin:0 auto;">
					{if $ErrMessage neq ''}
						<div class="notification hideit failure" style="width:350px;"><p>{$ErrMessage}</p></div>
					{elseif $SuccessMessages neq ''}
						<div class="notification hideit success" style="width:350px;"><p>{$SuccessMessages}</p></div>    
				{/if}</div>
			<div class="clearxy height10"></div>{/if}
                   <form method="post" name="post_form" class="form"> 
					<ul>
					<div class="clearxy height10"></div>
					<li>
					<p>First Name <em> * </em></p> 
					<input name="UserFName" id="UserFName" value="{$Arr.UserFName|stripslashes}" type="text" /> 
					<br /><span id="UserFNameMsg" style="padding-left:170px;" class="error"></span> 
					</li><div class="clearxy"></div>
					<li>
					<p>Last Name <em> * </em></p> 
			<input type="text" name="UserLName" id="UserLName" value="{$Arr.UserLName|stripslashes}">
                <br /><span id="UserLNameMsg" style="padding-left:170px;" class="error"></span> 
					</li><div class="clearxy"></div>
					<li>
					<p>Username <em> * </em></p>
 				<input type="text" name="UserName" id="UserName" value="{$Arr.UserName|stripslashes}">
                <br /><span id="UserNameMsg" style="padding-left:170px;" class="error"></span>  
					</li><div class="clearxy"></div>
					<li>
					<p>Email <em> * </em></p>
 			<input type="text" name="UserEMail" id="UserEMail" value="{$Arr.UserEMail|stripslashes}">
                <br /><span id="UserEMailMsg" style="padding-left:170px;" class="error"></span>  
					</li><div class="clearxy"></div>
					<li>
					<p>PayPal Mail <em> * </em></p>
		<input type="text" name="UserPayPalMail" id="UserPayPalMail" value="{$Arr.UserPayPalMail|stripslashes}" >
				<br /><span id="UserPayPalMailMsg" style="padding-left:170px;" class="error"></span> 
					</li><div class="clearxy"></div>
					
					<li>
					<p>Address <em> * </em></p>
 				<input type="text" name="UserAdds" id="UserAdds" value="{$Arr.UserAdds|stripslashes}">
                <br /><span id="UserAddsMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>Phone No <em> * </em></p>
 		<input type="text" name="UserPhone" id="UserPhone" value="{$Arr.UserPhone|stripslashes}" onkeypress="return AllowOnlyNumbers(event);">
                <br /><span id="UserPhoneMsg" style="padding-left:170px;" class="error"></span> 
					</li>
					<div class="clearxy"></div>
					<li>
					<p>City <em> * </em></p>
		<input type="text" name="UserCity" id="UserCity" value="{$Arr.UserCity|stripslashes}">
                <br /><span id="UserCityMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>Country <em>*</em></p>
				<select name="UserCountry" id="UserCountry" class="Seltop" onChange="GoToPrintJSONAjaxDetails('State',this.value,'UserState');">
					<option value="" >Select Country</option>
					{foreach from=$StateList item=DataDet}  
					<option {if $Arr.UserCountry eq $DataDet.country_id or ($DataDet.country_id eq '219' && $Arr.UserCountry eq '')} selected="selected" {/if} value="{$DataDet.country_id}">  
						{$DataDet.country_name|stripslashes}  
					</option>
					{/foreach} 
				</select>
                <br /><span id="UserCountryMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>State <em>*</em></p> 
					<select name="UserState" id="UserState" class="Seltop" >
						<option value="">Select State</option>
					</select>
                	<br /><span id="UserStateMsg" style="padding-left:170px;" class="error"></span>
					</li>
					<div class="clearxy"></div>
					<li>
					<p>Zip <em> * </em></p> 
 				<input name="UserZip" id="UserZip" type="text" value="{$Arr.UserZip|stripslashes}" onkeypress="return AllowOnlyNumbers(event);" />
					<br /><span id="UserZipMsg" style="padding-left:170px;" class="error"></span>
					</li>
					<div class="clearxy height10"></div>
					<div class="main_in1_CC_dash1"> 
 					<div class="main_in1_CC_dash_in"> 
			<input name="Register" type="hidden" class="btn1box" value="Update" />
			<input name="Register" type="submit" class="btn1box" value="Update" onclick="return GoToFormValidate();"/>	</div>
					<div class="clearxy"></div>
					</div>
					
					</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="productbtm"></div>
</div>
  </div>
  <div class="clearxy"></div>
</div>
</div>

 <script type="text/javascript">
var FormName='AddUpdate';
var FormObj=document.forms[FormName];
</script>
<script type="text/javascript">	
{if $Arr.UserCountry neq ''}
	GoToPrintJSONAjaxDetails('State','{$Arr.UserCountry}','UserState','{$Arr.UserState}');
{else}
	GoToPrintJSONAjaxDetails('State','219','UserState','{$Arr.UserState}');
{/if} 
</script>