 <script type="text/javascript" src="{$SiteHttpPath}js/state.js"></script> 
{literal}
<script type="text/javascript">

var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='form'; BErrCss='form'; var FlagIns=true;
	 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UShipUName','Please enter First Name');
	}  
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UShipPhone','Please enter Phone Number');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UShipEMail','Please enter Email');
	}
	
	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UShipEMail','Please enter Valid Email');
	} 
 	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UShipAdds','Please enter Address ');
	} 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UShipCity','Please enter City');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UShipCountry','Please select  Country');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UShipState','Please select State');
	}
	if(FlagIns){	ErrCss='form'; BErrCss='form';
		FlagIns=FormValidateFunction('Text','#UShipZip','Please enter Zip/Postal Code');
	}  
	if(FlagIns){
		document.forms[FormName].submit();
	}
	else{	return false;	}
} 
</script>
{/literal} 
<div class="Content">
		<div class="connetentin">
			  <div class="common_titlesm">
				<div class="common_titles">
					<div class="title_lft"></div>
					<div class="title_mid">{$PageTitle}</div>
				</div>
			</div>
			  <div class="clearxy height10"></div>
			  <div class="productmain">
				  <div class="product">
					<div class="configurator_main">
					<div class="dash_menuss"> 
			  <div id="menu" >
			<div id="icons">
	   <div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; font-weight:bold; font-family:Arial, Helvetica, sans-serif;text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;">Dash Board <img src="images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
	</div>
			  </div>

		   {include file=$IncludeTpl1}	
			</div>
				<div class="main_dash">		
				<div class="dash_con_r">
			{if $ErrMessage || $SuccessMessages}
			 <div id="ErrMsgDiv" style="width:350px; margin:0 auto;">
					{if $ErrMessage neq ''}
						<div class="notification hideit failure" style="width:350px;"><p>{$ErrMessage}</p></div>
					{elseif $SuccessMessages neq ''}
						<div class="notification hideit success" style="width:350px;"><p>{$SuccessMessages}</p></div>    
				{/if}</div>
			<div class="clearxy height10"></div>{/if}
                   <form method="post" name="post_form" class="form"> 
					<ul>
					<div class="clearxy height10"></div> 
					<li>
					<p>Name <em> * </em></p>
 				<input type="text" name="UShipUName" id="UShipUName" value="{$Arr.UShipUName|stripslashes}">
                <br /><span id="UShipUNameMsg" style="padding-left:170px;" class="error"></span>  
					</li><div class="clearxy"></div>
					<li>
					<p>Phone No <em> * </em></p>
 		<input type="text" name="UShipPhone" id="UShipPhone" value="{$Arr.UShipPhone|stripslashes}" onkeypress="return AllowOnlyNumbers(event);">
                <br /><span id="UShipPhoneMsg" style="padding-left:170px;" class="error"></span> 
					</li>
					<div class="clearxy"></div>
					<li>
					<p>Email <em> * </em></p>
 			<input type="text" name="UShipEMail" id="UShipEMail" value="{$Arr.UShipEMail|stripslashes}">
                <br /><span id="UShipEMailMsg" style="padding-left:170px;" class="error"></span>  
					</li><div class="clearxy"></div>  
					<li>
					<p>Address <em> * </em></p>
 				<input type="text" name="UShipAdds" id="UShipAdds" value="{$Arr.UShipAdds|stripslashes}">
                <br /><span id="UShipAddsMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>City <em> * </em></p>
		<input type="text" name="UShipCity" id="UShipCity" value="{$Arr.UShipCity|stripslashes}">
                <br /><span id="UShipCityMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>Country <em>*</em></p>
				<select name="UShipCountry" id="UShipCountry" class="Seltop" onChange="GoToPrintJSONAjaxDetails('State',this.value,'UShipState');">
					<option value="" >Select Country</option>
					{foreach from=$StateList item=DataDet}  
					<option {if $Arr.UShipCountry eq $DataDet.country_id or ($DataDet.country_id eq '219' && $Arr.UShipCountry eq '')} selected="selected" {/if} value="{$DataDet.country_id}">  
						{$DataDet.country_name|stripslashes}  
					</option>
					{/foreach} 
				</select>
                <br /><span id="UShipCountryMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>State <em>*</em></p> 
					<select name="UShipState" id="UShipState" class="Seltop" >
						<option value="">Select State</option>
					</select>
                	<br /><span id="UShipStateMsg" style="padding-left:170px;" class="error"></span>
					</li>
					<div class="clearxy"></div>
					<li>
					<p>Zip <em> * </em></p> 
 				<input name="UShipZip" id="UShipZip" type="text" value="{$Arr.UShipZip|stripslashes}" onkeypress="return AllowOnlyNumbers(event);" />
					<br /><span id="UShipZipMsg" style="padding-left:170px;" class="error"></span>
					</li>
					<div class="clearxy height10"></div>
					<div class="main_in1_CC_dash1"> 
 					<div class="main_in1_CC_dash_in"> 
			<input name="ShipInfo" type="hidden" class="btn1box" value="Update" />
			<input name="ShipInfo" type="submit" class="btn1box" value="Update" onclick="return GoToFormValidate();"/>	</div>
					<div class="clearxy"></div>
					</div>
					
					</ul>
					</form>
				</div>
			</div>
		</div>
		<div class="productbtm"></div>
</div>
  </div>
  <div class="clearxy"></div>
</div>
</div>

 <script type="text/javascript">
var FormName='AddUpdate';
var FormObj=document.forms[FormName];
</script>
<script type="text/javascript">	
{if $Arr.UShipCountry neq ''}
	GoToPrintJSONAjaxDetails('State','{$Arr.UShipCountry}','UShipState','{$Arr.UShipState}');
{else}
	GoToPrintJSONAjaxDetails('State','219','UShipState','{$Arr.UShipState}');
{/if} 
</script>