<script type="text/javascript"> 
var Profile='{$Arr}';
</script> 
{literal}
<script type="text/javascript"> 
jQuery(document).ready(function(){
	if(Profile!=''){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
	}
}); 
function GoToJSONAjaxFunction(){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
}   
function ShowErrortoSelect(){   
 	jQuery('#errormsg').show(); 
} 
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<form action="" name="post_form1" method="post">
				 <div id="sub1">
					<div class="configurator_main">
					<div class="instut"><p>Select Finish Type here...</p></div>
					{foreach from=$FinList item=PDet}
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1"> 
						<input type="radio" name="FinishId" id="FinishId" class="radio_class" value="{$PDet.FinishId}" onClick="GoToJSONAjaxFunction()" {if $Arr.FinishId eq $PDet.FinishId}checked="checked"{/if}>   
 						</div>
						</div>
						<div class="forca">
						<div class="forca_left">{$PDet.FinishType|stripslashes}</div>
						<div class="forca_right"><img border='0' src="{$FinishImageDisp}{$PDet.FinishImage}"/></div>
						<div class="clearxy"></div></div>
					</div>	
					 <div class="clearxy height10"></div>
					 {/foreach}  
			 		<div id="www">
						<div class="button_next11"> 
			<div id="errormsg" style="display:none; float:right;"><b style="color:#FF0000;">Please select Finish Type</b></div>
			<div class="clearxy height10"></div>
 <input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}profiletype.html');"/> 
		{if $smarty.session.ProfileId eq 2}
		<input name="GDirection" type="button" class="button_next1ab" value="Select Hinge Holes" onclick="ShowErrortoSelect();"/>
		{else}
		<input name="" type="button" class="button_next1ab" value="Select Glass" onclick="ShowErrortoSelect();"/>
		{/if}
						</div>
					</div>  
					<div id="cont" style="display:none">
						<div class="button_next11">
	 <input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}profiletype.html');"/>
		{if $smarty.session.ProfileId eq 2}
			<input name="GDirection" type="submit" class="button_next1ab" value="Next"/>
		{else}
			<input name="FinType" type="submit" class="button_next1ab" value="Next"/>
		{/if}
						</div>
					</div> 
				</div>
				</div> 
				</form>
				<div class="productbtm"></div>
	  			</div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>