 
{literal}
<script type="text/javascript">
////// Login Page////
function GoToForgetValidate()
{	
	ErrCss='box2box_CC_Contact'; BErrCss='box2box_CC_Contact';var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#UserEMail','Please enter Email Address');
	if(FlagIns){	
		FlagIns=FormValidateFunction('EMail','#UserEMail','Please enter valid Email Address');
	} 
	if(FlagIns){	
		document.forms[FormName10].submit();
	}
	else{	return false;	}
}
</script>
{/literal}
<div class="Content">
            <div class="connetentin">
			<div class="common_titlesm">
				<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">Forgot Password</div>
        <div class="clearxy height10"></div>
 					{if $ErrorMessages || $SuccessMessages}
					 <div id="ErrMsgDiv" style="width:400px; margin:0 auto;">
							{if $ErrorMessages neq ''}
								<div class="notification hideit failure" style="width:400px;"><p>{$ErrorMessages}</p></div>
							{elseif $SuccessMessages neq ''}
								<div class="notification hideit success" style="width:400px;"><p>{$SuccessMessages}</p></div>    
						{/if}</div>
        <div class="clearxy height10"></div>
						{/if}
        <div class="clearxy height10"></div>
				</div>
				</div>
		    <div class="clearxy height10" style="height:40px;"></div> 
			
			<div class="main_dash">		
					<div class="dash_con_r">
					  <form method="post" class="form" name="post_form">
							<ul>
							   <div class="clearxy height10"></div>
										<li>
										<p>Email <em> * </em></p>
                              <input name="UserEMail" id="UserEMail" type="text" value=""/>
							 <br /><span id="UserEMailMsg" style="padding-left:170px;" class="error"></span> 
									</li>
								 <div class="clearxy height10"></div>
							   <div class="main_in1_CC"> 
						<input name="Forget" type="hidden" class="btn1" value="Send"/>
						<input type="submit" name="Forget"  class="btn1box" value="Send" onclick="return GoToForgetValidate();"/>
									<div class="clearxy"></div>
								</div>
							</ul>
						</form>
					</div>
				</div>
			</div>
            <div class="clearxy"></div>
       </div>

<script type="text/javascript">
var FormName10='post_form';
var FormObj=document.forms[post_form];
</script>