 <script type="text/javascript"> 
var Profile='{$Arr}';
</script> 
{literal}
<script type="text/javascript">   
jQuery(document).ready(function(){
	if(Profile!=''){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
	}
});  
function GoToJSONAjaxFunction(){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
}   
function ShowErrortoSelect(){   
 	jQuery('#errormsg').show(); 
} 
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<form action="" name="post_form1" method="post">
				 <div id="sub2">
						<div class="configurator_main" >
						<div class="instut"><p>Select Glass Type here...</p></div>
						<div class="clearxy height10"></div>
						<div class="frm_p1">Glass Type :</div>
						<div class="frm_p2">
						<select name="GlassId" id="GlassId" class="Seltop" onchange="GoToJSONAjaxFunction()">
						<option>Select Glass Type</option>
						{foreach from=$GList item=PDet}
							<option value="{$PDet.GlassId}" {if $Arr.GlassId eq $PDet.GlassId}selected="selected"{/if}>{$PDet.GlassCode|stripslashes} - {$PDet.GlassName|stripslashes} - {$PDet.Thickness} - Group {$PDet.GlassGroup}</option>
						 {/foreach} 
						</select> 
						</div>
						<div class="clearxy height10"></div>
						<div class="frm_p1">Glass Model :</div>
						<div class="frm_p2">
				<input type="radio" name="GlassModel" id="GlassModel" value="Tempered" class="check" {if $Arr1.GlassModel eq 'Tempered'}checked="checked"{elseif $Arr1.GlassModel eq ''}checked="checked"{/if}/> &nbsp; <div class="check_text">Tempered</div>	
				<input type="radio" name="GlassModel" id="GlassModel" value="Regular" class="check" {if $Arr1.GlassModel eq 'Regular'}checked="checked"{/if}/>&nbsp;<div class="check_text">Regular</div>
						</div>
						<div class="clearxy"></div>
						<!--<div class="frm_p1">Thickness :</div>
						<div class="frm_p2">
						<select class="Seltop" name="" id="">
						<option>Select Thickness</option>
						<option>6 mm</option>
						<option>3 mm</option>
						<option>2 mm</option>
						</select>
						</div>-->
					<div class="clearxy height10"></div>	
 			 		<div id="www">
						<div class="button_next11">
			<div id="errormsg" style="display:none; float:right;"><b style="color:#FF0000;">Please select Glass Type</b></div>
			<div class="clearxy height10"></div>
	{if $smarty.get.prof_id eq '4'}
	 	<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}configurator.html');"/>
	{else}
	 	<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}finish.html');"/>
	{/if} 
<input name="" type="button" class="button_next1ab" value="Select Direction" onclick="ShowErrortoSelect();"/>
						</div>
					</div>  
					<div id="cont" style="display:none">
						<div class="button_next11">
	{if $smarty.get.prof_id eq '4'}
	 	<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}configurator.html');"/>
	{else}
	 	<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}finish.html');"/>
	{/if}
		<input name="FinType" type="submit" class="button_next1ab" value="Select Direction"/>
						</div>
					</div> 
						</div>
						</div> 
				</form>
				<div class="productbtm"></div>
	  </div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>