<script type="text/javascript"> 
var Profile='{$Arr}';
var ExHingeSta='{$Arr.ExtraHingeHoleSta}';
var HingeSta='{$Arr.HingeHoleSta}';
</script>  
{literal}
<script type="text/javascript"> 
jQuery(document).ready(function(){
	if(Profile!=''){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); jQuery('#HingeQty').show(); 
	}
	if(ExHingeSta=='Yes'){
 		jQuery('#HingeQty').show(); 
	}
	else if(ExHingeSta=='No'){   
 		jQuery('#HingeQty').hide(); 
	}
	if(HingeSta=='Yes'){
 		jQuery('#ExHinge').show(); 
	}
	else if(HingeSta=='No'){   
 		jQuery('#ExHinge').hide(); 
	}
});  
function GoToJSONAjaxFunction(){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
}   
function ShowErrortoSelect(){   
 	jQuery('#errormsg').show(); 
}  
function ShowExtraHinge(type){
	if(type=='Yes'){   
 		jQuery('#ExHinge').show(); 
	}
	else{   
 		jQuery('#ExHinge').hide(); 
	}
} 
function ShowHingeQty(type){
	if(type=='Yes'){   
 		jQuery('#HingeQty').show(); 
	}
	else{   
 		jQuery('#HingeQty').hide(); 
	}
} 
function GoEditVaildate(){	
	ErrCss='radio_class'; BErrCss='radio_class'; var FlagIns=true;
	if(jQuery('input:radio[name=HingeHoleSta]:checked').val()=='Yes'){	
		if(jQuery('input:radio[name=ExtraHingeHoleSta]:checked').val()=='Yes'){	
			if(FlagIns){	
				FlagIns=FormValidateFunction('Text','#TotExtraHingeHole','Please enter Extra Hinge Holes Qty');
			} 
		}
	}
	
	if(FlagIns){	
 		document.forms[FormName1].submit();
	}
	else{	return false;	}
}  
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<form action="" name="post_form1" method="post">
				 <div id="sub4">
					<div class="configurator_main" >
					<div class="instut"><p>Hinge Holes :</p></div>
					<div class="com_width">
							<div class="formlft_pro">
							<div class="formin1">
							<input type="radio" name="HingeHoleSta" id="HingeHoleSta" value="Yes" class="radio_class" {if $Arr.HingeHoleSta eq 'Yes' || $Arr.HingeHoleSta eq ''}checked="checked"{/if} onclick="ShowExtraHinge('Yes');">
							</div>
							</div>
							<div class="forca"> <label for="Profile Type">Yes</label> </div>
						</div>	
					 <div class="clearxy height10"></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1">
						<input type="radio" name="HingeHoleSta" id="HingeHoleSta" value="No" class="radio_class" {if $Arr.HingeHoleSta eq 'No'}checked="checked"{/if} onclick="ShowExtraHinge('No');">
						</div>
						</div>
						<div class="forca">
						<label for="Profile Type">No</label>
 						</div>
					</div>
					 <div class="clearxy height10"></div> 
					 <div id="ExHinge">
					<div class="instut"><p>Select Hinge Holes here...</p></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1"> <input type="radio" name="HingeLocation" value="Top" class="radio_class" onclick="GoToJSONAjaxFunction()" {if $Arr.HingeLocation eq 'Top'}checked="checked"{elseif $Arr.HingeLocation eq ''}checked="checked"{/if}> </div>
						</div>
						<div class="forca"> <label for="Profile Type">Top</label> </div>
					</div>	
					 <div class="clearxy height10"></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1"> <input type="radio" name="HingeLocation" value="Right" class="radio_class" onclick="GoToJSONAjaxFunction()" {if $Arr.HingeLocation eq 'Right'}checked="checked"{/if}> </div>
						</div>
						<div class="forca"> <label for="Profile Type">Right</label> </div>
					</div>
					 <div class="clearxy height10"></div>
					<div class="com_width">
					<div class="formlft_pro">
					<div class="formin1"><input type="radio" name="HingeLocation" value="Bottom" class="radio_class" onclick="GoToJSONAjaxFunction()" {if $Arr.HingeLocation eq 'Bottom'}checked="checked"{/if}> </div>
					</div>
					<div class="forca"> <label for="Profile Type">Bottom</label> </div>
				</div>	
					 <div class="clearxy height10"></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1"> 
						<input type="radio" name="HingeLocation" value="Left" class="radio_class" onclick="GoToJSONAjaxFunction()" {if $Arr.HingeLocation eq 'Left'}checked="checked"{/if}>
						</div>
						</div>
						<div class="forca"> <label for="Profile Type">Left</label> </div>
					</div>
					<div class="clearxy height10"></div>
					<div class="instut"><p>Need Extra Hinge Holes :</p></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1">
						<input type="radio" name="ExtraHingeHoleSta" id="ExtraHingeHoleSta" value="Yes" class="radio_class" {if $Arr.ExtraHingeHoleSta eq 'Yes'}checked="checked"{/if} onclick="ShowHingeQty('Yes');">
						</div>
						</div>
						<div class="forca"> <label for="Profile Type">Yes</label> </div>
					</div>	
					 <div class="clearxy height10"></div>
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1">
						<input type="radio" name="ExtraHingeHoleSta" id="ExtraHingeHoleSta" value="No" class="radio_class" {if $Arr.ExtraHingeHoleSta eq 'No'}checked="checked"{/if} onclick="ShowHingeQty('No');">
						</div>
						</div>
						<div class="forca">
						<label for="Profile Type">No</label>
 						</div>
					</div>
					 <div class="clearxy height10"></div> 
					 <div id="HingeQty" style="display:none;">
						<div class="instut"><p>Extra Hinge Holes Qty :</p></div> 
						<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1" style=" width:120px;">
						<input type="text" name="TotExtraHingeHole" id="TotExtraHingeHole" value="{if $Arr.TotExtraHingeHole neq '0'}{$Arr.TotExtraHingeHole}{/if}" class="radio_class" style=" width:100px;">
						</div>
						</div> <div class="clearxy"></div>
							<br /><span style="padding-right:280px;" id="TotExtraHingeHoleMsg" class="error"></span>
					</div> 
						<div class="clearxy height10"></div>
					 </div>
					 </div>
					 <div class="clearxy height10"></div> 
 			 		<div id="www">
						<div class="button_next11">
			<div id="errormsg" style="display:none; float:right;"><b style="color:#FF0000;">Please select Hingehole location</b></div>
			<div class="clearxy height10"></div>
 <input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}direction.html');"/>
<input name="" type="button" class="button_next1ab" value="Next" onclick="ShowErrortoSelect();"/>
						</div>
					</div>  
					<div id="cont" style="display:none">
						<div class="button_next11">
	 	<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}direction.html');"/>
		<input name="Hinge" type="submit" class="button_next1ab" value="Next" onclick="return GoEditVaildate();"/>
						</div>
					</div> 
				</div>
				</div> 
				</form>
				<div class="productbtm"></div>
	  </div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>

<script type="text/javascript">
	var FormName1='post_form1';
	var FormObj=document.forms[FormName1];
</script>