 
<div class="Content">
	<div class="banner">
		<div class="slider-wrapper theme-default">
			<div id="slider" class="nivoSlider">
			<!--<img src="{$SiteHttpPath}images/banner.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner1.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner2.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner3.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner4.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner5.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner6.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner7.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner8.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner9.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner10.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner11.jpg" alt=""/> -->
				<img src="{$SiteHttpPath}images/banner12.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner13.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner14.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner15.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner16.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner17.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner18.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner19.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner20.jpg" alt=""/>
				<img src="{$SiteHttpPath}images/banner21.jpg" alt=""/>
			</div>
		</div> 
 	</div>
 	<div class="shadow"><img src="{$SiteHttpPath}images/shadow_effect.png" alt="" /></div>
	<div class="box">
		<div class="box_main">
			<div class="box1"><a href="{$SiteMainPath}door.html" title="Product Configurator">{$common.configurator}<br>
			<span>{$common.configuratormsg}</span></a></div>
			<div class="clearxy"></div>
			<div class="box1a"><img src="{$SiteHttpPath}images/box1_shadow.png" alt="" /></div>
		</div>
		<div class="box_main">
			<div class="box1"><a href="{$SiteMainPath}products.html" title="Special Custom Orders">{$common.special}<br>
			<span class="btn btn-info btn-mini">{$common.specialmsg}</span></a></div>
			<div class="clearxy"></div>
			<div class="box1a"><img src="{$SiteHttpPath}images/box2_shadow.png" alt="" /></div>
		</div>
		<div class="box_main">
			<div class="box1"><a href="{$SiteMainPath}contactus.html" title="Contact Us">{$common.contactus}<br>
			<span>{$common.contactusmsg}</span></a></div>
			<div class="clearxy"></div>
			<div class="box1a"><img src="{$SiteHttpPath}images/box3_shadow.png" alt="" /></div>
		</div>
	</div>
	<div class="clearxy"></div>
</div> 