
<link rel="stylesheet" href="{$SiteHttpPath}css/door_configurator.css">

<div class="Content">
	<div class="connetentin">
		<div class="common_titlesm">
		<div class="common_titles">
			<div class="title_lft"></div>
			<div class="title_mid">{$lang.invoice}</div>
		</div>
		</div>
			<div class="clearxy height10"></div>
			<div class="productmain">
				<div class="product">
				
				<br/><br/>
				{if $cartHtml === false }
					<div class="alert alert-info"> Please Add Some Products to the cart. </div>
				{/if}
				{if isset($cartHtml) && $cartHtml neq ''}
					{$cartHtml}
					{php} if(isset($_SESSION['PJ525_UserId']) && $_SESSION['PJ525_UserId']!=0) { {/php}
					<div style="float:right; margin-right:30px;"> 
						<a target="blank" href="{$SiteHttpPath}QuotePdf/{$pdf_file}" class="btn btn-success"> {$lang.download} </a>
						<!-- <div class="btn btn-success" onclick="window.location='{$SiteHttpPath}QuotePdf/{$pdf_file}';" > {$lang.download} </div> -->
					</div>
					{php} } {/php}
				{else if !isset($cartHtml)}
					<div class="alert alert-error"> Sorry Invoice Not Found </div>
				{/if}
					
				<!-- ============================== END =================================== -->				
					<div class="productbtm"></div>
				</div> <!-- .product -->
			</div> <!-- .productmain -->
		<div class="clearxy"></div>
	</div> <!-- .connetentin -->
</div> <!-- .content -->

<script type="text/javascript"> BASEPATH="{$SiteHttpPath}";</script>
<script type="text/javascript" src="{$SiteHttpPath}js/koverlay/koverlay.js"></script>
<script type="text/javascript" src="{$SiteHttpPath}js/custom.js"> </script>