
{literal}
<script type="text/javascript">
 function GoToSignValidate() {
	ErrCss='form'; BErrCss='form';var FlagIns=true;
	
 	FlagIns=FormValidateFunction('Text','#UserEMail','Please enter Email');
  	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UserEMail','Please enter Valid Email');
	}
	if(FlagIns){	
		FlagIns=FormValidateFunction('Text','#UserPass','Please enter your Password');
	}
	if(FlagIns){	
		document.forms[FormName32].submit();
	}
	else{	return false;	}
}
</script>
{/literal} 
<div class="Content">
            <div class="connetentin">
			<div class="common_titlesm">
				<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$lang.signin}</div>
				<!--<div class="title_rgt">If you have already created an account to receive luxury escapes, click here to login.</div>-->
				</div>
				</div>
		    <div class="text_con">{$lang.newuser}?  
			<span><a href="{$SiteMainPath}signup.html" title="Click here to login">{$lang.createNew}</a></span></div>
        <div class="clearxy height10"></div>
			{if $ErrMessage || $SuccessMessages}
			 <div id="ErrMsgDiv" style="width:350px; margin:0 auto;">
					{if $ErrMessage neq ''}
						<div class="notification hideit failure" style="width:350px;"><p>{$ErrMessage}</p></div>
					{elseif $SuccessMessages neq ''}
						<div class="notification hideit success" style="width:350px;"><p>{$SuccessMessages}</p></div>    
				{/if}</div> {/if}
				<div class="main_dash">		
					<div class="dash_con_r">
               <form name="AddUpdate" method="post" class="form"> 
					<ul>
					<div class="head_in">{$lang.loginHere}...</div>
					<div class="clearxy height10"></div>
					<li>
					<p>{$lang.email} <em> * </em></p> 
					 <input name="UserEMail"  id="UserEMail" type="text" class="box2box_CC_Contact"/>
					 <br /><span id="UserEMailMsg" style="padding-left:170px;" class="error"></span>
					</li><div class="clearxy"></div>
					<li>
					<p>{$lang.password} <em> * </em></p> 
					<input name="UserPass" id="UserPass" type="password" class="box2box_CC_Contact" />
					<br /><span id="UserPassMsg" style="padding-left:170px;" class="error"></span> 
					</li>
					<div class="clearxy height10"></div>
					<div class="main_in1_CC"> 
					<input type="hidden" name="LogIn" value="SignIn" />
					<input type="submit" name="LogIn" value="{$lang.signin}" class="btn1box" style="width: 120px !important;" onclick="return GoToSignValidate();"/> 
					<div class="clearxy"></div>
					</div>
					<div class="forgot_create" style="width:120px;">
					<div class="forgot_create1"><a href="{$SiteMainPath}forgot.html" title="Forgot Password?">{$lang.forgot}?</a></div>
					</div>
					</ul>
					</form>
 					</div>
				</div>
		  		
			</div>
            <div class="clearxy"></div>
       </div>
<script type="text/javascript">
var FormName32='AddUpdate';
var FormObj=document.forms[FormName32];
</script>