<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">My Profile</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<div class="configurator_main">
				<div class="dash_menuss">
						 <!-- ****************** MENUCONTENT START ************************** -->
						 <!-- ******************** MENU DASHBOARD START *********************** -->
		  <div id="menu" >
		<div id="icons">
   <div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; 
font-weight:bold; font-family:Arial, Helvetica, sans-serif;
text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;">Dash Board <img src="images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
</div>
		  </div>

	    {include file=$IncludeTpl1}	
						</div>
					<div class="main_dash">		
						<div class="dash_con_r">
						  <form action="post"  method="post">
						  <div class="profile_view"> 
			<div class="profile_view1">First Name</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserFName|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Last Name</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserLName|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Username</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserName|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Email</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserEMail|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">PayPal Mail </div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserPayPalMail|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Address</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserAdds|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Phone No</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserPhone|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">City</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserCity|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">State/Province</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.state_name|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Country</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.country_name|stripslashes}</div>
		</div>
		<div class="profile_view"> 
			<div class="profile_view1">Zip Code/Postal Code</div>
			<div class="profile_view2">:</div>
			<div class="profile_view3">{$Arr.UserZip|stripslashes}</div>
		</div>
		</form>
					</div>
					</div>
					
				</div>
				<div class="productbtm"></div>
	  </div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>