<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<div class="configurator_main">
				
					<div class="dash_menuss">
						 <!-- ****************** MENUCONTENT START ************************** -->
						 <!-- ******************** MENU DASHBOARD START *********************** -->
		  <div id="menu" >
		<div id="icons">
	<div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; 
	font-weight:bold; font-family:Arial, Helvetica, sans-serif;
	text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer;">Dash Board <img src="images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
	</div>
		  </div>
	
	  {include file=$IncludeTpl1}	
		</div>
				<div class="main_dash">		
				<div class="dash_con_r">
			{if $ErrMessage || $SuccessMessages}
			 <div id="ErrMsgDiv" style="width:350px; margin:0 auto;">
					{if $ErrMessage neq ''}
						<div class="notification hideit failure" style="width:450px;"><p>{$ErrMessage}</p></div>
					{elseif $SuccessMessages neq ''}
						<div class="notification hideit success" style="width:450px;"><p>{$SuccessMessages}</p></div>    
				{/if}</div>
			 {/if}
					<div class="main_in1_CC_table"> 
 				</div>
 				<div class="clearxy height10"></div>
<form name="frm_Video" method="post" action="">
	<input type="hidden" name="Action_Type" />
	<input type="hidden" name="ConSId"/>	
					 
					<div class="evenths_order" >
				<div class="clearxy"></div>
				<table width="680" id="box-table-a_order" summary="Employee Pay Sheet">
					<thead>
						<tr>
							<th scope="col">SL No</th>
							<th scope="col">Quote ID</th>
							<th scope="col">Profile</th>
							<th scope="col">Invoice Number</th>
							<th scope="col">Order Number</th>
							<th scope="col">Initial Amount Paid</th>
							<th scope="col">Balance Amount </th>
							<th scope="col">Paid Date</th>
							<th scope="col">Status</th>
					  </tr>
					</thead>
					<tbody> 
						{assign var=i value=1}
						{foreach from=$PayList item=PDet}
						<tr>
							<td>{$i++}</td>
							<td>{$PDet.QuoteId|stripslashes}</td>
							<td>{if $PDet.ProfileId eq 1}Door Profile with Glass
								   {elseif $PDet.ProfileId eq 2}Door Profile without Glass
								   {elseif $PDet.ProfileId eq 3}Frame Only{else}Glass Only{/if}</td>
							<td>{if $PDet.InvoiceNum neq ''}{$PDet.InvoiceNum|stripslashes}{else}----------------------{/if}</td>
							<td>{$PDet.OrderRefNo|stripslashes}</td>
							 <td>$ {$PDet.InAmt|stripslashes}</td>
							 <td>$  {$PDet.BalAmt}</td>
							 <td>{$PDet.PayDate|date_format:"%b %d, %Y %I:%M %p"}</td>
							 <td>{$PDet.Paystatus}</td> 
						</tr> 
						{foreachelse}     
						<tr>
							<div class="notification failure" style=" width:300px; padding-left:40px;">
							<p>No Orders found.</p></div>
						</tr>   	
 						{/foreach} 
					</tbody>
				</table>
				   </div>
</form>	
<div class="clearxy"></div>
				</div>
			</div>
		</div>
		<div class="productbtm"></div>
</div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>
{literal}
<script type="text/javascript">
var FormName='frm_Video';
var FormObj=document.forms[FormName];
var MgmtName='Order(s)';
var Seltype='PaymentMgmt'; 
</script>
{/literal}