
<link rel="stylesheet" href="{$SiteHttpPath}css/door_configurator.css">

<div class="Content">
	<div class="connetentin">
		<div class="common_titlesm">
		<div class="common_titles">
			<div class="title_lft"></div>
			<div class="title_mid">Invoice</div>
		</div>
		</div>
			<div class="clearxy height10"></div>
			<div class="productmain">
				<div class="product">
				
				<table class="table table-bordered" id="shopping-cart" style="width:100%;{$style}">
					<thead>
						<tr>
							<th colspan="2"> &nbsp;  </th>
							<th colspan="4"> Invoice Generated <br/> <div class="btn btn-warning btn-block" > Invoice Id : {$cartCode} </div> </th>
							<th colspan="2"> &nbsp;  </th>
						</tr>
						<tr>
							<th colspan="2"> Shopping Cart </th>
							<td colspan="4"> &nbsp;  </td>
							<th colspan="2" > &nbsp;  </th>
						</tr>
						<tr class="underline">
							<th width="12"> &nbsp; </th>
							<th> Profile </th>
							<th> &nbsp; </th>
							<th> Dimensions </th>
							<th> Quantity </th>
							<th> Price </th>
							<th> Total </th>
						</tr>
					</thead>
					<tbody>
							{foreach from=$cartSession item=c}
								<tr>
									<th width="12"> &nbsp; </th>
									<th> {$c.profile_type} </th>
									<td style="text-align:left;"> 
										Finish: {$c.profile_finish} <br> Insert: {$c.insert_type} {if $c.sub_insert neq '' }/{$c.sub_insert} {/if}
										<hr/>
										Orientation: {$c.orientation}
										<hr/>
										Hinge Holes : {$c.hinge_holes} | Drilling Holes : {$c.handle_holes}
									</td>
									<td> {$c.width} x {$c.height} </td>
									<td> {$c.quantity} </td>
									<td> ${$c.price}  </td>
									<th> ${$c.sub_total}</th>
								</tr>
							{/foreach}
					</tbody>
					<tfoot>
						<tr> 
							<td colspan="5"> &nbsp;  </td>
							<th> Total </th>
							<th> $<span id="cartTotal">{$cartTotal} </span> </th>
						</tr>
						<tr> 
							<td colspan="5"> &nbsp;  </td>
							<td colspan="2"> <div class="btn btn-success btn-block" onclick="window.location='process.php?invoice={$cartCode}';" > Place Order and Checkout </div> </td>
						</tr>
					</tfoot>
					</table>
			
				<!-- ============================== END =================================== -->				
					<div class="productbtm"></div>
				</div> <!-- .product -->
			</div> <!-- .productmain -->
		<div class="clearxy"></div>
	</div> <!-- .connetentin -->
</div> <!-- .content -->

<script type="text/javascript"> BASEPATH="{$SiteHttpPath}";</script>
<script type="text/javascript" src="{$SiteHttpPath}js/koverlay/koverlay.js"></script>
<script type="text/javascript" src="{$SiteHttpPath}js/custom.js"> </script>