<link href="{$SiteHttpPath}css/pro_style.css" type="text/css" rel="stylesheet" />
<script src="{$SiteHttpPath}js/jquery.bxSlider_arabic.js" type="text/javascript"></script> 
<script type="text/javascript">
	var ProList = "{$ProList|@count}"; 
</script>
<script src="{$SiteHttpPath}js/home_page.js" type="text/javascript"></script> 
<div class="Content">
	<div class="connetentin">
		<div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">Products</div>
			</div>
		</div>
		<div class="clearxy height10"></div>
		<div class="productmain">
			<div class="product">
				<div class="Main980Con" style="padding-top:5px;">
					<div class="demo-wrap">
						<ul id="slider_bot" class="multiple">
						{foreach from=$ProList item=PDet}
						<li>
							<div class="NProList">
								<h2><a href="{$PDet.ProductURL|stripslashes}">{$PDet.ItemName|stripslashes}</a></h2>
								<div class="cate">{$PDet.CatName|stripslashes}</div>
								<p>{SmartyPlugIn GetType='Proimage' InpVal=$PDet.SellId}</p>
								<div class="mview"><a href="{$PDet.ProductURL|stripslashes}">{$data.more}</a></div>
							</div>
						</li> 
						{foreachelse}        	
						<div class="clearxy height10" style="height:130px;"></div>  
						<div class="notification failure" style=" width:300px; padding-left:40px;">
							<p>No products found in selected category.</p></div>
						{/foreach} 
 						</ul>
					</div>
				</div>
				<div class="productbtm"></div>
			</div>
		</div>
		<div class="clearxy height10"></div>
	</div>
	<div class="clearxy"></div>
</div>