 <script type="text/javascript"> 
var Profile='{$Arr}';
</script>
{literal}
<script type="text/javascript">  
jQuery(document).ready(function(){
	if(Profile!=''){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
	}
});
function GoToJSONAjaxFunction(){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
}   
function ShowErrortoSelect(){   
 	jQuery('#errormsg').show(); 
} 
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<form action="" name="post_form1" method="post">
				 <div id="main">
					<div class="configurator_main">
					<div class="instut"><p>Select Profile Type here...</p></div>
					<div class="scroll">
					{foreach from=$PTList item=PDet}
					<div class="com_width">
						<div class="formlft_pro">
						<div class="formin1">
						<input type="radio" name="PTypeId" id="PTypeId" class="radio_class" value="{$PDet.PTypeId}" onClick="GoToJSONAjaxFunction()" {if $Arr.PTypeId eq $PDet.PTypeId}checked="checked"{/if}>   
 						</div>
						</div>
						<div class="formrgt_pro">
						<label for="Profile Type">{$PDet.ProfileNumber|stripslashes}</label>
							<div class="types">
								<img border='0' src="{$ShapeImageDisp}{$PDet.ShapeImage}" width="199" height="82"/>
							</div>
						</div>
						<div class="clearxy"></div>
					</div>	
					 <div class="clearxy height10"></div>
			{foreachelse}
				<div class="notification hideit failure" style="width:350px;"><p>No Profile types available in selected option.</p></div>								
					 {/foreach} 
 				   </div>
			 		<div id="www">
						<div class="button_next11">
			<div id="errormsg" style="display:none; float:right;"><b style="color:#FF0000;">Please select Profile Type</b></div>
			<div class="clearxy height10"></div>
 <input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}configurator.html');"/>
<input name="" type="button" class="button_next1ab" value="Next" onclick="ShowErrortoSelect();"/>
						</div>
					</div>  
					<div id="cont" style="display:none">
						<div class="button_next11">
	 	<input name="" type="button" class="button_next1a" value="Back" onClick="GoBackRedirct('{$SiteMainPath}configurator.html');"/>
		<input name="ProType" type="submit" class="button_next1ab" value="Next"/>
						</div>
					</div>
				</div>
				</div> 
				</form>
				<div class="productbtm"></div>
	  </div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>