<link rel="stylesheet" type="text/css" href="{$SiteHttpPath}css/popup.css">
{literal} 
<script type="text/javascript">
 jQuery(document).ready(function(){
	closetimer = 0;
 	if($("#nav")) {
 		$("#nav li div").each(function(i) {
		eheight = $(this).height();
		$(this).children().css("top",-eheight+"px");
		});

		$("#nav img").mouseover(function() {
		clearTimeout(closetimer);
 				eheight = $("#nav img.clicked").next().children().height()+20;
				$("#nav img.clicked").next().children().animate({"top": -eheight+"px"}, {queue:false,duration:(300)}, "swing");
				$("#nav img.clicked").next().hide(50);
				$("#nav img").removeClass();
				$(this).addClass("clicked");
				$(this).next().show(10);
				eheight = $("#nav img.clicked").next().children().height();
				$(this).next().children().animate({"top":"0px"}, {queue:false,duration:(300)}, "swing");
		});
		$("#nav").mouseover(function() {
		clearTimeout(closetimer);
		});
		$("#nav").mouseout(function() {
			closetimer = window.setTimeout(function(){
			eheight = $("#nav img.clicked").next().children().height()+20;
			$("#nav img.clicked").next().children().animate({"top":-eheight+"px"}, {queue:false,duration:(300)}, "swing");
			$("#nav img.clicked").next().hide(10);
			$("#nav img").removeClass("clicked");
			}, 100);
		}); 
	}
	});
  	$(document).ready(function(){
		$('a.poplight[href^=#]').click(function() {
			var popID = $(this).attr('rel'); //Get Popup Name
			var popURL = $(this).attr('href'); //Get Popup href to define size
			//Pull Query & Variables from href URL
			var query= popURL.split('?');
			var dim= query[1].split('&');
			var popWidth = dim[0].split('=')[1]; //Gets the first query string value
			//Fade in the Popup and add close button
			$('#' + popID).fadeIn().css({ 'width': Number( popWidth ) }).prepend('<a href="#" class="close"><img src="'+'images/close_pop.png" class="btn_close" title="Close Window" border="0" alt="Close" /></a>');
			var popMargTop = ($('#' + popID).height() + 80) / 2;
			var popMargLeft = ($('#' + popID).width() + 80) / 2;
			//Apply Margin to Popup
			$('#' + popID).css({ 
				'margin-top' : -popMargTop,'margin-left' : -popMargLeft
			});
			//Fade in Background
			$('body').append('<div id="fade"></div>'); //Add the fade layer to bottom of the body tag.
			$('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn(); //Fade in the fade layer 
			return false;
		});
		//Close Popups and Fade Layer
		$('a.close, .DisWarClose, #fade').live('click', function() { //When clicking on the close or fade layer...
			$('.popup_block').fadeOut(function() {
					$('#fade, a.close').remove();  
			}); //fade them both out
			return false;
		});	
	});
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">Quotes</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			  <div class="product">
				<div class="configurator_main">
				
					<div class="dash_menuss"> 
		  <div id="menu" >
		<div id="icons">
   <div id="iconDescription" class="statut1" style=" width:200px; padding:16px 0 0 0; 
font-weight:bold; font-family:Arial, Helvetica, sans-serif;
text-align:center; font-size:15px; color:#FFFFFF; cursor:pointer; z-index:-999999;">Dash Board <img src="{$SiteHttpPath}images/iconDescription.png" alt="" style="margin-top:-4px; float:right; margin-right:10px;"/></div>
</div>
		  </div>

	  {include file=$IncludeTpl1}	
						</div>
				<div class="main_dash">		
				<div class="dash_con_r">
{if $ErrMessage || $SuccessMessages}
 <div id="ErrMsgDiv" style="width:350px; margin:0 auto;">
		{if $ErrMessage neq ''}
			<div class="notification hideit failure" style="width:450px;"><p>{$ErrMessage}</p></div>
		{elseif $SuccessMessages neq ''}
			<div class="notification hideit success" style="width:450px;"><p>{$SuccessMessages}</p></div>    
	{/if}</div>
 {/if}
					<div class="main_in1_CC_table"> 
				</div>
				<div class="clearxy height10"></div>
					<div class="evenths" >
				<div class="clearxy"></div>
				
				<table width="570" id="box-table-a_acc" summary="Employee Pay Sheet">
					<thead>
						<tr>
						  <th scope="col">SL No</th>
						  <th scope="col">Quote ID</th>
						  <th scope="col">Date</th>
						  <th scope="col">Profile</th>
						  <th scope="col">Action</th>
					  </tr>
					</thead>
					<tbody> 
					{assign var=i value=1}
			{foreach from=$QList item=PDet}
				<tr>
					 <td>{$i++}</td>
					 <td>{$PDet.QuoteId|stripslashes}</td>
					 <td>{$PDet.QuotedOn|date_format:"%b %d, %Y %I:%M %p"}</td>
					 <td>{if $PDet.ProfileId eq 1}Door Profile with Glass
					   {elseif $PDet.ProfileId eq 2}Door Profile without Glass
					   {elseif $PDet.ProfileId eq 3}Frame Only{else}Glass Only{/if}</td>
					 <td>{SmartyPlugIn GetType='Order' ProfId=$PDet.ProfileId InpVal=$PDet.QGId} 

<a href="{$SiteMainPath}quotes.html?type=delete&con_id={$PDet.QGId|md5}" title="Delete"><img src="{$SiteHttpPath}images/delete.png" border="0"></a>&nbsp;&nbsp;
<a href="#?w=890" id="InviteBut" title="View" class="poplight" rel="popup{$PDet.QGId}" ><img src="{$SiteHttpPath}images/view_new.png" border="0"></a>&nbsp;&nbsp;
<a href="{$SiteMainPath}print.html?type=print&con_id={$PDet.QGId|md5}" target="_blank" title="Print"><img src="{$SiteHttpPath}images/printer.png" border="0"></a>&nbsp;&nbsp;
<a href="{$SiteMainPath}print.html?type=download&con_id={$PDet.QGId|md5}" title="Download"><img src="{$SiteHttpPath}images/download.png" border="0"></a>
					</td>
				</tr>
				<div id="popup{$PDet.QGId}" class="popup_block"> 
<div class="configurator_main">
			<div class="productlfts"> 
			<div class="prod_detatl">  
			<div class="frm_p1view">Quantity :</div>
			<div class="frm_p2view">{$PDet.Qty}</div>
			<div class="clearxy"></div> 
			{if $PDet.ProfileId eq 1 or $PDet.ProfileId eq 4}
				<div class="frm_p1view">Glass Type :</div>
				<div class="frm_p2view">{$PDet.GlassName}</div>
				<div class="clearxy"></div>
				<div class="frm_p1view">Glass Code :</div>
				<div class="frm_p2view">{$PDet.GlassCode}</div>
				<div class="clearxy"></div>
				<div class="frm_p1view">Glass Group :</div>
				<div class="frm_p2view">{$PDet.GlassGroup}</div>
				<div class="clearxy"></div>
				<div class="frm_p1view">Glass Model :</div>
				<div class="frm_p2view">{$PDet.GlassModel}</div>
				<div class="clearxy"></div>
				<div class="frm_p1view">Thickness :</div>
				<div class="frm_p2view">{$PDet.Thickness}</div>
				<div class="clearxy"></div>
			{/if}
			{if $PDet.ProfileId eq 1 or $PDet.ProfileId eq 2}
				<div class="frm_p1view">Hinge Holes :</div>
				<div class="frm_p2view">{$PDet.HingeHoleSta}</div>
				<div class="clearxy"></div>
				{if $PDet.HingeHoleSta eq 'Yes'}
					<div class="frm_p1view">Hinge Holes Location :</div>
					<div class="frm_p2view">{$PDet.HingeLocation}</div>
					<div class="clearxy"></div>
					<div class="frm_p1view">Need Extra Hinge Holes :</div>
					<div class="frm_p2view">{$PDet.ExtraHingeHoleSta}</div>
					<div class="clearxy"></div>
					<div class="frm_p1view">Total Extra Hinge Holes :</div>
					<div class="frm_p2view">{$PDet.TotExtraHingeHole}</div>
					<div class="clearxy"></div>
					<div class="frm_p1view">Holes (35mm):</div>
					<div class="frm_p2view">{$PDet.HoleStatus}</div>
					<div class="clearxy"></div>
				{/if}
				<div class="frm_p1view">Model :</div>
				<div class="frm_p2view">{$PDet.Model}</div>
				<div class="clearxy"></div>
			{/if}
				<div class="frm_p1view">Length (A) :</div>
				<div class="frm_p2view">{$PDet.HoleA} in</div>
				<div class="clearxy"></div>
				<div class="frm_p1view">Height (B) :</div>
				<div class="frm_p2view">{$PDet.LengthB} in</div>
				<div class="clearxy"></div> 
			{if $PDet.HingeHoleSta eq 'Yes'}
				<div class="frm_p1view">C :</div>
				<div class="frm_p2view">{$PDet.WidthC} in</div>
				<div class="clearxy"></div>
				<div class="frm_p1view">D:</div>
				<div class="frm_p2view">{$PDet.WidthD} in</div>
				<div class="clearxy"></div>
			{/if}
			{if $PDet.ProfileId eq 3}
				<div class="frm_p1view">Length (Running.ft) :</div>
				<div class="frm_p2view">{$PDet.Length} Running.ft</div>
				<div class="clearxy"></div>
			{/if}
			{if $PDet.ProfileId eq 4} 
				<div class="frm_p1view">Drilling Holes :</div>
				<div class="frm_p2view">{$PDet.DrillHoleStatus}</div>
				<div class="clearxy"></div>
				{if $PDet.DrillHoleStatus eq 'Yes'}
					<div class="frm_p1view">Total Drilling holes :</div>
					<div class="frm_p2view">{$PDet.TotDrillHoles}</div>
					<div class="clearxy"></div>
				{/if}
			{/if}
			<div class="frm_p1view">Delivery Type :</div>
			<div class="frm_p2view">{$PDet.OrderType} Order</div>
			<div class="clearxy"></div>
			<div class="frm_p1view">Comments</div>
			<div class="frm_p2view">{$PDet.Comments}</div>
			<div class="clearxy"></div>
			</div>
			</div>
			<div class="productrgts">
			{if $PDet.ProfileId neq 4}
				<div class="forca">
					<label for="Profile Type">{$PDet.ProfileNumber}</label>
					<div class="types">
							<img border='0' src="{$ShapeImageDisp}{$PDet.ShapeImage}" width="185" height="79"/>
						</div>
				</div>
			{/if}
			{if $PDet.ProfileId neq 4}
				<div class="forca">
						<label for="Profile Type">{$PDet.FinishType}</label>
							<div class="types">
								<img border='0' src="{$FinishImageDisp}{$PDet.FinishImage}" width="157" height="209"/>
							</div>
						</div>
			{/if}
						{if $PDet.ProfileId eq 1 or $PDet.ProfileId eq 4}
							{if $PDet.GlassDirection eq 'Vertical'}
								<div class="forca">
								<label for="Profile Type">Vertical</label>
									<div class="types">
										<img src="{$SiteHttpPath}images/ver_glass.png" alt="Finish Type">
									</div>
								</div>
							{else}
								<div class="forca">
								<label for="Profile Type">Horizontal</label>
									<div class="types">
										<img src="{$SiteHttpPath}images/hori_glass.png" alt="Finish Type">
									</div>
								</div>
							{/if}
						{/if}
						<div class="clearxy"></div>
						<div class="total_amtbg">	
							<div class="amts">Total Amount :<span>$ {$PDet.QuotePrice}</span></div>
						</div>	
						<div class="clearxy"></div>
						<div class="total_amtbg">	 
							<div class="amtscode">Code :<span>{$PDet.QuoteId}</span></div>
						</div>	
					</div>
		<div class="clearxy height10"></div>	
		<div class="clearxy height10"></div>	
			</div>
</div>
			{foreachelse}     
						<tr>
			<div class="notification failure" style=" width:300px; padding-left:40px;">
				<p>No Quotes found.</p></div>
						</tr>   	
			{/foreach} 
			
						
					</tbody>
				</table>
				   </div>
<div class="clearxy"></div>
				</div>
			</div>
		</div>
		<div class="productbtm"></div>
</div>
  </div>
  <div class="clearxy"></div>
</div>
</div>
