 
{literal}
<script type="text/javascript">  
function GoEditVaildate(){	
	ErrCss='txt_con1'; BErrCss='txt_con1'; var FlagIns=true;
	FlagIns=FormValidateFunction('Text','#Qty','Please enter Quantity'); 
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#HoleA','Please enter Hole size');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#LengthB','Please enter Length');
	}
	if(FlagIns)
	{	
		FlagIns=FormValidateFunction('Text','#WidthC','Please enter Width');
	} 
	if(FlagIns){	
 		document.forms[FormName1].submit();
	}
}  
function GoToJSONAjaxFunction(){
	jQuery('#www').hide(); jQuery('#errormsg').hide();
	jQuery('#cont').show(); 
}   
function ShowErrortoSelect(){   
 	jQuery('#errormsg').show(); 
}  
function ShowHingeQty(type){
	if(type=='Yes'){   
 		jQuery('#HingeQty').show(); 
	}
	else{   
 		jQuery('#HingeQty').hide(); 
	}
} 
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		  <div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		  <div class="clearxy height10"></div>
		  <div class="productmain">
			 <div class="product">
				<form action="" name="post_form1" method="post">
				 <div id="sub6">
						<div class="configurator_main">
						<div class="instut"><p>Here are your Quote Details:....</p></div>
						<div class="clearxy height10"></div>
						<div class="productlfts"> 
							<div class="prod_detatl">  
								<div class="frm_p1view">Quantity :</div>
								<div class="frm_p2view">{$Arr.Qty}</div>
								<div class="clearxy"></div> 
								{if $smarty.session.ProfileId eq 1 or $smarty.session.ProfileId eq 4}
									<div class="frm_p1view">Glass Type :</div>
									<div class="frm_p2view">{$Arr.GlassName}</div>
									<div class="clearxy"></div>
									<div class="frm_p1view">Glass Code :</div>
									<div class="frm_p2view">{$Arr.GlassCode}</div>
									<div class="clearxy"></div>
									<div class="frm_p1view">Glass Group :</div>
									<div class="frm_p2view">{$Arr.GlassGroup}</div>
									<div class="clearxy"></div>
									<div class="frm_p1view">Glass Model :</div>
									<div class="frm_p2view">{$Arr.GlassModel}</div>
									<div class="clearxy"></div>
									<div class="frm_p1view">Thickness :</div>
									<div class="frm_p2view">{$Arr.Thickness}</div>
									<div class="clearxy"></div>
								{/if}
								{if $smarty.session.ProfileId eq 1 or $smarty.session.ProfileId eq 2}
									<div class="frm_p1view">Hinge Holes :</div>
									<div class="frm_p2view">{$Arr.HingeHoleSta}</div>
									<div class="clearxy"></div>
									{if $Arr.HingeHoleSta eq 'Yes'}
										<div class="frm_p1view">Hinge Holes Location :</div>
										<div class="frm_p2view">{$Arr.HingeLocation}</div>
										<div class="clearxy"></div>
										<div class="frm_p1view">Need Extra Hinge Holes :</div>
										<div class="frm_p2view">{$Arr.ExtraHingeHoleSta}</div>
										<div class="clearxy"></div>
										<div class="frm_p1view">Total Extra Hinge Holes :</div>
										<div class="frm_p2view">{$Arr.TotExtraHingeHole}</div>
										<div class="clearxy"></div>
										<div class="frm_p1view">Holes (35mm) :</div>
										<div class="frm_p2view">{$Arr.HoleStatus}</div>
										<div class="clearxy"></div>
									{/if}
									<div class="frm_p1view">Model :</div>
									<div class="frm_p2view">{$Arr.Model}</div>
									<div class="clearxy"></div>
								{/if}
								<div class="frm_p1view">Length (A) :</div>
								<div class="frm_p2view">{$Arr.HoleA} in</div>
								<div class="clearxy"></div>
								<div class="frm_p1view">Height (B) :</div>
								<div class="frm_p2view">{$Arr.LengthB} in</div>
								<div class="clearxy"></div>
								{if $Arr.HingeHoleSta eq 'Yes'}
									<div class="frm_p1view">C :</div>
									<div class="frm_p2view">{$Arr.WidthC} in</div>
									<div class="clearxy"></div>
									<div class="frm_p1view">D:</div>
									<div class="frm_p2view">{$Arr.WidthD} in</div>
									<div class="clearxy"></div>
								{/if}
								{if $smarty.session.ProfileId eq 3}
									<div class="frm_p1view">Length (Running.ft) :</div>
									<div class="frm_p2view">{$Arr.Length} Running.ft</div>
									<div class="clearxy"></div>
								{/if}
								{if $smarty.session.ProfileId eq 4}
									<div class="frm_p1view">Drilling Holes :</div>
									<div class="frm_p2view">{$Arr.DrillHoleStatus}</div>
									<div class="clearxy"></div>
									{if $Arr.DrillHoleStatus eq 'Yes'}
										<div class="frm_p1view">Total Drilling holes :</div>
										<div class="frm_p2view">{$Arr.TotDrillHoles}</div>
										<div class="clearxy"></div>
									{/if}
								{/if}
								<div class="frm_p1view">Delivery Type :</div>
								<div class="frm_p2view">{$Arr.OrderType} Order</div>
								<div class="clearxy"></div>
								<div class="frm_p1view">Comments :</div>
								<div class="frm_p2view">{$Arr.Comments}</div>
								<div class="clearxy"></div>
							</div>
						</div>
						<div class="productrgts">
						{if $smarty.session.ProfileId neq 4}
							<div class="forca">
								<label for="Profile Type">{$Arr.ProfileNumber}</label>
								<div class="types">
										<img border='0' src="{$ShapeImageDisp}{$Arr.ShapeImage}" width="185" height="79"/>
									</div>
							</div>
						{/if}
						{if $smarty.session.ProfileId neq 4}
							<div class="forca">
								<label for="Profile Type">{$Arr.FinishType}</label>
								<div class="types">
									<img border='0' src="{$FinishImageDisp}{$Arr.FinishImage}" />
								</div>
							</div>
						{/if}
						{if $smarty.session.ProfileId eq 1 or $smarty.session.ProfileId eq 4}
							{if $Arr.GlassDirection eq 'Vertical'}
								<div class="forca">
								<label for="Profile Type">Vertical</label>
									<div class="types">
										<img src="{$SiteHttpPath}images/ver_glass.png" alt="Finish Type">
									</div>
								</div>
							{else}
								<div class="forca">
								<label for="Profile Type">Horizontal</label>
									<div class="types">
										<img src="{$SiteHttpPath}images/hori_glass.png" alt="Finish Type">
									</div>
								</div>
							{/if}
						{/if}
						<div class="clearxy"></div>
						<div class="total_amtbg">	
							<div class="amts">Total Amount :<span>$ {$Arr.QuotePrice}</span></div>
						</div>	
						<div class="clearxy"></div>
						<div class="total_amtbg">	
							<div class="amtscode">Code :<span>{$Arr.QuoteId}</span></div>
						</div>	
					</div>
					<div class="clearxy height10"></div>
					<div class="frm_p1view" style="padding-left:50px; width:800px;">* All price quotations require written confirmation from us to validate. This will be sent within moments of your quotation via e-mail or fax.</div> 
					<div class="clearxy"></div>	
					<div class="clearxy height10"></div>	
						<div class="button_next11" style="width:400px;">
	<input name="Print" type="submit" class="button_next1a" value="Print"/>
	<input name="Download" type="submit" class="button_next1ab" value="Download as PDF"/>
    <input name="" type="button" class="button_next1ab" value="Place Order and Check Out" onClick="GoBackRedirct('{$SiteMainPath}checkout.html');"/>
							</div>
						</div>
						</div> 
				</form>
				<div class="productbtm"></div>
	 		</div>
		  </div>
		  <div class="clearxy"></div>
	</div>
</div>

<script type="text/javascript">
	var FormName1='post_form1';
	var FormObj=document.forms[FormName1];
</script>