<script type="text/javascript" src="{$SiteHttpPath}js/state.js"></script>
<script type="text/javascript">  
	var usertype='{$smarty.get.usertype}'; 
	var UserType='{$Arr.UserType}'; 
</script>
{literal}
<script type="text/javascript">

var SiteMainPath="{SiteMainPath}";
var AllowExtension= new Array();
function GoToFormValidate(ValiType)
{	
	ErrCss='form'; BErrCss='form';var FlagIns=true; 
		FlagIns=FormValidateFunction('Text','#UserFName','Please enter First Name'); 
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserLName','Please enter Last Name');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserName','Please enter User Name');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserPass','Please enter Password');
	}
	
	if(FlagIns){		
		FlagIns=FormValidateFunction('Text','#RePassword','Please enter confirm password');
			}
	if(FlagIns){
		if(jQuery('#RePassword').val()!=jQuery('#UserPass').val()){
			jQuery('#RePasswordMsg').show();
			jQuery('#RePasswordMsg').html('Password and Confirm password must be same');
			jQuery('#RePassword').attr('class','box2box_CC_Contact');
			jQuery('#RePassword').focus();return false;
		}
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserEMail','Please enter Email');
	}
	
	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UserEMail','Please enter Valid Email');
	}
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserPayPalMail','Please enter PayPal Email');
	}
	
	if(FlagIns){
		FlagIns=FormValidateFunction('EMail','#UserPayPalMail','Please enter Valid PayPal Email');
	} 
 	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserAdds','Please enter Address ');
	} 
	/*if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserPhone','Please enter Phone Number');
	}*/
	if(FlagIns){
		FlagIns=FormValidateFunction('Text','#UserCity','Please enter City');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UserCountry','Please select  Country');
	}
	if(FlagIns){ErrCss='Seltop'; BErrCss='Seltop';
		FlagIns=FormValidateFunction('Text','#UserState','Please select State/Province');
	}
	if(FlagIns){	ErrCss='form'; BErrCss='form';
		FlagIns=FormValidateFunction('Text','#UserZip','Please enter Zip/Postal Code');
	}  
	if(FlagIns){
		document.forms[FormName].submit();
	}
	else{	return false;	}
} 
</script>
{/literal}
<div class="Content">
            <div class="connetentin">
			<div class="common_titlesm">
				<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">Sign Up</div>
				<!--<div class="title_rgt">If you have already created an account to receive luxury escapes, click here to login.</div>-->
				</div>
				</div>
		    <div class="text_con">If you have already created an account to receive luxury escapes, 
				 <span><a href="{$SiteMainPath}signin.html" title="Click here to login">Click here to login.</a></span></div>
			 <div class="main_dash">		
				<div class="dash_con_r">
 			<form name="FormAddUpdate" method="post" action="" class="form" enctype="multipart/form-data">
						<ul>
						<div class="clearxy height10"></div>
						<li>
						<p>First Name <em> * </em></p>
				<input type="text" name="UserFName" id="UserFName" value="{$Arr.UserFName|stripslashes}" maxlength="30">
                		<br /><span id="UserFNameMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>Last Name <em> * </em></p>
						<input type="text" name="UserLName" id="UserLName" value="{$Arr.UserLName|stripslashes}" maxlength="30">
						<br /><span id="UserLNameMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>Username <em> * </em></p>
						<input type="text" name="UserName" id="UserName" value="{$Arr.UserName|stripslashes}" maxlength="30">
						<br /><span id="UserNameMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>Password <em> * </em></p> 
						<input type="password" name="UserPass" id="UserPass" value="{$MemPass1|stripslashes}" maxlength="30">
						<br /><span id="UserPassMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>Confirm Password <em> * </em></p> 
					<input type="password" name="RePassword" id="RePassword"/>
					<br/><span id="RePasswordMsg" style="padding-left:170px;" class="error"></span> 
						</li><div class="clearxy"></div>
						<li>
						<p>Email <em> * </em></p> 
				<input type="text" name="UserEMail" id="UserEMail" value="{$Arr.UserEMail|stripslashes}" maxlength="150">
                <br /><span id="UserEMailMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>PayPal Mail <em> * </em></p> 
<input type="text" name="UserPayPalMail" id="UserPayPalMail" value="{$Arr.UserPayPalMail|stripslashes}" maxlength="150">
                <br /><span id="UserPayPalMailMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						
						<li>
						<p>Address <em> * </em></p> 
			<input type="text" name="UserAdds" id="UserAdds" alue="{$Arr.UserAdds|stripslashes}" maxlength="150">
                <br /><span id="UserAddsMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>Phone No </p> 
<input type="text" name="UserPhone" id="UserPhone" value="{$Arr.UserPhone|stripslashes}" maxlength="15">
<br><span style="padding-left:170px;">[Ex: (012) 345-6789]</span>
                <br /><span id="UserPhoneMsg" style="padding-left:170px;" class="error"></span> 
						</li>
						<div class="clearxy"></div>
						<li>
						<p>City <em> * </em></p>
						<input name="UserCity" id="UserCity" type="text" value="{$Arr.UserCity|stripslashes}"/>
						<br /><span id="UserCityMsg" style="padding-left:170px;" class="error"></span>
						</li><div class="clearxy"></div>
						<li>
						<p>Country <em>*</em></p>
				<select name="UserCountry" id="UserCountry" class="Seltop" onChange="GoToPrintJSONAjaxDetails('State',this.value,'UserState');">
					<option value="" >Select Country</option>
					{foreach from=$StateList item=DataDet}  
					<option {if $Arr.UserCountry eq $DataDet.country_id or ($DataDet.country_id eq '219' && $Arr.UserCountry eq '')} selected="selected" {/if} value="{$DataDet.country_id}">  
						{$DataDet.country_name|stripslashes}  
					</option>
					{/foreach} 
				</select>
                <br /><span id="UserCountryMsg" style="padding-left:170px;" class="error"></span> 
						</li><div class="clearxy"></div>
						<li>
						<p>State/Province <em>*</em></p>
						<select name="UserState" id="UserState" class="Seltop">
							<option value="">Select State</option>
						 </select>
						<br /><span id="UserStateMsg" style="padding-left:170px;" class="error"></span> 
						</li>
						<div class="clearxy"></div>
						<li>
						<p>Zip Code/Postal Code <em> * </em></p>
						<input name="UserZip" id="UserZip" value="{$Arr.UserZip|stripslashes}" type="text" />
						<br /><span id="UserZipMsg" style="padding-left:170px;" class="error"></span>
						</li>
						<div class="clearxy height10"></div>
						<div class="main_in1_CC"> 
	<input name="Register" type="hidden" class="btn1box" value="Register" />
	<input name="Register" type="submit" class="btn1box" value="Register" onclick="return GoToFormValidate('1');"/> 
						<div class="clearxy"></div>
						</div>
						</ul>
					</form>
				</div>
			</div>
			</div>
            <div class="clearxy"></div>
       </div>
 <script type="text/javascript">
var FormName='AddUpdate';
var FormObj=document.forms[FormName];
</script>
<script type="text/javascript">	
{if $Arr.UserCountry neq ''}
	GoToPrintJSONAjaxDetails('State','{$Arr.UserCountry}','UserState','{$Arr.UserState}');
{else}
	GoToPrintJSONAjaxDetails('State','219','UserState','{$Arr.UserState}');
{/if} 
</script>