<div class="Content">
	<div class="connetentin">
		<div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$SConDet.page_title|stripslashes}</div>
			</div>
		</div>
	 	 <div class="clearxy height10"></div>
		<div class="productmain">
			<div class="product">
				<div class="clearxy height10"></div>
				<div class="description_cont"> <p>{$SConDet.page_content|stripslashes|html_entity_decode}</p>  </div>
			</div>
			<div class="clearxy height10"></div>
		</div>
	  	<div class="clearxy"></div>
	</div>
</div> 