
<link rel="stylesheet" href="{$SiteHttpPath}css/door_configurator.css">

<div class="Content">
	<div class="connetentin">
		<div class="common_titlesm">
		<div class="common_titles">
			<div class="title_lft"></div>
			<div class="title_mid">Thankyou </div>
		</div>
		</div>
			<div class="clearxy height10"></div>
			<div class="productmain">
				<div class="product">
				<br/><br/><br/>
				{if $SuccessMessages neq '' || $ErrMessage neq '' }
                    <div class="AdmFleft SeaTotBox">							
                        <div class="Msg_Div">
                        {if $ErrMessage neq '' }<div class="Msg_error">{$ErrMessage}</div>
                        {elseif $SuccessMessages neq '' }<div class="alert alert-success">{$SuccessMessages}</div>{/if}
                        </div>
                    </div><div class="spacer"></div>
                {/if}
			
				<!-- ============================== END =================================== -->				
					<div class="productbtm"></div>
				</div> <!-- .product -->
			</div> <!-- .productmain -->
		<div class="clearxy"></div>
	</div> <!-- .connetentin -->
</div> <!-- .content -->