<!----------Product Slider START-------------->
<link href="{$SiteHttpPath}css/pro_style.css" type="text/css" rel="stylesheet" />
<script src="{$SiteHttpPath}js/jquery.bxSlider_arabic.js" type="text/javascript"></script>
<script src="{$SiteHttpPath}js/home_page.js" type="text/javascript"></script>
<!----------Product Slider END--------------> 
<link href="{$SiteHttpPath}css/lytebox.css" rel="stylesheet" />
<script src="{$SiteHttpPath}js/lytebox.js" type="text/javascript"></script> 
<link rel="stylesheet" href="http://old.nath.is/jQScrollbars/jquery.scrollbars.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script src="https://raw.github.com/brandonaaron/jquery-mousewheel/master/jquery.mousewheel.js"></script>
<script type="text/javascript" src="http://old.nath.is/jQScrollbars/jquery.scrollbars.min.js"></script>
{literal}
<script type="text/javascript">
function init() {
	$('.normal').scrollbars();
}
$(init);
</script>
{/literal}
<div class="Content">
	<div class="connetentin">
		<div class="common_titlesm">
			<div class="common_titles">
				<div class="title_lft"></div>
				<div class="title_mid">{$PageTitle}</div>
			</div>
		</div>
		<div class="clearxy height10"></div>
		<div class="productmain">
			<div class="product_gallery">
				{foreach from=$GalList item=TableDet}
					<div class="product_gallery1">
					<div class="product_gallery1a">
						<a class="lytebox" href="{$GalleryImgDisp}{$TableDet.GalleryImage}" data-lyte-options="slide:true group:vacation" data-title="{$TableDet.Title|stripslashes}"><img border='0' src="{$GalleryImgDisp}{$TableDet.GalleryImage}" width="170" height="170"/></a>
					</div>
					<div class="title_inn_gallery">
						<a class="lytebox" href="{$GalleryImgDisp}{$TableDet.GalleryImage}" data-lyte-options="slide:true group:vacation" data-title="{$TableDet.Title|stripslashes}">{$TableDet.Title|stripslashes}</a>
					</div>
					</div> 
				{/foreach} 
			</div>
 			<div class="clearxy height10"></div>
		</div>
		<div class="clearxy"></div>
	</div>
</div>