 
.clearspace{clear:both; padding:0x; margin:0;}.spacer{clear:both; padding:0; margin:0;}
.mid_body{width:1000px;padding:0px 0px 5px 0px;background:#FFFFFF;}

				/*********************Style Common*******************************/				
.AdmFleft{float:left;}.AdmFRight{float: right;}.PadAL100{padding:50px 100px 50px 200px;}.PadRLB5{padding:0 8px 5px 8px;}

.LoginBox{ width:500px; margin:10px auto;}

.PadA10{padding:10px}.PadLR10{padding:0 10px 0 10px}.ImgCen{ text-align:center; display:block;}
.ImgBord{ border:1px solid #CCCCCC;display:block; border:none;}
.ImgBordDel{ border:1px solid #CCCCCC;display:block; border:none; width:31px; height:32px;}
.ImgBord1{ border:1px solid #CCCCCC;display:block; border:none; width:95px; height:97px;}
.ImgBordban{ border:1px solid #CCCCCC;display:block; border:none; width:95px; height:97px;}
.HeadFont14{font: bold 13px Arial, Helvetica, sans-serif;color: #001B46;text-decoration: none; padding-top:10px;}
.HeadYBord14{
	font: bold 13px normal Arial, Helvetica, sans-serif;
	color: #FFF;text-decoration: none; padding:7px; background:#666666; border:2px solid #BFBFBF; margin-right:7px;
}
.HeadRBord14{
	font: bold 13px normal Arial, Helvetica, sans-serif;
	color: #FFF;text-decoration: none; padding:10px; background:#1997E4; border:2px solid #FFFFFF;
}
.forphead{
	font: bold 13px normal Arial, Helvetica, sans-serif; text-align:left;
	color: #000000;text-decoration: none; padding:10px;border-bottom:2px solid #FFFFFF;
}
.HeadFont12{font: bold 12px normal Verdana, Arial, Helvetica, sans-serif;color: #1e6a98;}
.HeadFontB12{font: bold 12px normal Verdana, Arial, Helvetica, sans-serif;color: #1e6a98;}
.ConLFont{ text-align:left;}.ConRFont{text-align: right;}.ConCFont{text-align: center;}
				/*********************Style Inner Table Design*******************************/
#gradient-style{
	font: normal 12px Arial, Helvetica, sans-serif; border-collapse:collapse; color:#000000;
	text-align:left; border:solid 1px #001B46;
}
#gradient-style thead{
	background:url(../images/menu_bg.jpg) top left repeat-x;border-top: 2px solid #001B46;
}
#gradient-style th{
	font: normal 12px Arial, Helvetica, sans-serif;padding: 8px;color:#1e6a98;
	border-top: 2px solid #001B46;border-bottom: 2px solid #001B46;
}
#gradient-style td{ line-height:30px; border-bottom: 1px solid #001B46;}
				/********************* Table Action Link Popup*******************************/
.megamenu{position: absolute;display: none;left: 0;top: 0;background: white;border: 1px solid #f06b24;border-width: 5px 1px;
padding: 10px;font: normal 12px Verdana;z-index: 100;}
.megamenu .column{float: left;width:auto; /*width of each menu column*/margin-right: 5px;}
.megamenu .column ul{margin: 0;padding: 0;list-style-type: none;}
.megamenu .column ul li{padding-bottom: 5px;}
.megamenu .column h3{background: #e0e0e0;font: bold 13px Arial;margin: 0 0 5px 0;}
.megamenu .column ul li a{font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#8F1404;text-decoration: none;}
.megamenu .column ul li a:hover{font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#8F1404; text-decoration:underline;}
			
				/*********************Style Inner Table Design*******************************/	
.con_head{width:1000px;}
.TutProWid1{width:800px; padding:0 80px 0 80px;}
.SeaTotBox{padding:10px 0 10px 0;}


.MailDet4{ width:250px; padding:5px 0px;}
.TutFont9{font: bold 12px Arial, Helvetica, sans-serif; color:#8F1404;}
.FulBorder{border: #cecfce 1px dashed;}



.con_head1{background:url(../images/left.JPG) no-repeat; width:32px; height:39px; float:left;}
.con_head2{background:url(../images/bar_1.jpg);height:39px; width:962px;float:left; }
.con_head3{background:url(../images/bar_2.jpg) no-repeat; width:6px; height:39px; float:left;}
.body_head{float:left; width:980px;}.InnDiv910{width:940px;}
.footer {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	text-align:center; width:1000px;padding:20px 0;margin:20px 0;
	border-top:2px solid #5A5B5D;border-bottom:2px solid #5A5B5D;color:#5A5A5C; 
}
.btn{
	background:#D1D1D1;
	font: bold 11px Arial, Helvetica, sans-serif !important;
	color:#1e6a98; width:auto !important;
	padding:0 15px !important;
	letter-spacing: 1px !important;
	border-radius:4px;
	-moz-border-radius:4px;
	border:1px solid #B4B4B4;
	overflow: visible !important;
	height:28px !important;
}
.InnDiv940{width:980px;}

.Msg_Div{float:left; padding:5px 0 5px 0; width:788px;}
.NewMsgDiv{
	padding:5px 0 5px 0; width:100%; width:980px; margin-bottom:10px;line-height:30px;
}
.Msg_info, .Msg_success, .Msg_warning, .Msg_error{
	width:550px; margin:0 auto; min-height:30px;
	padding:0px 0px 10px 50px; line-height:30px;
}
.Msg_info a, .Msg_success a, .Msg_warning a, .Msg_error{
	padding-top:5px; padding-right:10px;
	display:block;	
}
.Msg_success div{
	font:bold 12px Arial, Helvetica, sans-serif;
	line-height:40px;
}
.Msg_success{
	font:bold 12px Arial, Helvetica, sans-serif; color: #4F8A10;
	background-color: #e0f2cb;
	-moz-border-radius: 4px 4px / 4px 4px;
	border-radius: 4px 4px / 4px 4px;
	border:1px solid #ccebac;
}
.Msg_error {
	font:bold 12px Arial, Helvetica, sans-serif; color: #D8000C;
	background-color: #fbd3b1;
	-moz-border-radius: 4px 4px / 4px 4px;
	border-radius: 4px 4px / 4px 4px;
	border:1px solid #f5c69a;
}
.Msg_error p{
	padding:3px;
}

.txtbox1{font:normal 12px Verdana, Arial, Helvetica, sans-serif; color:#000000;border:2px solid #BFBFBF;}
.txtboxerr{font:normal 12px Verdana, Arial, Helvetica, sans-serif; color:#8F1404;border:2px solid #FF0000;}

.text_white{font:bold 12px Verdana, Arial, Helvetica, sans-serif;color:#000000;}



/** For Success and error Messages **/
.success{font:bold 12px Arial, Helvetica, sans-serif; color:#006600;}
.error{ font:bold 12px Arial, Helvetica, sans-serif; color:#EB340A; background:url(../images/validation_advice_bg.gif) no-repeat; padding-left:11px; display:none;}
.error_msg{font:bold 12px Arial, Helvetica, sans-serif; color:#EB340A;}
.error_element,.error_element:focus{ border:dotted 1px #EB340A; background:#FAEBE7;}
.anchor{font:bold 12px Verdana, Arial, Helvetica, sans-serif; color:#8F1404;}


#list_image{padding:0; margin:0; width:450px;}
#list_image li{ float:left;list-style:none; display:inline;padding:0; margin:0;}
#list_image li a {z-index:1000;position:absolute; float:left;}
#list_image li img{margin:5px; padding:0; display:inline;}

.CMDet{width:100%; padding:1% 0%; float:left;}
.CMDet1{width:27%;float:left;font:bold 12px Arial, Helvetica, sans-serif; color:#8F1404;}
.CMDet2{width:64%; padding-left:1%; float:left;font: normal 12px Arial, Helvetica, sans-serif; color:#000;}
.CMDet3{width:18%; padding:0% 2%; float:left;font:bold 12px Arial, Helvetica, sans-serif; color:#BFBFBF;}
.CMDet4{width:78%; padding:0%; float:left;font: normal 12px Arial, Helvetica, sans-serif; color:#666666;}

/*		For Pagination	*/
div.pagination {
	padding:3px;
	margin:3px 0px 3px 10px;font:bold 12px Geneva, Arial, Helvetica;
	text-align:right;
}
div.pagination a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #8F1404;
	text-decoration: none; 
	color: #00007d;
}
div.pagination a:hover, div.pagination a:active {
	border:1px solid #85BD1E;
	color: #000000;
	background: #8F1404;
}
div.pagination span.currentpage {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #8F1404;
	background: #000000;
	color: #FFFFFF;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #8F1404;
	color: #999999;
} 
.text_white a{
	color:#ff0000; text-align:left; text-decoration:none;padding:0px; margin:0px;
}

.TutProWid2{width:940px; float:left;margin:20px 0 10px 0;}
.FormDiv{
	width:100%; text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:10px;color:#1e6a98 !important;
	float:left;
}
.clearxy {
	clear:both;height:0px; padding:0; margin:0;
} 
.height10 {
	height:8px;clear:both; margin:0px; padding:0px; line-height:10px;
}	
.FormDet1{
	width:35%;float:left;
	text-align:right;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}
.FormDet1 span{
	padding:0px; margin:0px; color:#990000; text-align:right;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}
.FormDet2{
	width:5%;text-align:center; float:left;
	font-size:14px;
	line-height:20px;
	font-weight:bold;
}	
.FormDet3{
	width:55%; float:left;
	font-size:12px;
	line-height:20px;
	font-weight:bold;
}
.FormDet3 input[type="text"],.FormDet3 input[type="password"],.FormDet3 textarea,.FormDet3 select{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:18px;
	width:90%;
	border:1px solid #ddd;
	background-color:#fafafa; padding:2px;margin:0px;
}

.FormDet3 textarea{
	height:100px !important;
}