/* CSS Document */

 

input[type=text], input[type=password], select
{
	background: #ffffff url("../images/bg_ip.png") repeat-x;
	padding: 5px;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin: 0;
	border: 1px solid #c0c0c0;
}

input.search
{
	background: transparent;
	border: 0;
	width: 180px; /* important */
}

textarea
{
	background: #ffffff url("../images/bg_ip.png") repeat-x;
	padding: 3px 5px 3px 5px;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin: 0;
	border: 1px solid #c0c0c0;
}

input[type=text]:hover, input[type=password]:hover, textarea:hover
{
	background-color: #fff5d3;
	border: 1px solid #999999;
}

input[type=text]:focus, input[type=password]:focus, textarea:focus
{
	background-color: #fff5d3;
}

input[type=text].blur, input[type=password].blur, textarea.blur
{
	color: #999;
 	font-weight: normal;
 	font-style: italic;
}

input.search:hover, input.search:focus
{
	background: transparent;
	border: 0;
}

input[type=submit], input[type=button]
{
	background: #cccccc url("../images/bt_g.png") repeat-x;
	margin: 0;
	border: 1px solid #999999;
	font-weight: bold;
	padding: 7px 10px 7px 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px #444;
 	-webkit-box-shadow: 0 1px 2px #444;
 	box-shadow: 0 1px 2px #444;
 	text-shadow: 1px 0 0 #cccccc;
 	color: #333333;
 	font-size: 10px;
       
}

input[type=button].right_switch
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	background: #cccccc url("../images/bg_switch.png") repeat-x;
	font-weight: bold;
	margin: 0;
	height: 30px;
	border: 1px solid #AAA9A9;
	-moz-box-shadow: 0 1px 1px #fff;
 	-webkit-box-shadow: 0 1px 1px #fff;
 	box-shadow: 0 1px 1px #fff;
 	text-shadow: 1px 0 0 #ffffff;
 	color: #333333;
 	font-size: 10px;
}

input[type=button].left_switch
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	background: #cccccc url("../images/bg_switch.png") repeat-x;
	font-weight: bold;
	margin: 0;
	height: 30px;
	border: 1px solid #AAA9A9;
	-moz-box-shadow: 0 1px 1px #fff;
 	-webkit-box-shadow: 0 1px 1px #fff;
 	box-shadow: 0 1px 1px #fff;
 	text-shadow: 1px 0 0 #ffffff;
 	color: #333333;
 	font-size: 10px;
}

input[type=button].middle_switch
{
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	background: #cccccc url("../images/bg_switch.png") repeat-x;
	font-weight: bold;
	margin: 0;
	height: 30px;
	border: 1px solid #AAA9A9;
	-moz-box-shadow: 0 1px 1px #fff;
 	-webkit-box-shadow: 0 1px 1px #fff;
 	box-shadow: 0 1px 1px #fff;
 	text-shadow: 1px 0 0 #ffffff;
 	color: #333333;
}

input[type=submit]:hover, input[type=button]:hover, input[type=button].right_switch:hover, input[type=button].left_switch:hover, input[type=button].middle_switch:hover
{
	border: 1px solid #666666;
	background: #999999 url("../images/bt_gh.png") repeat-x;
}

input[type=submit]:active, input[type=button]:active, input[type=button].right_switch:active, input[type=button].left_switch:active, input[type=button].right_switch.active, input[type=button].left_switch.active, input[type=button].middle_switch:active, input[type=button].middle_switch.active
{
	color: #cccccc;
	border: 1px solid #999999;
	background: #999999 url("../images/bt_ga.png") repeat-x;
	text-shadow: 0 0 0 #999999;
}

/*
	WYSIWYG textarea
*/

div.wysiwyg
{
	background: #ffffff url("../images/bg_ip.png") repeat-x;
	width: 99% !important;
	font-family: Arial;
}
 

/*
	Dashboard content layout
*/ 
#content
{
	margin-left: 10px;
	padding: 20px 10px 0 0;
	min-width: 700px;
}

#content .inner1
{
	float: left;
	width: 98%;
}

/*
	Dashboard window one column layout
*/

.onecolumn
{
	width: 100%;
	background: #ffffff;
	border: 1px solid #cdcdcd;
	margin: 20px 0 20px 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 2px #cccccc;
 	-webkit-box-shadow: 0 1px 2px #cccccc;
 	box-shadow: 0 1px 2px #cccccc;
}

.onecolumn .header1
{
	margin: 0;
	padding: 0;
	float: left;
	background: #cdcdcd url("../images/bg_window_header.png") repeat-x;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid #cccccc;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
}

.onecolumn .header1 span
{
	display: block;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 0 15px;
	float: left;
	width: auto;
	cursor: n-resize;
}

.onecolumn .header1 .switch
{
	float: right;
	margin-right: 15px;
	padding: 5px 0 0 0;
}

.onecolumn .content
{
	background: #ffffff url("../images/bg_ip.png") repeat-x;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top: 1px solid #bdbdbd;
	padding: 15px;
}

table.data caption
{
	display: none;
}

table.data tr
{
	background: #ffffff;
}

table.data tr td, table.data tr th
{
	border-bottom: 1px solid #cccccc;
}

table.data tr th
{
	font-weight: bold;
	background: #eeeeee;
}

table.data tr th, table.data tr td
{
	padding: 7px;
}

table.data tr td
{
	color: #666666;
}

table#graph_data th
{
	text-align: center;
}

table#graph_data td
{
	cursor: pointer;
	text-align: center;
}

table#graph_data td.hover
{
	background: #fff5d3;
}

.chart_wrapper
{
	padding-left:20px;
	position: relative;
	top: 5px;
} 