.menu{
	border:none;border:0px;margin:0px;padding:0px;width:1000px;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.menu ul{
	background-image:url(../../images/menu_bg.jpg);
	background-repeat:repeat;	
	height:35px;list-style:none;margin:0;padding:0;
}
.menu li{ 	float:left; 	}
.menu li a{
	color:#FFFFFF;display:block;line-height:34px;
	padding:0px 40px;text-align:center;text-decoration:none;
}
.menu li ul li a{
	color:#FFFFFF;display:block;line-height:34px;
	padding:0px 10px;text-align:left;text-decoration:none;
}
.menu li a:hover{
	background:none;
	color:#7C7C7C !important;
}
.menu li:hover{
	/*background:url(../images/current-bg.gif) top left repeat-x;	color:#ffffff;*/
	
}
.menu li:hover a{
	background:none;
	color:#7C7C7C !important;	
}
.menu li ul{
	background:#e0e0e0;position:absolute;width:175px;z-index:200;
	border-left:2px solid #7C7C7C;border-right:2px solid #7C7C7C;border-bottom:2px solid #7C7C7C;
	display:none;height:auto;
}
.menu li:hover ul{ 	display:block;	}
.menu li li {
	display:block;float:none;width:175px;border-bottom: 1px solid #BFBFBF;
}
.menu li ul a{
	display:block;font-size:12px;font-style:normal;padding:0px 10px 0px 15px;text-align:left;
}
.menu li ul a:hover{
	background-color:#FFFFFF !important;color:#000000 !important;	
}
.menu .subcurrent{
	background:#949494;color:#000000 !important;	
}
.menu .current{
	background:url(../images/current-bg.gif) top left repeat-x;	color:#ffffff;
}