.PMainL200{
	width:210px;
	padding-left:5px;
	float:left;
}
.PMenuTop{
	background-color:#4599F6;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	border:1px solid #B4B4B4;		
	width:186px;
	height:35px;
	background-repeat:no-repeat;
}
.PMenuTop h5{
	font-family:Constantia;
	font-size:18px;
	text-align:center;
	padding-top:8px;
	color:#FFFFFF;
}
.PMenuBot{
	background-image: url(../images/acc_btm.png);
	width:186px;
	height:8px;
	background-repeat:no-repeat;
}
.AMenuList{
	border:1px solid #B4B4B4;
	background-image: url(../images/graythinckbg_blue.png);
	background-repeat:repeat-y;
	width:186px;
	float:left;
}
.AMenuList ul{
	list-style:none;
	margin:0;padding:0;	
}
.AMenuList li{
	padding-left:34px;
}
.AMenuList a{
	text-decoration:none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#1f1f20;
	display:block;
	height:35px;
	line-height:35px;
}
.AMenuList a:hover{
	text-decoration:none;
	color:#990d0d;
}
.PMainR730{
	padding-left:5px;
	width:725px;
	float:left;
	background-image:url(../images/myacc_rbg.png);
	background-repeat:repeat-x;
	border:1px solid #8a8d90;
	border-top:none;
	padding-bottom:30px;
}
.PMainR730 h3{
	color:#575454;
	width:730px;	
	height:30px;
	line-height:32px;
	font-size:18px;
	font-family:Trajan Pro;
	font-weight:bold;
	padding-bottom:10px;
}